{% comment %} Link above section 'header' 
<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
{% endcomment %}


{% comment %} Below section 'footer' 

<div id="slideshow-info" class="visually-hidden" aria-hidden="true">
  {{- 'sections.slideshow.navigation_instructions' | t -}}
s</div>
{% endcomment %}


{% comment %} Social links

	<ul class="sm-links">
		<li class="fb"><a href="https://www.facebook.com/myhappyv/" target="_blank" title="Follow Happy V on Facebook"></a></li>	
		<li class="ig"><a href="https://www.instagram.com/myhappyv/" target="_blank" title="Follow Happy V on Instagram"></a></li>	
	</ul>
 {% endcomment %}

{% comment %}  Ingredients drop down
	<li class="menu-item-has-children"><a href="/ingredients/">Ingredients</a>
      <div class="header-sub-menu">
      <ul class="ingredients-sub-menu">
                    {%- for link in linklists.ingredients-menu.links -%}
                      <li>
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
      </div>
	</li>
      {% endcomment %}

{% comment %} Ex top menu
	<ul class="m--top">
	<li><a href="/what-is-bv/">What is BV</a></li>
	<li class="menu-item-has-children"><a href="/shop-products/">Shop Products</a>
		<div class="header-sub-menu">
			<ul class="products-sub-menu w">
              {% assign p = "cranberry-pills-for-vaginal-health, probiotics-vaginal-health-supplement, menopause-probiotic-supplement, cbd-for-menstrual-cramps" | split: ", " %}
              {% for item in p %}
      			{% assign product = all_products[item] %}
              	{% for image in product.images %}
					{% if image contains 'extrasmall'%}
					{% assign image_index = forloop.index | minus: 1 %}
					{% endif %}
				{% endfor %}
				<li class="colored-{{ product.metafields.custom_fields["p_slug"] }}">
					<a href="{{ product.url }}" title="{{ product.title }}" class="menu--p">
                      <img class="lazyload img"
               src="{{ product.images[image_index] | img_url: 'x112' }}" 
               data-src="{{ product.images[image_index] | img_url: 'x112' }}"
               data-srcset="{{ product.images[image_index] | img_url: 'x112' }} 1x, {{ product.images[image_index] | img_url: 'x224' }} 2x, {{ product.images[image_index] | img_url: 'x336' }} 3x"         
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ page.title}}">
					<div>
						<span>{{ product.metafields.custom_fields["p_name_short"] }}</span>
						<p>{{ product.metafields.custom_fields["menu_txt"] }}</p>
					</div>
					</a>
            	</li>
				
				{% endfor %}

			</ul>
		</div>
	</li>
    
	<li><a href="https://account.happyv.com/account">Account</a></li>
	<li><a href="#" class="more-button">More +</a></li>
</ul>

{% endcomment %}

{% comment %} Logo from overlay
<a href="/" class="logo"><img src="{{ 'happy-v-logo.svg' | asset_url }}" alt="{{ shop.description}}"></a>
{% endcomment %}

<!--superreview js start-->
<!-- <script src="https://supersds.com/review/jquery.min.js?version=1600973159"></script> -->
<script>var sdsJq = $.noConflict();</script>
<script src="https://super-sds.oss-us-west-1.aliyuncs.com/jquery.pagination.js?version=1600973159"></script>
<script src="https://super-sds.oss-us-west-1.aliyuncs.com/imagesloaded.pkgd.min.js?version=1600973159"></script>
<script src="https://super-sds.oss-us-west-1.aliyuncs.com/masonry.pkgd.js?version=1600973159"></script>
<script src="https://super-sds.oss-us-west-1.aliyuncs.com/semantic.min.js?version=1600973159"></script>
<script src="https://super-sds.oss-us-west-1.aliyuncs.com/jquery.cookie.js?version=1600973159"></script>
<script src='https://supersds.com/review/super-review-app1.js?version=1600973159'></script>
{% include 'superreviews_core' %}
<!--superreview js end-->

<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->






// product quantity custom input
    $('.product-form__item--quantity').on('click', '.plus', function(e) {
      let $input = $(this).prev('input.product-form__input');
      let val = parseInt($input.val());
      $input.val( val+1 ).change();
    });
 
    $('.product-form__item--quantity').on('click', '.minus', 
      function(e) {
      let $input = $(this).next('input.product-form__input');
      var val = parseInt($input.val());
      if (val > 1) {
        $input.val( val-1 ).change();
      } 
    }); 


	
      
     
    
	   
    
		
	var slideCount = $('#slider>ul>li').length;
	var slideWidth = $('#slider>ul>li').width();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider').css({ width: slideWidth });
	
	$('#slider>ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider>ul>li:last-child').prependTo('#slider>ul');

    function moveLeft1() {
        $('#slider>ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider>ul>li:last-child').prependTo('#slider>ul');
            $('#slider>ul').css('left', '');
        });
    }

    function moveRight1() {
        $('#slider>ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider>ul>li:first-child').appendTo('#slider>ul');
            $('#slider>ul').css('left', '');
        });
    }

    $('#slider a.control_prev').click(function () {
        moveLeft1();
    });

    $('#slider a.control_next').click(function () {
        moveRight1();
    });  
		
	$( window ).scroll(function() {
		var off = $(window).scrollTop();
		if (off < 800) {
			$('.menu-wrap--product').removeClass('show');
		} else {
			$('.menu-wrap--product').addClass('show');
		}
		
  	});	 
      
      
      
    
    $('.p__buy-now').click(function () {
      var pBuy = $('.p__buy-block').position().top-140;
        $(window).scrollTop(pBuy);
      	
    });