
<div{% if active_menu != 'profile' %} class="account-menu--inner"{% endif %}>
  <h1>{{ 'customer.account.hello' | t }}{% if customer.first_name != blank %} {{ customer.first_name }}{% endif %}!</h1>
  <ul class="account-menu">
    <li class="account-link--profile{% if active_menu == 'profile' %} active{% endif %}"><a href="/account#myAccountProfile">{{ 'customer.menu.account' | t }}</a></li>
    <li><a href="/tools/recurring/login">{{ 'customer.menu.subscriptions' | t }}</a></li>
    <li class="account-link--rewards"><a href="/account#rewards">{{ 'customer.menu.rewards' | t }}</a></li>
    <li class="account-link--orders{% if active_menu == 'orderhistory' %} active{% endif %}"><a href="/account#orderhistory">{{ 'customer.menu.orders' | t }}</a></li>
    <li{% if active_menu == 'addresses' %} class="active"{% endif %}><a href="/account/addresses">{{ 'customer.menu.addresses' | t }}</a>
    <li><a href="/pages/contact" >{{ 'customer.menu.contact' | t }}</a></li>
    <li class="break"><a href="/policies/refund-policy" target="_blank">{{ 'customer.menu.return_policy' | t }}</a>
    <li>{{ 'customer.menu.log_out' | t | customer_logout_link }}</li>
  </ul>
</div>

{% if active_menu != 'profile' %}
  <div class="account-menu--link">
    <span><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 21 18" fill="none"><path d="M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.929L.293 7.293zM21 7H1v2h20V7z" /></svg></span>
    <a href="/account" class="underline">{{ 'customer.menu.account' | t }}</a>
  </div>
{% endif %}
