<div class="p-popup" id="batch-50550">
      <div class="popup-content">
        <div class="popup-container">
          <div onclick="document.getElementById('batch-50550').style.top='-9999px'" class="popup-close">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          
          <div class="p-batch">
            <div class="batch-top-left"><a class="underline" href="#" target="_blank">Download PDF</a> 
            <img src="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/eurofins_logo.png?v=1626718538" class="batch-logo" />
            </div>
            <table border="0" cellspacing="0" cellpadding="0" class="batch-style-0">
  <tbody>
    <tr>
      <td>Report Number: </td>
      <td>3264114-0</td>
    </tr>
    <tr>
      <td>Report Date:</td>
      <td>10-May-2021</td>
    </tr>
    <tr>
      <td>Report Status:</td>
      <td>Final</td>
    </tr>
    <tr>
      <td>Supercedes :</td>
      <td>3258819-0</td>
    </tr>
  </tbody>
</table>
            <div class="clearfix"></div>
<h2>Certificate of Analysis</h2>
<p class="batch-address"><strong>Nutrition Formulators  <br>
</strong>10407 North Commerce Parkway <br>
Miramar Florida 33025 </p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="batch-style-1">
  <tbody>
    <tr>
      <th scope="col">Sample Name: </th>
      <th scope="col">Prebiotic + Probiotic</th>
      <th scope="col">Eurofins Sample:</th>
      <th scope="col">10469937</th>
    </tr>
    <tr>
      <td>Project ID </td>
      <td>NUTRI_FORM-20210407-0026</td>
      <td>Receipt Date</td>
      <td>09-Apr-2021</td>
    </tr>
    <tr>
      <td>PO Number</td>
      <td>cvd</td>
      <td>Receipt Condition</td>
      <td>Ambient temperature</td>
    </tr>
    <tr>
      <td>Lot Number</td>
      <td>51266</td>
      <td>Login Date </td>
      <td>07-Apr-2021</td>
    </tr>
    <tr>
      <td>Sample Serving Size</td>
      <td>2 Cap</td>
      <td>Date Started</td>
      <td>09-Apr-2021 </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Exp.Date: 03-2023</td>
      <td>Sampled </td>
      <td>Sample results apply as received</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Online Order</td>
      <td>12047-1530870B </td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="batch-style-2">
  <tbody>
    <tr>
      <th scope="col">Analysis</th>
      <th scope="col">Result</th>
    </tr>
    <tr>
      <td colspan="2">Quantity by Input</td>
    </tr>
    <tr>
      <td>Digezyme (Amylase: 1,200 DU, Neutral Protease: 300 PC, Cellulase: 100 CU, Lactase: 200 ALU, Lipase 10 FIP)</td>
      <td>50 mg/Serving Size</td>
    </tr>
    <tr>
      <td>PreforPro (LH01, T4D, LL12 - Myoviridae, Ll5 - Siphoviridae)</td>
      <td>15 mg/Serving Size</td>
    </tr>
    <tr>
      <td>Note</td>
      <td>Quantity by Input verified and reviewed by batch record supplied by client.</td>
    </tr>
    <tr>
      <td colspan="2">Bacillus Coagulans</td>
    </tr>
    <tr>
      <td>Bacillus coagulans Enumeration</td>
      <td>230000000 CFU/Serving</td>
    </tr>
    <tr>
      <td colspan="2">Bifidobacterium spp. (Danisco)</td>
    </tr>
    <tr>
      <td>Bifidobacterium spp.</td>
      <td>3600000000 CFU/Serving</td>
    </tr>
    <tr>
      <td colspan="2">Lactobacillus Count</td>
    </tr>
    <tr>
      <td>Lactobacillus Enumeration</td>
      <td>1300000000 (est) CFU/Serving</td>
    </tr>
    <tr>
      <td colspan="2">Total Lactobacilli (Danisco)</td>
    </tr>
    <tr>
      <td>Total Lactobacilli</td>
      <td>13000000000 CFU/Serving</td>
    </tr>
    <tr>
      <td colspan="2">Bacillus coagulans Enumeration (Sabinsa)</td>
    </tr>
    <tr>
      <td>Bacillus coagulans Enumeration</td>
      <td>570000000 CFU/Serving</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="batch-style-3">
  <tbody>
    <tr>
      <th scope="col">Method References</th>
      <th scope="col">Testing Location</th>
    </tr>
    <tr>
      <td><p>Bacillus Coagulans (BCOG)</p>
      <p>Compendium of Methods for the Microbiological Examination of Foods (Probiotics) 5th Edition, Chapter 20, American Public Health Association: Washington, D.C., (2015). Modified.</p></td>
      <td>Eurofins Micro Lab - Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
    <tr>
      <td><p>Bacillus coagulans Enumeration (Sabinsa) (SABINSA)</p>
      <p>SAMI Labs Limited. Standard Test Procedures SLL/STP-B-014: Test for Total Viable Spore Count in LactoSpore, Issue 5.</p></td>
      <td>Eurofins Micro Lab - Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
    <tr>
      <td><p>Bifidobacterium spp. (Danisco) (DBIFSPP)</p>
      <p>Enumeration with TOS</p></td>
      <td>Eurofins Micro Lab - Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
    <tr>
      <td><p>Lactobacillus Count (LACTOSPP)</p>
      <p>Enumeration of Lactobacilli (sp) in Foods and Nutraceutical Preparations. Developed internally. 2010.</p></td>
      <td>Eurofins Micro Lab - Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
    <tr>
      <td><p>Quantity by Input (QTY_INPUT)</p>
      <p>NA</p></td>
      <td>Food Integrity Innovation-Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
    <tr>
      <td><p>Total Lactobacilli (Danisco) (DLACTOSPP)</p>
      <p>Enumeration with acidified MRS</p></td>
      <td>Eurofins Micro Lab - Madison<br>
        <span>6304 Ronald Reagan Ave Madison, WI 53704 USA</span></td>
    </tr>
  </tbody>
</table>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="batch-style-3">
  <tbody>
    <tr>
      <th scope="col">Testing Location(s)</th>
      <th scope="col">Released on Behalf of Eurofins by</th>
    </tr>
    <tr>
      <td><p>Food Integrity Innovation-Madison</p>
      <p>Eurofins Food Chemistry Testing Madison, Inc.<br>
        6304 Ronald Reagan Ave<br>
        Madison WI 53704<br>
      800-675-8375</p></td>
      <td>Edward Ladwig - President Eurofins Food Chemistry Testing Madison</td>
    </tr>
  </tbody>
</table>
            <p class="batch-note">These results apply only to the items tested. This certificate of analysis shall not be reproduced, except in its entirety, without the
              written approval of Eurofins.</p>
            
           </div>
        </div>
      </div>
	</div>