{% if product.gift_card? %}
  {% assign gift_num = product.variants.size | minus: 2 %}
  {% assign variant1 = product.variants[gift_num] %}
{% else %}
  {% assign variant1 = product.first_available_variant %}
{% endif %}

{% for image in product.images %}
  {% if image contains 'shopsq'%}
	{% assign image_index = forloop.index | minus: 1 %}
  {% else %}
   {% assign image_index = 0 %}
  {% endif %}
{% endfor %}
  
<li class="g gs-reviews__selector">
  <div class="shop--item--other g">
    <div class="img-wrap">
      <a href="{{ product.url }}" title="Shop {{ product.title }}">
        <img class="lazyload" src="{{ product.images[image_index] | img_url: '1x' }}"
             data-src="{{ product.images[image_index] | img_url: '270x' }}"data-srcset="{{ product.images[image_index] | img_url: '270x' }} 270w, {{ product.images[image_index] | img_url: '300x' }} 300w, 
                       {{ product.images[image_index] | img_url: '350x' }} 350w, {{ product.images[image_index] | img_url: '400x' }} 400w, 
                       {{ product.images[image_index] | img_url: '350x' }} 500w, {{ product.images[image_index] | img_url: '540x' }} 500w, 
                       {{ product.images[image_index] | img_url: '800x' }} 800w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.title }}">
      </a>
    </div>
    
    <div class="text-wrap g">
      <a href="{{ product.url }}" title="Shop {{ product.title }}"><h3 class="product-title">{{ product.title }}</h3></a>
      {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: ''%}
        <input type="hidden" name="id" value="{{ variant1.id }}" />
        <input {% unless variant1.available %}disabled="disabled"{% endunless %} type="submit" value="{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Add to cart&nbsp;&#151;&nbsp;{{ variant1.price | money }}{% endunless %}" name="add" class="btn--smaller" data-add-to-cart />
      {% endform %}
      <a href="{{ product.url }}" class="underline" title="Shop {{ product.title }}">{% unless product.gift_card? %}Learn more{% else %}Other amounts{% endunless %}</a>
    </div>
  </div>
</li>