{% assign variant1 = product.variants[0] %}
{% for image in product.images %}
  {% if image contains 'shopsq'%}
	{% assign image_index = forloop.index | minus: 1 %}
  {% else %}
    {% assign image_index = 0 %}
  {% endif %}
{% endfor %}

<li class="g gs-reviews__selector colored-{{ product.metafields.custom_fields["p-color"] }}">
  <div class="{% if product.handle == section.settings.feature_product %}featured {% endif %}shop--item">
    <div class="img-wrap">
      <a href="{{ product.url }}" title="Shop {{ product.title }}"><img class="lazyload{% if collection.handle == 'bundles' %} sq{% endif %}" src="{{ product.images[image_index] | img_url: '270x' }}"
  			data-src="{{ product.images[image_index] | img_url: '270x' }}"
  			data-srcset="{{ product.images[image_index] | img_url: '270x' }} 270w, {{ product.images[image_index] | img_url: '540x' }} 540w, 
                         {{ product.images[image_index] | img_url: '800x' }} 800w"
  			data-sizes="auto"
  			data-parent-fit="cover"
                                                                        alt="{{ product.title }}">
        {% if product.metafields.custom_fields["new_product"] == 1 %}<div class="t-caps--label t--b p-label">New</div>{% endif %}</a>
    </div>
    
    <div class="text-wrap g">
      <a href="{{ product.url }}" title="Shop {{ product.title }}"><h3 class="product-title">{{ product.title }}</h3>
      {% unless collection.handle == 'bundles' %}
      	{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
      {% endunless %}
      </a>
      <h6>{{ product.metafields.custom_fields["hp_text"] }}</h6>
      <button {% unless variant1.available %}disabled="disabled"{% endunless %} class="btn--smaller" id="add-to-cart-top-{{ forloop.index }}" title="Subscribe {{ product.title }}">{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe&nbsp;&#151;&nbsp;{{ variant1.selling_plan_allocations[0].price | money }}{% endunless %}</button>
      <a href="{{ product.url }}" class="underline" title="Shop {{ product.title }}">Shop now</a>
    </div>
  </div>
  
  <script>$('#add-to-cart-top-{{ forloop.index }}').click(function(){addItemToCart({{ variant1.id }}, 1, {{product.selling_plan_groups[0].selling_plans[0].id}})});</script>
</li>