{% if product.metafields.custom_fields["transperency_heading"] != blank %}
  <div class="custom-field custom-field__transperency-heading custom-field__type--text">
    <h3 class="custom-field--title">Transperency Heading</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["transperency_heading"] }}
    </div>
  </div>
{% endif %}