{% if product.metafields.custom_fields["p_benefits_icons"] != blank %}
  <div class="custom-field custom-field__p-benefits-icons custom-field__type--text-list">
    <h3 class="custom-field--title">Product Benefits Icons</h3>
    <div class="custom-field--value">  
      {% assign values = product.metafields.custom_fields["p_benefits_icons"] | split: "|" %}
      <ul>
      {% for value in values %}
        <li>{{ value }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}