
{% style %}


body {
  --font-family-primary: 'FF Tisa Sans', 'FF Tisa Sans Pro', sans-serif;
  --blue-dark: #2d396d;

  font-family: 'Montserrat', sans-serif;
  color: var(--blue-dark);
}

body .breadcrumb {
  padding-top: 4em;
  list-style-type: none;
  height: 120px;
  counter-reset: breadcrumb;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}

body .breadcrumb:before {
  position: absolute;
  top: 5.6em;
  left: 12.5%;
  content: '';
  width: 75%;
  height: 2px;
  background: var(--blue-dark);
}

body .breadcrumb .breadcrumb__item {
  padding-top: 20px;
  width: 25%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .breadcrumb .breadcrumb__item svg {
  display: none;
}

body .breadcrumb .breadcrumb__item::after {
  counter-increment: breadcrumb;
  content: counter(breadcrumb);
  color: var(--blue-dark)80;
  font-size: 1.4em;
  position: absolute;
  top: 0px;
  left: calc(50% - 23px);
  width: 40px;
  height: 40px;
  text-align: center;
  border: 3px solid var(--blue-dark);
  border-radius: 50%;
  line-height: 40px;
  background: white;
}

body .breadcrumb .breadcrumb__item.breadcrumb__item--current:after {
  background: #a7cded;
  color: white;
}
body .breadcrumb .breadcrumb__item.breadcrumb__item--completed:after,
body .breadcrumb  .breadcrumb__item.breadcrumb__item--completed span:after {
  background: url('{{ 'check-solid.svg' | asset_url  }}');
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #fff;
  background-size: 60%;
  content: "";
}

@media screen and (max-width: 767px) {
  body .breadcrumb {
    margin: 0 -15px;
  }
}

@media screen and (max-width: 400px) {
  .breadcrumb__item {
    font-size: 0.75em;
  }
}

.order-summary-toggle__total-recap dd {
  margin-left: 0;
}

button {
  border-radius: 2em !important;
  min-width: 12em;
  font-weight: 600 !important;
}

.section__title {
  font-size: 1.5em;
  color: var(--blue-dark) !important;
  font-weight: 500;
}

.total-line {
  color: var(--blue-dark) !important;
}

.sidebar .payment-due__price {
  color: var(--blue-dark) !important;
}

.sidebar .payment-due__currency {
  color: var(--blue-dark) !important;
}

.sidebar .order-summary__emphasis {
  color: var(--blue-dark) !important;
}

.sidebar .order-summary__small-text {
  color: var(--blue-dark) !important;
}

.sidebar .payment-due-label__total {
  color: var(--blue-dark) !important;
}

.main h2,
.main .heading-2,
.policy-list {
  font-family: var(--font-family-primary);
  color: var(--blue-dark);
}

.dynamic-checkout__title,
.alternative-payment-separator__content {
  color: var(--blue-dark);
}

.alternative-payment-separator__content {
  opacity: 0.5;
}

.step__footer__previous-link,
.step__footer__info,
.section__header p,
.total-line-table th {
  font-weight: 500;
}

.section__header p a {
  text-decoration: underline;
}

.btn {
  letter-spacing: 0.02em;
}

.field__input,
.sidebar .fireld__input {
  color: var(--blue-dark);
  font-weight: 500;
}

.field__input::placeholder {
  color: var(--blue-dark) !important;
  opacity: 0.5;
}

{% endstyle %}
