<div class="menu--overlay"></div>

<div class="menu--overlay-inner">
  <a href="/pages/website-quiz" class="btn mobile" title="{{ section.settings.quiz-link-menu }}">{{ section.settings.quiz-link-menu }}</a>
  <ul class="menu--overlay-1">
    {% for link in linklists.overlay-products.links %}
    <li {% if link.url == "/products" %} class="mobile"{% endif %}>
      <a href="{{ link.url }}" title="{{ link.title }}" {% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
      {% if linklists[link.handle] != empty %}
        <ul class="menu--overlay-sub">
          {% for link2 in linklists[link.handle].links %}
            <li><a href="{{ link2.url }}" title="{{ link2.title }}">{{ link2.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  
  <ul class="menu--overlay-2">
    <li>
      <a href="/pages/rewards" title="Happy V Rewards">Happy V<span class="pink">IP Rewards</span></a>
    </li>
    {%- for link in linklists.overlay-new-2.links -%}
    <li>
      <a href="{{ link.url }}" title="{{ link.title | escape }}" {% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
  
  <ul class="menu--overlay-3">
    <li class="mobile">
      {% if shop.customer_accounts_enabled %}
      	<a href="/account" class="g">{% include 'icon-login-custom' %}<span>{% if customer  %}Account{% else %}Sign in{% endif %}</span></a>
      {% endif %}
    </li>
    {% comment %}
    <li>
      <a href="/cart" class="g">{% include 'icon-cart-custom' %}<span>{{ 'layout.cart.title' | t }}</span></a>
    </li>
    {% endcomment %}
    <li>
      <span class="chat-link g">{% include 'icon-help-custom' %}<span>Live Chat</span></a>
    </li>
  </ul>
  
  {% comment %}
  <p>{{ section.settings.quiz-text }}</p>
  {% endcomment %}

  <a href="javascript:void(0)" class="menu-close">
    <svg viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25.9648 2.12129C26.3553 1.73077 26.3553 1.0976 25.9648 0.707078C25.5742 0.316554 24.9411 0.316554 24.5506 0.707078L13.3358 11.9218L2.12117 0.707107C1.73065 0.316582 1.09748 0.316582 0.706956 0.707107C0.316431 1.09763 0.316431 1.7308 0.706956 2.12132L11.9216 13.336L0.707626 24.55C0.317102 24.9405 0.317101 25.5737 0.707626 25.9642C1.09815 26.3547 1.73132 26.3547 2.12184 25.9642L13.3358 14.7502L24.5499 25.9642C24.9404 26.3548 25.5736 26.3548 25.9641 25.9642C26.3546 25.5737 26.3546 24.9406 25.9641 24.55L14.7501 13.336L25.9648 2.12129Z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M25.9648 2.12129C26.3553 1.73077 26.3553 1.0976 25.9648 0.707078C25.5742 0.316554 24.9411 0.316554 24.5506 0.707078L13.3358 11.9218L2.12117 0.707107C1.73065 0.316582 1.09748 0.316582 0.706956 0.707107C0.316431 1.09763 0.316431 1.7308 0.706956 2.12132L11.9216 13.336L0.707626 24.55C0.317102 24.9405 0.317101 25.5737 0.707626 25.9642C1.09815 26.3547 1.73132 26.3547 2.12184 25.9642L13.3358 14.7502L24.5499 25.9642C24.9404 26.3548 25.5736 26.3548 25.9641 25.9642C26.3546 25.5737 26.3546 24.9406 25.9641 24.55L14.7501 13.336L25.9648 2.12129Z" /></svg>
  </a>
</div>	
