<svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="none"><path d="M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.929L.293 7.293zM21 7H1v2h20V7z" /></svg>