<svg viewBox="0 0 23 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.668254 39.9426C-0.0997056 39.1759 -0.0997055 37.9329 0.668254 37.1662L17.3448 20.5176L0.668257 3.86895C-0.0997024 3.10228 -0.0997023 1.85926 0.668257 1.09258C1.43621 0.325907 2.68132 0.325907 3.44928 1.09258L21.5163 19.1294C22.2843 19.8961 22.2843 21.1391 21.5163 21.9058L3.44928 39.9426C2.68132 40.7092 1.43621 40.7092 0.668254 39.9426Z"/>
</svg>
