<ul>
  {%- for article in blog.articles limit: 3 -%}
  {% assign a_url = a_url_all[1] | split: '#' | first %}
  <li{% if forloop.index0 == 1 %} id="center"{% endif %}>
    {% assign a_url_all = article.excerpt | split: '|' %}

    {% if a_url_all[0] == '' %}
    <div class="img-wrap"><img src="{{ 'blog-empty.png' | asset_url }}" alt="{{ article.title }}"></div>
    {% else %}
    <a href="{{ a_url_all[1] }}" class="img-wrap" target="_blank" rel="noopener">
      <img class="lazyload" data-src="{{ a_url_all[0] }}" alt="{{ article.title }}">     
    </a>
    {% endif %}
    <a href="{{ a_url_all[1] }}" class="t-caps--link no-border" target="_blank" rel="noopener" title="{{ article.title }}">{{ article.title }}</a>
  </li>
  {%- endfor -%}
</ul>

<a class="btn--secondary" href="http://blog.happyv.com" target="_blank" rel="noopener" title="Read blog">Read blog</a>