<div class="product-carousel_products-2" >

  <h2 class="product-carousel__title" >Our Top Selling Products</h2> 
  <ul class="hp--products wrap--mid g product--rating">
  
      {% assign collection = collections['featured-products']%}
    {% for product in collection.all_products %}	
        {% assign variant1 = product.variants[0] %}
        {% for image in product.images %}
          {% if image contains 'with-capsules' %}
          {% assign image_index_mob = forloop.index | minus: 1 %}
          {% elsif image contains '-bottlehp'%}
          {% assign image_index_hp = forloop.index | minus: 1 %}  
          {% endif %}
      {% endfor %}
      <li class="colored-{{ product.metafields.custom_fields["p-color"] }}">
        <a href="{{ product.url }}" title="Shop {{ product.metafields.custom_fields["p_name"] }}">
          <div class="img-wrap">
          <img class="lazyload"
            src="{{ product.images[image_index_hp] | img_url: '100x' }}"
            data-src="{{ product.images[image_index_hp] | img_url: '308x' }}"
            data-srcset="{{ product.images[image_index_hp] | img_url: '200x' }} 200w, {{ product.images[image_index_hp] | img_url: '300x' }} 300w, 
                        {{ product.images[image_index_hp] | img_url: '400x' }} 400w, {{ product.images[image_index_hp] | img_url: '600x' }} 600w, 
                        {{ product.images[image_index_hp] | img_url: '308x' }} 308w, {{ product.images[image_index_hp] | img_url: '614x' }} 614w"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ product.title }}">
            {% if product.metafields.custom_fields["new_product"] == 1 %}<div class="t-caps--label t--b p-label">New</div>{% endif %}
          </div>
        
        <div class="p--txt g">
          <div>
            <h4 class="product-title">{{ product.metafields.custom_fields["p_name_short"] }}</h4>
            {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
          
          <p>{{ product.metafields.custom_fields["hp_text"] }}</p>
            </div>
          <span class="underline" title="Shop {{ product.title }}">Learn more</span>
        </div>
        </a>  
      </li>
      {% endfor %}
  </ul>
</div>