{%comment%} Kaktus App Code: Do not Delete! {%endcomment%}
<script>
{% assign isKAPPInstalled = false %}
{% if content_for_header contains 'hi.kaktusapp.com' %} {% assign isKAPPInstalled = true %} {% endif %}
window.isKAPPInstalled = {{ isKAPPInstalled }};</script>
{% if isKAPPInstalled == true %}<script async src="https://hi.kaktusapp.com/storage/js/kaktus-app-723.js?ver=1&shop={{ shop.permanent_domain  }}"></script>{% endif %}