<div id="suppfacts_popup" class="p-popup suppfacts-popup">
  <div class="popup-content g">
    <div class="popup-container{% if product.type contains 'Bundle' %} bundle-container{% endif%}">
      <div onclick="document.getElementById('suppfacts_popup').style.top='-9999px'" class="popup-close">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      {% if product.type contains 'Supplement' %}
      <div class="supp-facts">
        <div class="inner">
          <h4>{{ product.metafields.custom_fields["supplement_facts_popup"] }}</h4>
          {{ product.metafields.custom_fields["p_suppfacts"] }}
        </div>
        {{ product.metafields.custom_fields["p_suppfacts_bottom"] }}
      </div>
      {% elsif product.type contains 'Bundle' %}
      <ul class="tabs" role="tablist">
        {% for product_handle in bundle_content %}
        {% assign product_ref = all_products[product_handle] %}
        <li onclick="tapToggle(this)">
          <input type="radio" name="tabs" id="tab{{forloop.index}}"{% if forloop.index == 1 %} checked{% endif %} />
          <label for="tab{{forloop.index}}" 
                 role="tab" 
                 aria-selected="true" 
                 aria-controls="panel{{forloop.index}}" 
                 tabindex="0">{{product_ref.title}}</label>
          <div id="tabs-content{{forloop.index}}" 
               class="tabs-content" 
               role="tabpanel" 
               aria-labelledby="description" 
               aria-hidden="false">
            <div class="supp-facts">
              <div class="inner">
                <h6>{{ product_ref.metafields.custom_fields["supplement_facts_popup"] }}</h6>
                {{ product_ref.metafields.custom_fields["p_suppfacts"] }}
              </div>
              {{ product_ref.metafields.custom_fields["p_suppfacts_bottom"] }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <br style="clear: both;" />
      {% endif %}
    </div>
  </div>
</div>

<script>
  function tapToggle(ele) {
    $(".tabs li input").prop("checked", false);
    $(ele).find("input").prop("checked", true);
  }
</script>




