<div class="p-facility w">
	<h5>MADE IN <a href="https://happyv.com/our-facility/">OUR FACILITY</a>. NOT SOMEBODY ELSE’S </h5>
	<div class="g">
		<div class="g--1"><img src="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/facility-7.jpg?v=1587094304" alt="Happy V facility"></div>
		<div class="g--2"><img src="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/facility-1.jpg?v=1587094293" alt="Happy V facility"></div>
		<div class="g--3">
			<p>What makes us truly different? We aren’t just marketers who are looking towards the next wave of products. We have been manufacturing dietary supplements for 25 years, and by owning our own facility, we have direct oversight on quality, production and price.
          <a class="t-caps--link" href="/pages/our-facility" title="Our Facility">Check out our Facility</a></p>
			
		</div>
	</div>
</div>