<ol class="breadcrumbs t-caps--small" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="https://happyv.com" title="Happy V">
        <span itemprop="name">Happy V</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="https://happyv.com/products/" title="Feminine Health products">
      <span itemprop="name">Feminine Health products</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>