<div class="menu-wrap--product colored-{{ product.metafields.custom_fields["p_slug"] }}">
	<div class="menu-wrap--inner">
		<div class="w">
		<a href="/" class="logo"><img src="{{ 'happy-v-logo.svg' | asset_url }}" alt="{{ shop.description}}"></a>
		<div class="t--bold c--link">{{ product.metafields.custom_fields["p_name_short"] }}</div>
        <span class="btn p__buy-now">Buy Now</span>  
      </div>
  </div>
</div>
