<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>
  {% assign image_index = 0 %}
  {% for image in product.images %}
  	{% if image contains '-gallery-main'%}
  		{% assign image_index = forloop.index | minus: 1 %}
  {% endif %}
  {% endfor %}
  
  {% if image_index != 0 %}

  <div class="img-wrap">
      <a href="{{ product.url }}" title="Shop {{ product.title }}"><img class="lazyload" src="{{ product.images[image_index] | img_url: '1x' }}"
  			data-src="{{ product.images[image_index] | img_url: '450x' }}"
  			data-srcset="{{ product.images[image_index] | img_url: '270x' }} 270w, {{ product.images[image_index] | img_url: '300x' }} 300w,
                         {{ product.images[image_index] | img_url: '350x' }} 350w, {{ product.images[image_index] | img_url: '400x' }} 400w,
                         {{ product.images[image_index] | img_url: '450x' }} 450w, {{ product.images[image_index] | img_url: '500x' }} 500w,
                         {{ product.images[image_index] | img_url: '540x' }} 540w, {{ product.images[image_index] | img_url: '800x' }} 800w"
  			data-sizes="auto"
  			data-parent-fit="cover"
                                                                        alt="{{ product.title }}"></a>
    </div>
  
  {% else %}
  <div class="img-wrap">
      <a href="{{ product.url }}" title="Shop {{ product.title }}"><img class="lazyload" src="{{ product.featured_image | img_url: '1x' }}"
  			data-src="{{ product.featured_image | img_url: '450x' }}"
  			data-srcset="{{ product.featured_image | img_url: '270x' }} 270w, {{ product.featured_image | img_url: '300x' }} 300w, 
                         {{ product.featured_image | img_url: '350x' }} 350w, {{ product.featured_image | img_url: '400x' }} 400w, 
                         {{ product.featured_image | img_url: '450x' }} 450w, {{ product.featured_image | img_url: '540x' }} 540w, 
                         {{ product.featured_image | img_url: '540x' }} 540w, {{ product.featured_image | img_url: '800x' }} 800w"
  			data-sizes="auto"
  			data-parent-fit="cover"
                                                                        alt="{{ product.title }}"></a>
    </div>
  
  {% endif %}
  
  <div class="text-wrap">

	
    <a href="{{ product.url }}" title="Shop {{ product.title }}"><h3 class="product-title">{{ product.title }}</h3></a>
  <h6>{{ product.metafields.custom_fields["hp_text"] }}</h6>
  {% comment %}<h6>{{ product.metafields.custom_fields["shop_text"] }}</h6>{% endcomment %}
  <a href="{{ product.url }}" class="underline" title="Shop {{ product.title }}">Learn more</a>

  {% comment %}{% include 'product-price', variant: product %}{% endcomment %}
  </div>
</div>
   