{% if product.metafields.custom_fields["p_benefits_icons"] != blank %}
{% assign values = product.metafields.custom_fields["p_benefits_icons"] | split: "|" %}
{% else %}
{% assign values = "Clinically Proven, Delayed-Release Capsules, Vegan-Friendly & Non GMO, Major Allergen Free, No Artificial Stuff" | split: ', ' %}
{% endif %}

<ul class="p2-genearal-benefits">
  {% for value in values %}
  	{% case value %}
  	  {% when 'Clinically Proven' %}
  		{% assign benefit-icon = 'icon-benefit-clinically-proven' %}
  		{% assign benefit-text = value %}
      {% when 'Delayed-Release Capsules' %}
  		{% assign benefit-icon = 'icon-benefit-delayed-release-capsules' %}
  		{% assign benefit-text = value %}
      {% when 'Vegan-Friendly & Non GMO' %}
  		{% assign benefit-icon = 'icon-benefit-vegan-friendly-non-gmo' %}
  		{% assign benefit-text = value %}
      {% when 'Major Allergen Free' %}
  		{% assign benefit-icon = 'icon-benefit-major-allergen-free' %}
  		{% assign benefit-text = value %}
      {% when 'No Artificial Stuff' %}
  		{% assign benefit-icon = 'icon-benefit-no-artificial-stuff' %}
  		{% assign benefit-text = value %}
  	  {% when 'Alcohol Free' %}
  		{% assign benefit-icon = 'icon-benefit-alcohol-free' %}
  		{% assign benefit-text = value %}
      {% when 'Effectively Dosed' %}
  		{% assign benefit-icon = 'icon-benefit-effectively-dosed' %}
  		{% assign benefit-text = value %}
      {% when 'Flavor – Great taste' %}
  		{% assign benefit-icon = 'icon-benefit-flavor-great-taste' %}
  		{% assign benefit-text = value %}
  	{% endcase %}
  <li class="g">{% include benefit-icon %}<span>{{ benefit-text }}</span></li>
  {% endfor %}
</ul>