<script id="rebuy-cart-template" type="text/template">
  <div id="rebuy-cart" class="rebuy-cart" v-cloak v-bind:class="[visible ? 'is-visible' : '', 'currency-' + currency() ]">
    <div class="rebuy-cart__flyout">
      <div class="rebuy-cart__flyout-header">
        <h4 class="rebuy-cart__flyout-title" v-html="settings.language.cart_title"></h4>
        <button class="rebuy-cart__flyout-close" type="button" v-on:click="hide()" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="rebuy-cart__flyout-body">
        <div class="rebuy-cart__flyout-announcement-bar" id="rebuy-smart-cart-announcement-bar" v-if="announcementBarEnabled()">
          <div class="rebuy-cart__flyout-announcement-bar-message" v-for="message in settings.announcement_bar.messages" v-html="message"></div>
        </div>

        <div class="rebuy-cart__flyout-shipping-bar" v-if="freeShippingEnabled()" v-bind:class="[ freeShippingHelperMessage() ? 'has-helper' : '', hasFreeShipping() ? 'has-free-shipping': '' ]">
          <div class="rebuy-cart__flyout-shipping-bar-message" v-if="!hasFreeShipping()" v-html="freeShippingRemainingMessage()"></div>
          <div class="rebuy-cart__flyout-shipping-bar-message" v-if="hasFreeShipping()" v-html="freeShippingCompleteMessage()"></div>
          <div class="rebuy-cart__flyout-shipping-bar-meter" v-bind:class="[hasFreeShippingProgress() ? 'has-progress' : 'no-progress']">
            <div class="rebuy-cart__flyout-shipping-bar-meter-fill" v-bind:style="{ width: freeShippingPercentComplete() }">
              <span class="rebuy-cart__flyout-shipping-bar-meter-fill-text" v-html="freeShippingPercentComplete()"></span>
            </div>
          </div>
          <div class="rebuy-cart__flyout-shipping-bar-helper" v-if="freeShippingHelperMessage()" v-html="freeShippingHelperMessage()"></div>
        </div>

        <div class="rebuy-cart__flyout-content" v-bind:class="[ hasItems() ? 'has-items' : 'no-items' ]">
          <div class="rebuy-cart__flyout-items" v-if="hasItems()">
            <div class="rebuy-cart__flyout-item" v-for="item in items()" v-if="!isHiddenItem(item)" v-bind:class="[ 'product-' + item.handle ]">
              <div class="rebuy-cart__flyout-item-info-grid g">
                  <div class="cart-image g">
                    <a v-bind:href="itemURL(item)"><img v-bind:src="sizeImage(item.image, '240x240')" v-bind:alt="item.title" /></a>
                  </div>
                    <div class="t--b t-caps--label cart-label" >
                    <span v-if="item.product.subscription">{{ 'cart.subscription.subscription' | t }}</span>
                    <span v-if="item.product.subscription && item.variant_title == '1'">{{ 'cart.subscription.monthly_doses' | t }}, {{ 'cart.subscription.monthly' | t }}</span>
                    <span v-if="item.product.subscription && item.variant_title == '3'">{{ 'cart.subscription.quarterly_doses' | t }}, {{ 'cart.subscription.quarterly' | t }}</span>
                    <button class="rebuy-cart__flyout-item-remove" type="button" v-on:click="removeItem(item)" aria-label="Remove item">
                      <svg viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.72598 2H0.5C0.223858 2 0 2.22386 0 2.5C0 2.77614 0.223858 3 0.5 3H1V12.5C1 13.3284 1.67157 14 2.5 14H9.5C10.3284 14 11 13.3284 11 12.5V3H11.5C11.7761 3 12 2.77614 12 2.5C12 2.22386 11.7761 2 11.5 2H9.27402C8.44608 0.77593 7.24297 0.125016 6 0.125016C4.75703 0.125016 3.55392 0.77593 2.72598 2ZM4.01303 2H7.98697C7.39266 1.40413 6.68404 1.12502 6 1.12502C5.31596 1.12502 4.60734 1.40413 4.01303 2ZM10 3H2V12.5C2 12.7761 2.22386 13 2.5 13H9.5C9.77614 13 10 12.7761 10 12.5V3Z" /></svg>
                    </button>
                  </div>
                  <!--div class="rebuy-cart__flyout-item-discount-message" v-if="hasLineItemDiscount(item)" v-html="lineItemDiscountMessage(item)"></div-->
                  <div class="cart-title">
                    <a class="product-title" v-bind:href="itemURL(item)" v-html="item.product_title"></a>
                  </div>
                  <!--div class="rebuy-cart__flyout-item-variant-title" v-html="item.variant_title" v-if="item.variant_title"></div-->
                  <!--div class="rebuy-cart__flyout-item-properties" v-if="hasItemProperties(item)">
                    <div class="rebuy-cart__flyout-item-property rebuy-cart__flyout-item-property--delivery-frequency" v-if="itemDeliveryFrequency(item)" v-html="itemDeliveryFrequency(item)"></div>
                    <div class="rebuy-cart__flyout-item-property" v-for="property in itemProperties(item)" v-bind:class="[ itemPropertyKeyClass(property), itemPropertyValueClass(property) ]">
                      <span class="rebuy-cart__flyout-item-property-name" v-html="property.key"></span>
                      <span class="rebuy-cart__flyout-item-property-separator">:</span>
                      <span class="rebuy-cart__flyout-item-property-value" v-html="property.value"></span>
                    </div>
                  </div-->
                  <div class="t--b product-price">
                    <div v-if="itemHasDiscount(item)">
                      <span class="rebuy-money sale" v-html="formatMoney(itemPrice(item))"></span>
                      <span class="rebuy-money compare-at" v-html="formatMoney(compareAtPrice(item))"></span>
                    </div>
                    <div v-if="!itemHasDiscount(item)">
                      <span class="rebuy-money" v-html="formatMoney(itemPrice(item))"></span>
                    </div>
                  </div>
                  <div class="rebuy-cart__flyout-item-quantity">
                    <div class="rebuy-cart__flyout-item-quantity-widget">
                      <button class="rebuy-cart__flyout-item-quantity-widget-button" v-on:click="decreaseItem(item)" type="button" aria-label="Decrease">
                        <i class="far" v-bind:class="[(item.status == 'decreasing') ? 'fa-sync-alt fa-fast-spin' : 'fa-minus']"></i>
                      </button>
                      <span class="rebuy-cart__flyout-item-quantity-widget-label" v-html="item.quantity"></span>
                      <button class="rebuy-cart__flyout-item-quantity-widget-button" v-on:click="increaseItem(item)" type="button" aria-label="Increase">
                        <i class="far" v-bind:class="[(item.status == 'increasing') ? 'fa-sync-alt fa-fast-spin' : 'fa-plus']"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="rebuy-cart__flyout-item-subscription" v-if="hasSwitchToSubscription(item) && item.variant_title != '3'">
                  <button class="rebuy-button outline g" v-if="!item.product.subscription || item.status == 'downgrading' || item.status == 'upgrading'" v-bind:disabled="(item.status == 'downgrading' || item.status == 'upgrading')" v-on:click="updateItemDeliveryFrequency(item, item.product.subscription_frequencies[0])" type="button">
                    <span v-html="switchToSubscriptionLabel(item)" class="underline"></span>
                  </button>
                  <button class="rebuy-button outline g" v-if="item.product.subscription && item.status != 'downgrading' && !item.product.is_subscription_only">
                    <div>
                      <span v-html="subscriptionOptionLabel(item, item.product.subscription_frequencies[0], item.product.subscription_interval)"></span>
                      <span v-html="onetimeOptionLabel(item)" v-on:click="updateItemDeliveryFrequency(item, 'onetime')" class="underline"></span>
                   </div>
                  </button>
                </div>
                <div class="rebuy-cart__flyout-item-subscription" v-if="item.variant_title == '3'">
                  <button class="rebuy-button outline g" disabled type="button">
                   <span v-html="subscriptionOptionLabel(item, '3', item.product.subscription_interval)"></span>
                  </button>
                </div>
              </div>
              <div class="rebuy-cart__flyout-note" v-if="notesEnabled()">
                <label class="rebuy-cart__flyout-note-toggle">
                  <input class="rebuy-cart__flyout-note-toggle-input rebuy-checkbox" type="checkbox" v-model="notes.visible" v-on:click="notesToggle()" />
                  <span class="rebuy-cart__flyout-note-toggle-label" v-html="settings.language.notes_label"></span>
                </label>
                <div class="rebuy-cart__flyout-note-content" v-if="notesIsVisible()">
                  <textarea id="rebuy-cart-notes" class="rebuy-textarea rebuy-cart__flyout-note-textarea" v-model="notes.value" v-on:keyup="notesChange(event)" v-on:keydown="notesChange(event)" v-on:change="notesChange(event)" v-bind:placeholder="settings.language.notes_placeholder"></textarea>
                  <small id="rebuy-cart-characters-remaining" v-html="notesRemainingCharacters()"></small>
                </div>
              </div>
            </div>
            <div class="rebuy-cart__flyout-empty-cart" v-if="!hasItems()" v-html="emptyCartMessage()"></div>
            <div class="rebuy-cart__flyout-recommendations" v-if="hasCrossSells()">
            <div v-for="widget_id in settings.cross_sells" v-bind:data-rebuy-id="widget_id"></div>
          </div>
        </div>
      </div>
      <div class="rebuy-cart__flyout-footer" v-if="hasItems()">
        <div v-if="shouldShowDiscountInput && shouldShowDiscountInput()" class="rebuy-cart__flyout-discount">
          <div class="rebuy-cart__flyout-discount-left">
            <span class="rebuy-cart__flyout-label" v-html="settings.language.discount_code_label"></span>
          </div>
          <div class="rebuy-cart__flyout-discount-right">
            <div class="rebuy-cart__flyout-discount-input">
              <input class="input" v-model="discount.inputValue" id="rebuy-discount-input" aria-label="Input Discount" autocomplete />
              <span v-if="showInvalidMessage()" class="rebuy-cart__flyout-discount-message" v-html="settings.language.discount_invalid_message"> </span>
            </div>
            <button class="rebuy-button" v-on:click="applyDiscount()" v-bind:disabled="discount.loading" >
              <span v-html="discountButtonLabel && discountButtonLabel()"></span>
            </button>
          </div>
        </div>
        <div v-if="shouldShowDiscountSubtotal && shouldShowDiscountSubtotal()" class="rebuy-cart__flyout-discount-amount rebuy-cart__flyout-discount--amount">
          <div class="rebuy-cart__flyout-discount-left">
            <span class="rebuy-cart__flyout-label" v-html="discountLabel && discountLabel()"></span>
            <div class="rebuy-cart__flyout-tag" v-on:click="removeDiscount()">
              <span> <i class='fas fa-tags'></i> </span>
              <span v-html="discount.inputValue"></span>
              <span class="rebuy-cart__flyout-tag-time"> <i class="fas fa-times"></i> </span>
            </div>
          </div>
          <div class="rebuy-cart__flyout-subtotal-amount rebuy-cart__flyout-discount-right" v-html="discountTotal && discountTotal()"> </div>
        </div>

        <div class="rebuy-cart__flyout-subtotal">
          <div class="rebuy-cart__flyout-subtotal-label">
            <span v-html="subtotalLabel()"></span>
          </div>
          <div class="rebuy-cart__flyout-subtotal-amount" v-html="subtotal()"></div>
        </div>
           <div class="rebuy-cart__flyout-actions">
          <button v-if="hasCheckoutButton()" class="btn--smaller" type="button" v-on:click="checkout()">
            <svg viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.58077 6.78339L3.5808 6.78367C3.58246 6.80032 3.58328 6.81686 3.58329 6.83325H9.58319C9.5832 6.81688 9.58402 6.80035 9.58568 6.78372L9.58571 6.7834L9.58585 6.78191L9.58673 6.77224C9.58754 6.76312 9.58876 6.74873 9.59024 6.72942C9.5932 6.69079 9.59719 6.63256 9.60094 6.55754C9.60845 6.40735 9.61498 6.19073 9.61064 5.93006C9.6019 5.40571 9.54932 4.7175 9.37941 4.03788C9.20846 3.35413 8.92808 2.7167 8.49027 2.25586C8.06673 1.81005 7.46935 1.50006 6.58324 1.50006C5.69712 1.50006 5.09973 1.81005 4.67619 2.25586C4.23838 2.7167 3.958 3.35413 3.78706 4.03788C3.61715 4.7175 3.56457 5.40571 3.55584 5.93006C3.55149 6.19073 3.55803 6.40734 3.56554 6.55754C3.56929 6.63256 3.57327 6.69079 3.57624 6.72942C3.57772 6.74872 3.57894 6.76311 3.57975 6.77223L3.58063 6.78191L3.58077 6.78339ZM10.5851 6.83325C10.5858 6.82508 10.5865 6.81594 10.5873 6.80587C10.5909 6.75905 10.5955 6.69196 10.5997 6.60748C10.6081 6.43868 10.6153 6.19958 10.6105 5.9134C10.601 5.34404 10.5442 4.57399 10.3495 3.79533C10.1559 3.02081 9.8165 2.19997 9.21525 1.5671C8.59974 0.91921 7.73879 0.500061 6.58324 0.500061C5.42768 0.500061 4.56673 0.919209 3.95121 1.5671C3.34996 2.19997 3.01055 3.02081 2.81692 3.79534C2.62225 4.57399 2.56546 5.34405 2.55597 5.9134C2.55121 6.19959 2.55835 6.43868 2.56679 6.60748C2.57101 6.69196 2.57557 6.75905 2.57916 6.80587C2.57994 6.81594 2.58066 6.82508 2.58133 6.83325H0.166748V14.9999H13V6.83325H10.5851Z" /></svg>
            <span v-html="checkoutLabel()"></span>
          </button>
          <button v-if="hasViewCartButton()" class="btn rebuy-button block" v-bind:class="{'outline': hasCheckoutButton()}" type="button" v-on:click="viewCart()">
            <span v-html="viewCartLabel()"></span>
          </button>
          <button v-if="hasContinueShoppingButton()" class="rebuy-button g block outline" type="button" v-on:click="hide()">
            <span v-html="continueShoppingLabel()"></span>
          </button>
        </div>

        <!-- GS updates 28Apr (elena) container to insert icons -->
        {% if additional_checkout_buttons %}<div class="additional-checkout-buttons__cart">{{ content_for_additional_checkout_buttons }}</div>{% endif %}
        <!-- GS updates 28Apr end -->

        <!-- GS updates 20Mar (elena) container to insert icons -->
        <div class="payment-icons__list"> </div>
        <!-- GS updates 20Mar end -->

        <div class="rebuy-cart__flyout-installments" v-if="installmentsEnabled()" v-html="installmentsMessage()"></div>
      </div>
    </div>
    <div class="rebuy-cart__background" v-on:click="hide()"></div>
  </div>
</script>
