<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
  Subscription Product
  http://rechargepayments.com: v3.5.10
-->
{% if product.metafields.subscriptions.shipping_interval_frequency %}
  {% comment %}Subscriptions Powered by ReCharge Payments: Meta Fields{% endcomment %}
  {% comment %}Widget settings{% endcomment %}
  {% assign widget_settings = shop.metafields.subscriptions %}
  {% if widget_settings.subscription_active == 'true' %}
    {% assign subscription_active = true %}
  {% else %}
    {% assign subscription_active = false %}
  {% endif %}
  {% if widget_settings.select_subscription_first == 'false' %}
    {% assign select_subscription_first = false %}
  {% else %}
    {% assign select_subscription_first = true %}
  {% endif %}
  {% if widget_settings.disable_duplicates == 'true' %}
    {% assign disable_duplicates = true %}
  {% else %}
    {% assign disable_duplicates = false %}
  {% endif %}
  {% assign first_option = widget_settings.first_option | default: "onetime" %}
  {% comment %}Subscription settings{% endcomment %}
  {% assign subscription_product = product.metafields.subscriptions %}
  {% assign shipping_interval_unit_type = subscription_product.shipping_interval_unit_type | default: 'Days' %}
  {% if shipping_interval_unit_type == 'day' %}
    {% assign shipping_interval_unit_type = 'Days' %}
  {% elsif shipping_interval_unit_type == 'week' %}
    {% assign shipping_interval_unit_type = 'Weeks' %}
  {% elsif shipping_interval_unit_type == 'month' %}
    {% assign shipping_interval_unit_type = 'Months' %}
  {% endif %}
  {% assign shipping_interval_frequency = subscription_product.shipping_interval_frequency | split: ',' | default: 30 %}
  {% assign product_tags = product.tags | remove: ' ' | downcase %}
  {% if subscription_product.is_subscription_only == 'true' or product_tags contains 'subscriptiononly' %}
    {% assign subscription_only = true %}
  {% else %}
    {% assign subscription_only = false %}
  {% endif %}
  {% comment %}Product settings{% endcomment %}
  {% assign variant_map = subscription_product.original_to_hidden_variant_map | default: false %}
  {% if variant_map %}
    {% capture variant_to_duplicate %}{ {% for variant in variant_map %}{% if variant[1]['discount_variant_id'] %}{{ variant[0] }}:'{{ variant[1]['discount_variant_id'] }}',{% endif %}{% endfor %} }{% endcapture %}
    {% capture variant_to_price %}{ {% for variant in product.variants %}{{ variant.id }}:'{{ variant.price }}',{% endfor %} }{% endcapture %}
    {% capture duplicate_to_price %}{ {% for variant in variant_map %}{% if variant[1]['discount_variant_id'] %}{{ variant[1]['discount_variant_id'] }}:'{{ variant[1]['discount_variant_price'] | replace: ".", "" }}',{% endif %}{% endfor %} }{% endcapture %}
  {% endif %}
  {% comment %}Discount settings{% endcomment %}
  {% assign discount_percentage = subscription_product.discount_percentage | round: 2 %}
  {% assign discount_floor = subscription_product.discount_percentage | floor %}
  {% if discount_percentage == discount_floor %}
    {% assign discount_percentage = discount_floor %}
  {% endif %}
  {% comment %}Widget translation{% endcomment %}
  {% assign label_onetime = widget_settings.onetime_message | default: "One-time purchase" %}
  {% assign label_autodeliver = widget_settings.subscribe_message | default: "Subscribe &amp; save" %}
  {% assign label_deliver_every = widget_settings.widget_deliver_every | default: "Deliver every" %}
  {% assign label_unit_type_legacy = subscription_product.label_unit_type | default: shipping_interval_unit_type %}
  {% if widget_settings.translations %}
    {% if shipping_interval_unit_type == 'Days' %}
      {% assign label_unit_type_singular = widget_settings.translations['day'] | default: "Day" %}
      {% assign label_unit_type_plural = widget_settings.translations['days'] %}
    {% elsif shipping_interval_unit_type == 'Weeks' %}
      {% assign label_unit_type_singular = widget_settings.translations['week'] %}
      {% assign label_unit_type_plural = widget_settings.translations['weeks'] %}
    {% else %}
      {% assign label_unit_type_singular = widget_settings.translations['month'] %}
      {% assign label_unit_type_plural = widget_settings.translations['months'] %}
    {% endif %}
  {% endif %}
  {% assign subscription_details_label = widget_settings.subscription_details_verbiage | default: "Subscription details" %}
  {% assign how_it_works_text = widget_settings.how_it_works | default: "<strong>How subscriptions work</strong><br><br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime." %}
  {% assign learnmore_link = widget_settings.learnmore_verbiage | default: "Learn more..." %}
  {% comment %}Popup settings{% endcomment %}
  {% if widget_settings.show_subscription_details == 'false' %}
    {% assign show_widget = false %}
  {% else %}
    {% assign show_widget = true %}
  {% endif %}
  {% if widget_settings.show_subscription_details_icon == 'false' %}
    {% assign show_widget_icon = false %}
  {% else %}
    {% assign show_widget_icon = true %}
  {% endif %}
  {% if widget_settings.show_learnmore == 'false' %}
    {% assign show_learnmore = false %}
  {% else %}
    {% assign show_learnmore = true %}
  {% endif %}
  {% if widget_settings.show_poweredby == 'false' %}
    {% assign show_poweredby = false %}
  {% else %}
    {% assign show_poweredby = true %}
  {% endif %}
  {% comment %}Custom styling{% endcomment %}
  {% assign widget_label_color = widget_settings.font_color | default: "#000000" %}
  {% assign widget_active_color = widget_settings.active_color | default: "#676767" %}
  {% assign widget_active_bg = widget_settings.background_color | default: "#F8F8F8" %}
  {% assign widget_icon = widget_settings.widget_icon | default: "black" %}
  {% if widget_icon == "white" %}
    {% assign widget_icon = "//static.rechargecdn.com/static/images/widget/rc_widget__icon__white@2x.png" %}
  {% else %}
    {% assign widget_icon = "//static.rechargecdn.com/static/images/widget/rc_widget__icon__black@2x.png" %}
  {% endif %}
  {% assign popup_zindex = widget_settings.popup_zindex | default: "56" %}
  {% assign popup_background_color = widget_settings.popup_background_color | default: "#474747" %}
  {% assign popup_text_color = widget_settings.popup_text_color | default: "#FFFFFF" %}
  {% assign popup_link_color = widget_settings.popup_link_color | default: "#4DD6B7" %}
  {% assign recharge_custom_css = widget_settings.custom_css | defalut: "" %}
  {% comment %}Learn more link{% endcomment %}
  {% if widget_settings.learnmore_url %}
    {% if widget_settings.learnmore_url contains "rechargepayments.com/subscribe-with-recharge" %}
      {% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
    {% else %}
      {% assign learnmore_url = widget_settings.learnmore_url %}
    {% endif %}
  {% else %}
    {% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
  {% endif %}
  {% comment %}Powered by badge{% endcomment %}
  {% if widget_settings.poweredby_url %}
    {% if widget_settings.poweredby_url contains "rechargepayments.com/subscribe-with-recharge" %}
      {% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
    {% else %}
      {% assign poweredby_url = widget_settings.poweredby_url %}
    {% endif %}
  {% else %}
    {% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
  {% endif %}
  <!-- Subscriptions Powered by ReCharge Payments: CSS -->
  <!--link href="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/css/rcWidget.css" rel="stylesheet" type="text/css"-->
  <style>
      /* default styles */
      div#rc_container{display:block;clear:both;width:100%;flex:none;margin-bottom:1em;}div#rc_container>.select-wrapper{display:none}#rc_duplicateSelect,#rc_shipping_interval_unit_type,#rc_subscription_id{display:none!important}label.rc_label{vertical-align:middle;line-height:2;}label.rc_label__deliver_every{display:inline-block;}select.rc_select{margin-bottom:0;vertical-align:middle;max-width:100%;font-size:100%;display:initial}div.rc_block{white-space:nowrap}div.rc_popup{white-space:nowrap;padding:8px}div.rc_popup__block{display:none;position:absolute;top:100%;cursor:default;left:0;text-align:left;white-space:normal}form[action^="/cart/add"] [type=submit]{visibility:hidden}#rc_container+script+.selector-wrapper{margin-top:10px}#rc_container .jumpstart-selector{margin-top:8px}#addToCartForm #rc_container .rc_select{max-width:100%}#productPrice-product-template small{display:none}
      /* ReCharge CSS */
      {{ recharge_custom_css }}
      /* Add Custom CSS Below */
      div#rc_container{position:relative;height:7em}div.rc_block__type{padding:.7em;border:1px solid #d7d7d7;display:grid;grid-gap:.3em;margin-top:-1px;background:#fff;cursor:pointer;border-radius:5px}div.rc_block__type--active{background:#f8f6f6}div.rc_block__type__options{font-family:Montserrat,sans-serif;font-weight: 500;font-size:.9em;max-width:19em}.rc_radio{position:absolute;opacity:0;display:block;height:0;width:0}label.rc_label{display:block;cursor:pointer;margin-top:-.35em;pointer-events:none}.rc_label__delivery{font-size:.75em;white-space:normal;display:block;max-width:420px;margin-top:2px}label.rc_label__deliver_every{max-width:19em}.rc_price{display:none}.rc_label__frequency,img.rc_popup__icon{display:none}.rc_label__discount{border-radius:3px;padding:6px 7px;line-height:100%;align-self:start;text-align:center;justify-self:start}.rc_expand{background:url({{'arr-down.svg' | asset_url }}) no-repeat center center;width:16px;height:8px;position:absolute;top:1em;right:1em}#rc_radio_options{position:absolute;width:100%}#rc_radio_options.open>.rc_block__type{display:grid!important}#rc_radio_options>.rc_block__type:not(.rc_block__type--active){display:none}@media only screen and (min-width:400px){.rc_price{display:inline}.rc_price:before{content:' — '}.rc_price:after{font-size:.9em;padding-left:.25em}.rc_label__onetime .rc_price:after{content:'/btl.'}#Product-cranberrypowder .rc_label__onetime .rc_price:after{content:'/bag'}.rc_label__autodeliver .rc_price:after{content:'/mo.'}.rc_label__autodeliver3 .rc_price:after{content:'/3 mo.'}}@media only screen and (min-width:550px){div#rc_container{height:5em}div.rc_block__type__autodeliver,div.rc_block__type__autodeliver3{grid-template-columns:4em 1fr;grid-gap:1em}div.rc_block__type__onetime{padding-left:5.7em}}

      div#rc_container { margin-bottom: 1.5em; }
      div.rc_block { white-space: normal; }
      div.rc_block__type { position: relative; display: block; padding: 0.750em 2.250em 0.750em 5.813em; }
      div.rc_block__type__options { line-height: 1.22; }
      .rc_label__discount { position: absolute; top: 11px; left: 11px; padding: 0.125em 0.583em; font-size: 0.889em; line-height: 1.25; text-transform: none; text-transform: none; }
      div#rc_radio_options.open>.rc_block__type { display: block !important; }

      label.rc_label { margin: 0 0 0.438em; line-height: 1.2; }

      @media (min-width: 500px) {
        .rc_label__discount { font-size: 0.833em; }
      }

      .rc-radios-show,
      .rc-simple-show { display: none !important; }

      [data-class="rc-radios"] .rc-radios-hide,
      [data-class="rc-simple"] .rc-simple-hide { display: none !important; }

      /* Radio Class */
      [data-class="rc-simple"] .rc-simple-show { display: inline !important; }

      [data-class="rc-simple"] #rc_container { position: static; height: auto; }
      [data-class="rc-simple"] div#rc_radio_options { position: static; display: flex; flex-flow: row wrap; width: auto; margin-top: 0; }

      [data-class="rc-simple"] .rc_block { width: 100%; }
      [data-class="rc-simple"] .rc_block__type__autodeliver { order: 1; }
      [data-class="rc-simple"] .rc_block__type__autodeliver3 { order: 2; }
      [data-class="rc-simple"] .rc_block__type__onetime { order: 3; }
      [data-class="rc-simple"] #rc_radio_options>.rc_block__type:not(.rc_block__type--active) { display: block !important; }
      [data-class="rc-simple"] div.rc_block__type { padding-right: 0.750em; margin-bottom: 0.438em; }
      [data-class="rc-simple"] .rc_expand { display: none !important; }

      [data-class="rc-simple"] .rc_price { display: inline; white-space: nowrap; }
      [data-class="rc-simple"] .rc_price:before { display: inline; content: ' — '; }
      [data-class="rc-simple"] .rc_price:after { display: inline; padding-left: 0.25em; }

      [data-class="rc-simple"] .rc_label__onetime .rc_price:after { content: '/btl.'; }
      [data-class="rc-simple"] .rc_label__autodeliver .rc_price:after { content: '/mo.'; }

      @media only screen and (min-width: 400px) {
        /*[data-class="rc-simple"] .rc_label__onetime .rc_price:after{content:'/btl.'}*/
        /*[data-class="rc-simple"] .rc_label__autodeliver .rc_price:after{content:'/btl.'}*/
        /*[data-class="rc-simple"] .rc_label__autodeliver3 .rc_price:after{content:'/mo.'}*/
        /*#Product-cranberrypowder [data-class="rc-simple"] .rc_label__onetime .rc_price:after{content:'/bag'}*/
        /*#Product-cranberrypowder [data-class="rc-simple"] .rc_label__autodeliver .rc_price:after{content:'/bag'}*/
        /*#Product-cranberrypowder [data-class="rc-simple"] .rc_label__autodeliver3 .rc_price:after{content:'/bag'}*/
      }

      @media only screen and (min-width: 550px) {
        [data-class="rc-simple"] div#rc_container { height: auto; }
      }

      /* Radio Buttons Class */
      [data-class="rc-radios"] .rc-radios-show { display: inline !important; }

      [data-class="rc-radios"] .bundle-upsale-title { display: none; }

      [data-class="rc-radios"] #rc_container { position: static; height: auto; margin-bottom: 0; }
      [data-class="rc-radios"] div#rc_radio_options { position: static; display: flex; flex-flow: row wrap; width: auto; }

      [data-class="rc-radios"] .rc_block { width: 100%; }
      [data-class="rc-radios"] .rc_block__type__autodeliver { order: 1; }
      [data-class="rc-radios"] .rc_block__type__autodeliver3 { order: 2; }
      [data-class="rc-radios"] .rc_block__type__onetime { order: 3; }

      [data-class="rc-radios"] label.rc_label { padding: 0.188em 0; margin: 0 0 0.063em; font-size: 1em; line-height: 1.22; letter-spacing: 0; }
      [data-class="rc-radios"] label.rc_label.rc_label__onetime { padding-right: 5.938em; }

      [data-class="rc-radios"] .radio { position: absolute; top: 12px; left: 10px; width: 20px; height: 20px; border: 1px solid #2d396d; border-radius: 100%; background: #fff; }
      [data-class="rc-radios"] .radio:after { content: ''; position: absolute; top: 50%; left: 50%; display: none; transform: translate(-50%, -50%); width: 16px; height: 16px; border-radius: 100%; background: #2d396d; }
      [data-class="rc-radios"] .rc_block__type--active .radio:after { display: block; }

      [data-class="rc-radios"] .rc_price { position: absolute; top: 12px; right: 12px; display: inline; font-size: 1em; line-height: inherit; font-weight: bold; }
      [data-class="rc-radios"] .rc_price:before { display: none; }
      [data-class="rc-radios"] .rc_price:after { display: inline; padding-left: 0.25em; font-size: 0.8em; font-weight: 600; }
      [data-class="rc-radios"] div.rc_block__type__onetime .rc_price { top: 15px; }

      [data-class="rc-radios"] #rc_radio_options>.rc_block__type:not(.rc_block__type--active) { display: block !important; }

      [data-class="rc-radios"] div.rc_block__type { position: relative; padding: 2.125em 0.750em 0.750em 2.500em; margin-bottom: 0.625em; }
      [data-class="rc-radios"] div.rc_block__type__onetime { padding: 0.750em 0.750em 0.750em 2.500em; }

      [data-class="rc-radios"] .rc_expand { display: none !important; }

      [data-class="rc-radios"] .rc_label__delivery { display: none; margin-right: 0.625em; font-size: 0.833em; line-height: inherit; font-weight: 500; }

      [data-class="rc-radios"] .rc_label__discount { position: absolute; top: 12px; left: 40px; display: inline-block; }

      .colored-blue [data-class="rc-radios"] .rc_label__discount { background: #f388af; color: #fff; }

      [data-class="rc-radios"] .rc_label__onetime .rc_price:after{content:'/btl.'}
      [data-class="rc-radios"] .rc_label__autodeliver .rc_price:after{content:'/btl.'}
      [data-class="rc-radios"] .rc_label__autodeliver3 .rc_price:after{content:'/btl.'}
      #Product-cranberrypowder [data-class="rc-radios"] .rc_label__onetime .rc_price:after{content:'/bag'}
      #Product-cranberrypowder [data-class="rc-radios"] .rc_label__autodeliver .rc_price:after{content:'/bag'}
      #Product-cranberrypowder [data-class="rc-radios"] .rc_label__autodeliver3 .rc_price:after{content:'/bag'}

      [data-class="rc-radios"] .product-form__item--quantity { display: none; }

      @media only screen and (min-width: 400px) {
        [data-class="rc-radios"] div.rc_block__type { padding-right: 0.750em; padding-left: 3.875em; }
        [data-class="rc-radios"] div.rc_block__type__onetime { padding-right: 6.250em; }

        [data-class="rc-radios"] .radio { left: 16px; width: 26px; height: 26px; }
        [data-class="rc-radios"] .radio:after { width: 20px; height: 20px; }

        [data-class="rc-radios"] .rc_label__discount { left: 62px; }
      }

      @media only screen and (min-width: 550px) {
        [data-class="rc-radios"] div#rc_container { height: auto; margin-top: 1.875em; }

        [data-class="rc-radios"] div.rc_block__type { padding: 0.750em 1.875em 0.750em 3.875em; }

        [data-class="rc-radios"] .rc_price { right: 30px; font-size: 1.250em; }

        [data-class="rc-radios"] label.rc_label,
        [data-class="rc-radios"] label.rc_label.rc_label__onetime { padding-right: 6.875em; }

        [data-class="rc-radios"] .rc_label__discount { position: static; }
      }
	</style>
  <!-- Subscriptions Powered by ReCharge Payments: HTML -->
  <div class="t--b bundle-upsale-title">{{ 'products.subscription.subscription_title' | t }}</div>
  <div id="rc_container" class="{% if subscription_only %}rc_subscription-only {% endif %}">
      <input type="hidden" name="" id="rc_shipping_interval_unit_type" value="{{ shipping_interval_unit_type }}">
      <select id="rc_duplicate_selector" aria-hidden="true" class="styled replaced no-js" style="display: none">
        {% if variant_to_duplicate %}
          {% for variant in variant_map %}
          {% if variant[1]['discount_variant_id'] %}
            <option value="{{ variant[1]['discount_variant_id'] }}">{{ variant[1]['discount_variant_id'] }}</option>
          {% endif %}
          {% endfor %}
        {% else %}
          {% for variant in product.variants %}
          <option value="{{ variant.metafields.subscriptions.discount_variant_id }}">{{ variant.metafields.subscriptions.discount_variant_id }}</option>
          {% endfor %}
        {% endif %}
      </select>

      <div id="rc_radio_options" role="radiogroup" aria-labelledby="Purchase options" class="{% if first_option == "autodeliver" %}rc_reverse-options{% endif %}">
        {% unless subscription_only %}
          <div class="rc_block rc_block__type rc_block__type__onetime" onclick="toggle_drop_down(this)">
            <div>
              <label for="rc_purchase_type_onetime" class="t--b rc_label rc_label__onetime">
                <input type="radio" id="rc_purchase_type_onetime" name="purchase_type" value="onetime" {% unless select_subscription_first %}checked{% endunless %} class="rc_radio rc_radio__onetime">
                <span class="radio"></span>
                <span class="rc-radios-hide">
                  {{ label_onetime }}
                </span>
                <span class="rc-radios-show">
                  {{ 'products.subscription.onetime_radios' | t }}
                </span>
                {% if discount_percentage > 0 %}<span id="rc_price_onetime" class="rc_price rc_price__onetime" aria-label="original price">{{ product.price | money }}</span>{% endif %}
              </label>
              <div class="rc_block rc_block__type__options">
                <span class="rc_label__delivery rc-radios-show">{{ 'products.subscription.onetime_description_radios' | t }}</span>
              </div>
              <div class="product-form__item--quantity g">
                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" >
                <input type='button' value='+' class='qtyplus plus' field='quantity' />
              </div>
            </div>
            <div class="rc_expand"></div>
          </div>
        {% endunless %}

        {% comment %} 1 Month option {% endcomment %}
        {% assign value = product.variants[0].price | times: 0.9 | money %}

        <div class="rc_block rc_block__type rc_block__type__autodeliver rc_block__type--active" onclick="toggle_drop_down(this)" {% if subscription_only and shipping_interval_frequency.size == 1 %}style="display: none;"{% endif %}>
            <div>
              {% unless subscription_only %}
              <label for="rc_purchase_type_autodeliver" class="t--b rc_label rc_label__autodeliver">
                <input type="radio" name="purchase_type" id="rc_purchase_type_autodeliver" value="autodeliver" {% if select_subscription_first %}checked{% endif %} class="rc_radio rc_radio__autodeliver" {% if subscription_only %}style="display: none;"{% endif %}>
                <span class="radio"></span>
                {{ 'products.subscription.monthly' | t }}
                {% if discount_percentage > 0 %}<span id="rc_price_autodeliver" class="rc_price rc_price__autodeliver" aria-label="recurring price">{{product.variants[0].selling_plan_allocations[0].price | money }}</span>{% endif %}
              </label>
              {% endunless %}

              <div class="rc_block rc_block__type__options">
                <label for="rc_shipping_interval_frequency" class="rc_label__deliver_every" aria-label="Subscription frequency options">
                  <span class="rc_label__delivery">{{ 'products.subscription.monthly_description' | t: value: value }}</span>
                  <span class="rc_label__delivery rc-radios-show">{{ 'products.subscription.monthly_description_radios' | t: value: value }}</span>
                  {% if discount_percentage > 0 %}<span class="rc_label__discount t--b t-caps--label" aria-label="subscription discount">Save {{ discount_percentage }}%</span>{% endif %}

                  {% if shipping_interval_frequency.size == 1 %}
                  <span class="rc_label__frequency">
                    {{ shipping_interval_frequency[0] }}
                    {% if shipping_interval_frequency[0] == "1" and label_unit_type_legacy == 'Months' or label_unit_type_legacy == 'Weeks' %}
                      {% if label_unit_type_singular %}
                      {{ label_unit_type_singular }}
                      {% else %}
                      {{ label_unit_type_legacy | remove: 's' }}
                      {% endif %}
                    {% else %}
                      {% if label_unit_type_plural %}
                        {{ label_unit_type_plural }}
                      {% else %}
                        {{ label_unit_type_legacy }}
                      {% endif %}
                    {% endif %}
                  </span>
                  {% endif %}

                  <select name="" id="rc_shipping_interval_frequency" class="rc_select rc_select__frequency styled replaced{% if shipping_interval_frequency.size == 1 %} hide{% endif %}">
                    {% for frequency in shipping_interval_frequency %}
                    <option value="{{ frequency }}">
                      {{ frequency }}
                      {% if frequency == "1" and label_unit_type_legacy != 'Days' %}
                        {% if label_unit_type_singular %}
                          {{ label_unit_type_singular }}
                        {% else %}
                          {{ label_unit_type_legacy | remove: 's' }}
                        {% endif %}
                      {% else %}
                        {% if label_unit_type_plural %}
                          {{ label_unit_type_plural }}
                        {% else %}
                          {{ label_unit_type_legacy }}
                        {% endif %}
                      {% endif %}
                    </option>
                    {% endfor %}
                  </select>

                </label>
              </div>

          </div>
          <div class="rc_expand"></div>
        </div>

        <!-- 3months manual option -->
        {% assign full_value = product.variants[1].selling_plan_allocations[1].price | money %}
        {% assign quarterly_value = product.variants[1].selling_plan_allocations[1].price | divided_by: 3 | money %}

        <div class="rc_block rc_block__type rc_block__type__autodeliver3" onclick="toggle_drop_down(this)">
          <div>
            <label for="rc_purchase_type_autodeliver3" class="t--b rc_label rc_label__autodeliver3">
              <input type="radio" id="rc_purchase_type_autodeliver3" name="purchase_type" value="autodeliver3"  class="rc_radio rc_radio__autodeliver3">
              <span class="radio"></span>
              {{ 'products.subscription.quarterly' | t }}
              <span class="rc_price rc_price__autodeliver3 rc-radios-hide rc-simple-hide" aria-label="recurring price">{{ full_value }}</span>
              <span class="rc_price rc_price__autodeliver3 rc-simple-show" aria-label="recurring price">{{ full_value }}</span>
              <span class="rc_price rc_price__autodeliver3 rc-radios-show" aria-label="recurring price">{{ quarterly_value }}</span>
            </label>
            <div class="rc_block rc_block__type__options">
              <span class="rc_label__delivery">{{ 'products.subscription.quarterly_description' | t: value: quartely_value }}</span>
              <span class="rc_label__delivery rc-radios-show">{{ 'products.subscription.quarterly_description_radios' | t: value: full_value }}</span>

              <span class="rc_label__discount t-caps--label t--b" aria-label="subscription discount">Save 15%</span>
            </div>
          </div>
          <div class="rc_expand"></div>
        </div>
        <!-- end 3months manual option -->
      </div>
  </div>

  <!-- Subscriptions Powered by ReCharge Payments: JS -->
    <script src="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/js/rcWidget.js"></script>
  <script>
    // start purchase drop-down
      var priceSingle = '{{ product.price | money }}';
      var priceOne = '{{ variant1.metafields.subscriptions.discount_variant_price }}';
      var price3 = '{{ variant3.price | money }}';
      var price = '{{ product.price }}';

      function toggle_drop_down(ele) {
          $('.rc_expand').css("display", "none");
        if($('#rc_radio_options').hasClass('open') == false){
          $('.rc_block__type__onetime').find('.rc_expand').css("display", "initial")
        }else{
          $(ele).find('.rc_expand').css("display", "initial");
        }
        $('#rc_radio_options').toggleClass('open');
        $('.rc_block__type__onetime').removeClass('rc_block__type--active');
        $('.rc_block__type__autodeliver').removeClass('rc_block__type--active');
        $('.rc_block__type__autodeliver3').removeClass('rc_block__type--active');
        $(ele).addClass('rc_block__type--active');

        if($(ele).hasClass('rc_block__type__onetime')) {
          $('.product-form__cart-submit').css('display', 'none');
          $('#addtocart_single').css('display', 'grid');
          let val = parseInt($(".product-form__input").val());
          var priceMult = '$'+(val)*price/100;
          $('.p-btn-num').text(priceMult);
          $(".rc_label__onetime").trigger("click");
        }

        else if($(ele).hasClass('rc_block__type__autodeliver')) {
          $('.product-form__cart-submit').css('display', 'none');
          $('#addtocart_monthly').css('display', 'grid');
          $('.p-btn-num').text('$' + priceOne);
          $(".rc_label__autodeliver").trigger("click");
        }

        else {
          $('.product-form__cart-submit').css('display', 'none');
          $('#add-to-cart-3').css('display', 'grid');
        }

      }

      $(".rc_label__onetime").on("click", function(e) {
        e.stopPropagation();
      });

      $(".rc_label__autodeliver").on("click", function(e) {
        e.stopPropagation();
      });

      $('.product-form__item--quantity').on('click', '.plus', function(e) {
        e.stopPropagation();
        let $input = $(this).prev('input.product-form__input');
        let val = parseInt($input.val());
        $input.val( val+1 ).change();
        var priceMult = '$'+(val+1)*price/100;
        $('.p-btn-num').text(priceMult);
      });

      $('.product-form__item--quantity').on('click', '.minus', function(e) {
        e.stopPropagation();
        let $input = $(this).next('input.product-form__input');
        var val = parseInt($input.val());
        if (val > 1) {
          $input.val( val-1 ).change();
          var priceMult = '$'+(val-1)*price/100;
          $('.p-btn-num').text(priceMult);
        }
      });
      // end purchase drop-down
</script>

<script>
      (function() {
        var options = {
          active: {{ subscription_active }},
          select_subscription_first: {{ select_subscription_first }},
          shop_currency: {{ shop.currency | json }},
          money_format: {{ shop.money_format | json }},
          disable_duplicates: {{ disable_duplicates }},
        },
        myProduct = {
          id: {{ product.id }},
          subscription_only: {{ subscription_only }},
          discount_percentage: {{ discount_percentage }},
          variant_to_duplicate: {% if variant_to_duplicate %}{{ variant_to_duplicate }}{% else %}{ {% for variant in product.variants %}{{ variant.id }}:'{{ variant.metafields.subscriptions.discount_variant_id }}', {% endfor %} }{% endif %},
          variant_to_price: {% if variant_to_price %}{{ variant_to_price }}{% else %}{ {% for variant in product.variants %}{{ variant.id }}:'{{ variant.price }}', {% endfor %} }{% endif %},
          duplicate_to_price: {% if duplicate_to_price %}{{ duplicate_to_price }}{% else %}{ {% for variant in product.variants %}{{ variant.metafields.subscriptions.discount_variant_id }}: '{{ variant.metafields.subscriptions.discount_variant_price | replace: ".", "" }}', {% endfor %} }{% endif %},
        };
        if (document.readyState === "complete" || document.readyState === "loaded") {
          if (!window.ReCharge) { window.ReCharge = new rcWidget(options); }
          ReCharge.addProduct(myProduct);
        } else {
          document.addEventListener("DOMContentLoaded", function() {
            if (!window.ReCharge) { window.ReCharge = new rcWidget(options); }
            ReCharge.addProduct(myProduct);
          }, {passive: true});
        }

        window.addEventListener('pageshow', function(event) {
          if (event.persisted || window.performance && window.performance.navigation.type === 2) {
              window.location.reload();
          }
        }, false);
      })();

  </script>
{% endif %}
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
