<div class="account-page">
  
  {% render 'account-menu', active_menu: 'profile' %}
    
  <div id="myAccountProfile" class="account-target">
    
    <div class="myaccount profile--section">
      <h2>{{ 'customer.account.profile_title' | t }}</h2>
      <form>
        <label>{{ 'customer.account.first_name' | t }}
          <input type="text" disabled value="{% if customer.first_name != blank %}{{ customer.first_name }}{% endif %}">
        </label>
        
        <label>{{ 'customer.account.last_name' | t }}
          <input type="text" disabled value="{% if customer.last_name != blank %}{{ customer.last_name }}{% endif %}">
        </label>
        
        <label>{{ 'customer.account.email' | t }}
          <input type="text" disabled value="{% if customer.email != blank %}{{ customer.email }}{% endif %}">
        </label>
        
        <label>{{ 'customer.account.phone' | t }}
          <input type="text" disabled value="{% if customer.phone != blank %}{{ customer.phone }}{% endif %}">
        </label>
      </form>
      
      <p>{{ 'customer.account.edit_info_html' | t: link: '/pages/contact', class: 'underline' }}</p>
    </div>
    
    {% if customer.orders.size != 0 %}
    <div class="lastorder profile--section">
      <h2>{{ 'customer.account.order_title' | t }}</h2>
      
      {% assign lastorder = customer.orders.first %}
      {% assign line_item = lastorder.line_items.first %}
      <div class="orders--item">
        <ul>
          <li>{{ 'customer.orders.status' | t }}: {{ lastorder.financial_status_label | prepend: '<b>'}}, {{ lastorder.fulfillment_status_label | append: '</b>' }} </li>
          <li>{{ 'customer.orders.date' | t }}: {{ lastorder.created_at | time_tag: format: 'date' | prepend: '<b>' | append: '</b>' }}</li>
          <li>{{ 'customer.orders.order_number' | t }}: {{ lastorder.name | prepend: '<b>' | append: '</b>' }} </li>
          <li>{{ 'customer.orders.total' | t }}: {{ lastorder.total_price | money | prepend: '<b>' | append: '</b>' }}</li>
        </ul>
        <div class="img-wrap">
          {{ line_item.image | img_url: '250x315' | scale: 2 | img_tag }}  
          <a href="{{ lastorder.customer_url }}" class="underline">{{ 'customer.orders.details' | t }}</a>
        </div>
      </div>
      <a href="#orderhistory" class="underline lastorder--link">{{ 'customer.account.order_history' | t }}</a>
        <p>{{ 'customer.account.subscriptions_html' | t: link: '/tools/recurring/login', class: 'underline' }}</p>
    </div>
    {% endif %}

    <div class="rewards" id="rewards">
      <h2>{{ 'customer.account.rewards_title' | t }}</h2>
      <div class="yotpo-widget-instance" data-yotpo-instance-id="169213"></div>
    </div>

    <div class="defaultaddress profile--section">
      <h2>{{ 'customer.account.address_title' | t }}</h2>
      {{ customer.default_address | format_address }}

      <a href="/account/addresses" class="underline">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
    </div>
    
      <div class="myaccount--order-history account-target" id="orderhistory">
		<div class="account-menu--link"><span><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 21 18" fill="none"><path d="M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.929L.293 7.293zM21 7H1v2h20V7z" /></svg></span> <a href="/account" class="underline">{{ 'customer.menu.account' | t }}</a></div>

      <h2>{{ 'customer.orders.title' | t }}</h2>
      <p>{{ 'customer.account.subscriptions_html' | t: link: '/tools/recurring/login', class: 'underline' }}</p>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
        
        {% for order in customer.orders %}
        	{% assign line_item = order.line_items.first %}
        
        <div class="orders--item">
        <ul>
          <li>{{ 'customer.orders.status' | t }}: {{ order.financial_status_label | prepend: '<b>'}}, {{ order.fulfillment_status_label | append: '</b>' }} </li>
          <li>{{ 'customer.orders.date' | t }}: {{ order.created_at | time_tag: format: 'date' | prepend: '<b>' | append: '</b>' }}</li>
          <li>{{ 'customer.orders.order_number' | t }}: {{ order.name | prepend: '<b>' | append: '</b>' }} </li>
          <li>{{ 'customer.orders.total' | t }}: {{ order.total_price | money | prepend: '<b>' | append: '</b>' }}</li>
        </ul>
        <div class="img-wrap">
          {{ line_item.image | img_url: '250x315' | scale: 2 | img_tag }}  
          <a href="{{ order.customer_url }}" class="underline">Order details</a>
        </div>
        </div>
        {% endfor %}

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
    <!-- Begin ReCharge code -->
    <p id="rc_link_container">
      <a href="/tools/recurring/login">Manage Subscriptions</a>
    </p>
    <!-- End ReCharge code -->
  </div>
</div>


<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<style>
	div#rc_login {
		display: block;
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
</style>
<div id="rc_login" style="display: none;">
	<h5>Having issues managing your subscriptions?</h5>
	<p>
		<a href="/tools/recurring/get-subscription-access" class="underline">Click here</a>
	</p>
</div>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->

<script>
  $('.myaccount--order-history').hide();
  if(window.location.hash == '#orderhistory') {showOrders();}
  if(window.location.hash == '#myAccountProfile') {hideOrders();}
  
  $('.account-link--profile a').click( function() {
    hideOrders();
  })
  
  $('.account-link--orders').click( function() {
    showOrders();
  })
  
  $('.lastorder--link').click( function() {
    showOrders();
  })
  
  function showOrders(){
    $('.profile--section').hide();
    $('.myaccount--order-history').show();
    $('.account-link--orders').addClass('active');
    $('.account-link--profile').removeClass('active');
  }
  
  function hideOrders(){
    $('.profile--section').show();
    $('.myaccount--order-history').hide();
    $('.account-link--orders').removeClass('active');
    $('.account-link--profile').addClass('active');
  }
</script>

{% comment %}
<div class="flits-hidden flits-old-code-snippet" style="display:none;">
	{% render 'flits_account_old' %}
</div>
<div class="flits-code-snippet">
	{% render 'flits_account_page_snippet' %}
</div>
{% endcomment %}
