<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

  <meta name="google-site-verification" content="lkbitkumSsX_iVu81ts8DnNgEIf9j1mDDKd8IeA_D7Y" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <link rel="dns-prefetch" href="https://cdn.shopify.com">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/montserrat-v18-latin-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/TisaSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/TisaSansPro-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title  | remove: "LANDING " }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %} 
  
  {% include 'css-fonts' %}
  {{ 'landing.scss.css' | asset_url | stylesheet_tag }}
  
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  
  {{ content_for_header }}

</head>

<body class="template-landing">
{% if page.metafields.custom_fields["product_reference"] != blank %}{% assign product = all_products[page.metafields.custom_fields["product_reference"]] %}
{% else %}{% assign product = all_products["probiotics-vaginal-health-supplement"] %}{% endif %}
{% if page.metafields.custom_fields["lp-color"] != blank %}{% assign color_ref = page.metafields.custom_fields["lp-color"] %}{% else %}{% assign color_ref = "blue" %}{% endif %}
  <div class="lp-wrap" id="PageContainer" data-product="{{product.title}}">
    <main class="main-content g js-focus-hidden{% if template.name == "index" %} hp--page{% else %} template-{{ template | split: '.' | last }}{% endif %} colored-{{color_ref}}" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </div>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PM64CMK');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM64CMK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  
  
<script defer src="{{ 'lazysizes.js' | asset_url }}"></script>
<script>
function swipe(n,e,t){var o=document.querySelector(n);o.addEventListener("touchstart",function(n){a=n.touches[0].clientX,s=n.touches[0].clientY},{passive:!0}),o.addEventListener("touchmove",function(n){if(null===a)return;if(null===s)return;var o=n.touches[0].clientX,l=n.touches[0].clientY,u=a-o,i=s-l;Math.abs(u)>Math.abs(i)&&(u>0?e():t());a=null,s=null,n.preventDefault()},{passive:!0});var a=null,s=null}!function(n){n(document).ready(function(){n(".more-button").click(function(){n(".menu--overlay-inner>.nav-button").toggleClass("nav-show"),n(".menu--overlay").toggleClass("nav-show"),n(".menu--overlay-inner").toggleClass("nav-show")}),n(".menu--overlay-inner>.nav-button").click(function(){n(".menu--overlay").toggleClass("nav-show"),n(".menu--overlay-inner").toggleClass("nav-show"),n(this).toggleClass("nav-show")})})}(jQuery),window.addEventListener("klaviyoForms",function(n){"submit"==n.detail.type&&$(".form-sect").addClass("yessuc")});
</script>
{% include 'judgeme_core' %}  

</body>
</html>  