{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

  <meta name="google-site-verification" content="lkbitkumSsX_iVu81ts8DnNgEIf9j1mDDKd8IeA_D7Y" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://static.klaviyo.com/">
  <link rel="preconnect" href="https://cdn.rebuyengine.com/">

  <link rel="dns-prefetch" href="https://cdn.shopify.com">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/montserrat-v18-latin-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/TisaSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/TisaSansPro-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PM64CMK');</script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136611768-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136611768-1');
  </script>

 <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WN8QNRP"></script>

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% if template contains 'product' and product.type contains 'Bundle' %}
    <meta name="robots" content="noindex">
  {% endif %}

  {% if template == 'page.reviews' %}
    <meta name="robots" content="noindex">
  {% endif %}

  {% include 'social-meta-tags' %}

  {% include 'css-fonts' %}

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'gs_updates.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        dateEstimation: {{ 'products.product.delivery_time'  | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    <script src="{{ 'customer.js' | asset_url }}" async="async"></script>
    {{ 'account.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if template.name == 'cart' -%}
    {{ 'cart.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if template.name == 'page' or template.name == 'article' or template.name == 'blog' or template.name contains 'account' -%}
    {{ 'pages.scss.css' | asset_url | stylesheet_tag }}
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/4WrLz_KTEp6tAsIWpJGjSg" async></script>
  {%- endif -%}

  {%- if template contains 'ingredient' -%}
    {{ 'ingredients.scss.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  <script src="{{ 'jquery.min.js' | asset_url }}"></script>

  {{ content_for_header }}

  {% if handle == 'faq' %}
    {% include 'faq-schema-products.liquid' %}
  {% endif %}

  <script>
    var Shopify = Shopify || {};
    Shopify.confirmPasswordError = "{{ 'customer.register.password_confirm_error' | t }}";
  </script>
{% render 'k_kaktus-honey-app' %}</head>

<body class="template-{{ template | split: '.' | first }} template-{{ template.name }}-{{ template.suffix }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM64CMK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% section 'header' %}

  <div class="page-wrap" id="PageContainer">
    <main class="main-content g js-focus-hidden{% if template.name == "index" %} hp--page{% else %} template-{{ template | split: '.' | last }}{% endif %}" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </div>

  {% section 'subscription' %}
  {% section 'footer' %}

  {% if template.name == 'index' %}{% section 'bibliography' %}{% endif %}
  {% if template == 'product' %}{% section 'bibliography-product' %}{% endif %}

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>

{% comment %} GS updates (elena) 20 Mar (Get svg icons) {% endcomment %}
{% section 'index--gs_icons' %}
{% comment %} End{% endcomment %}

{% if template == 'product' %}
<script>
gtag('event','view_item', {
  'value': {{ product.variants[0].price | money_without_currency }},
  'items': [
    {
      'id': 'shopify_US_{{ product.id }}_{{ product.variants[0].id }}',
      'google_business_vertical': 'retail'
    }
  ]
});
</script>
{% endif %}

<script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}"></script>

{% include 'smart-cart-custom' %}

<script defer src="{{ 'lazysizes.js' | asset_url }}"></script>
<script defer src="{{ 'theme.min.js' | asset_url }}"></script>
<script defer src="{{ 'gs-scripts.js' | asset_url }}"></script>
<script defer src="{{ 'gs-slider.js' | asset_url }}"></script>
<script>
function swipe(n,e,t){var o=document.querySelector(n);o.addEventListener("touchstart",function(n){a=n.touches[0].clientX,s=n.touches[0].clientY},{passive:!0}),o.addEventListener("touchmove",function(n){if(null===a)return;if(null===s)return;var o=n.touches[0].clientX,l=n.touches[0].clientY,u=a-o,i=s-l;Math.abs(u)>Math.abs(i)&&(u>0?e():t());a=null,s=null,n.preventDefault()},{passive:!0});var a=null,s=null}!function(n){n(document).ready(function(){n(".more-button").click(function(){n(".menu--overlay-inner .menu-close").toggleClass("nav-show"),n(".menu--overlay").toggleClass("nav-show"),n(".menu--overlay-inner").toggleClass("nav-show")}),n(".menu--overlay-inner .menu-close").click(function(){n(".menu--overlay").toggleClass("nav-show"),n(".menu--overlay-inner").toggleClass("nav-show"),n(this).toggleClass("nav-show")})})}(jQuery),window.addEventListener("klaviyoForms",function(n){"submit"==n.detail.type&&$(".form-sect").addClass("yessuc")});
if (document.querySelector(".header--alert")) $(".page-wrap").addClass("with-alert");
$( window ).scroll(function() {
  var offH = $(window).scrollTop();
    var winH = $(window).height();
    var pHeight = $('.p-header').height()+70;

    if (offH > 0 ) { $('.page-header').addClass('scrollNow') } else {$('.page-header').removeClass('scrollNow') };

    if (document.querySelector(".menu-wrap--product")) {
      if (offH < pHeight) {
        $('.menu-wrap--product').removeClass('show');
      } else {
        $('.menu-wrap--product').addClass('show');
      }
    }
});
</script>

{% if template.name == 'index' %}
<script>
var slideCount=$(".slider ul li").length-1,slideWidth=$(".slider ul li:last-child").width()+30,slideWidth0=$(".slider ul li:first-child").width(),sliderUlWidth=slideCount*slideWidth+slideWidth0,clientWidth=$("body")[0].offsetWidth;if(clientWidth>736)if(clientWidth<980)var sliderUl2Width=slideWidth+slideWidth0;else if(clientWidth<1600)sliderUl2Width=2*slideWidth+slideWidth0;else sliderUl2Width=3*slideWidth+slideWidth0;$(".slider").css({width:sliderUl2Width}),$(".slider ul").css({width:sliderUlWidth}),clientWidth<980?($($(".slider ul li img")[0]).css("visibility","initial"),$($(".slider ul li img")[1]).css("visibility","initial")):clientWidth<1600?($($(".slider ul li img")[0]).css("visibility","initial"),$($(".slider ul li img")[1]).css("visibility","initial"),$($(".slider ul li img")[2]).css("visibility","initial")):($($(".slider ul li img")[0]).css("visibility","initial"),$($(".slider ul li img")[1]).css("visibility","initial"),$($(".slider ul li img")[2]).css("visibility","initial"),$($(".slider ul li img")[3]).css("visibility","initial"));var i=1;function moveLeft2(){$(".slider ul").animate({left:+slideWidth},200,function(){$(".slider ul li:last-child").prependTo(".slider ul"),$($(".slider ul li img")[0]).css("visibility","initial"),$(".slider ul").css("left","")}),$(".testimonal--text div:nth-child("+i+")").removeClass("show"),(i-=1)<1&&(i=$(".slider ul li").length),$(".testimonal--text div:nth-child("+i+")").addClass("show")}function moveRight2(){$(".slider ul").animate({left:-slideWidth},200,function(){$(".slider ul li:first-child").appendTo(".slider ul"),clientWidth<980?$($(".slider ul li img")[1]).css("visibility","initial"):clientWidth<1600?$($(".slider ul li img")[2]).css("visibility","initial"):$($(".slider ul li img")[3]).css("visibility","initial"),$(".slider ul").css("left","")}),$(".testimonal--text div:nth-child("+i+")").removeClass("show"),(i+=1)>$(".slider ul li").length&&(i=1),$(".testimonal--text div:nth-child("+i+")").addClass("show")}$(".testimonal--text div:nth-child("+i+")").addClass("show"),$(".slider a.control-prev").click(function(){moveLeft2()}),$(".slider a.control-next").click(function(){moveRight2()}),document.querySelector(".hp--testimonials-slider")&&swipe(".hp--testimonials-slider",moveRight2,moveLeft2),$(".slider ul li:first-child img").on("load",function(){var i=$(".slider ul li:first-child img").height();$(".slider ul").css({height:i})}),$(".hp--experts a.control-next").click(function(){expertLeftHandler()}),$(".hp--experts a.control-prev").click(function(){expertRightHandler()});var expertCount=$(".hp--experts .expert-item").length,expertCurr=1;function expertLeftHandler(){$(".expert-item").removeClass("show"),++expertCurr>expertCount&&(expertCurr=1),expertCurrName=".expert-item-"+expertCurr,$(expertCurrName).addClass("show")}function expertRightHandler(){$(".expert-item").removeClass("show"),--expertCurr<1&&(expertCurr=expertCount),expertCurrName=".expert-item-"+expertCurr,$(expertCurrName).addClass("show")}document.querySelector(".hp--experts")&&swipe(".hp--experts",expertLeftHandler,expertRightHandler);var pageWidth=$(".hp--blog").width();pageWidth<736&&(pageWidth*=.4,$(".hp--blog ul").scrollLeft(pageWidth));
async function typeSentence(t,e,n=50){const a=t.split("");let i=0;for(;i<a.length;)await waitForMs(n),$(e).append(a[i]),i++}async function deleteSentence(t){const e=$(t).html().split("");for(;e.length>0;)await waitForMs(100),e.pop(),$(t).html(e.join(""))}async function carousel(t,e){for(var n=0;;)await typeSentence(t[n].text,e),await waitForMs(1500),await deleteSentence(e),await waitForMs(500),++n>=t.length&&(n=0)}function waitForMs(t){return new Promise(e=>setTimeout(e,t))}
</script>
{% endif %}

{% if template == 'product' %}
  <script defer src="{{ 'vendor-product.js' | asset_url }}"></script>
  <script defer src="{{ 'product.js' | asset_url }}"></script>
{% endif %}

{% include 'judgeme_core' %}

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js" async="async"></script>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PtrUzD"></script>
{% if template == 'product' %}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "PtrUzD",
      list: 'Spx5mb',
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{
    trigger: {
      product_page_text: "Notify me once in stock",
      product_page_class: "btn",
      product_page_width: "100%",
      alternate_anchor: "addtocart_monthly",
      product_page_margin: "1em 0 0 0",
      replace_anchor: true
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600'); select#variants {display: none} .btn {height: 4em; border-radius: 4em; font-weight: 600; font-size: 1em} .modal-title {text-transform: uppercase; letter-spacing: 0.1em;}",
   font_family: '"Montserrat",sans-serif;',
     drop_background_color: "#2d396d",
     background_color: "#fff",
     text_color: "#2d396d",
     button_text_color: "#fff",
     button_background_color: "#2d396d",
     close_button_color: "#2d396d",
     error_background_color: "#fff",
     error_text_color: "#F388AF",
     success_background_color: "#fff",
     success_text_color: "#2d396d",
     newsletter_subscribe_label: "Sign up for Happy V newsletter"
    }
  });
</script>
<script>
  function myFunction() {
    if ( document.getElementById("klaviyo-bis-iframe") ) {
      var iframe = document.getElementById("klaviyo-bis-iframe");
      var elmnt = iframe.contentWindow.document.getElementsByTagName("select")[0];
      elmnt.style.display = "none";
    }
</script>
}

{% endif %}

<!-- Start of happyv Zendesk Widget script -->
{% comment %}
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=2c4f6dfd-ba90-4d0b-a57e-8bcdc6c11e6b" defer></script>
<script type="text/javascript">
  window.zESettings = {
    webWidget: {
      color: {
        },
      zIndex: 99998
    }
  };
</script>
{% endcomment %}
<script type="text/javascript">
(function () {
  function loadZendeskChat(callback) {
    var zdscript = document.createElement('script');
    zdscript.setAttribute('id','ze-snippet');
    zdscript.src = 'https://static.zdassets.com/ekr/snippet.js?key=2c4f6dfd-ba90-4d0b-a57e-8bcdc6c11e6b';
    (document.getElementsByTagName('body')[0]).appendChild(zdscript);

    window.zdonload = setInterval(function(){
      if(typeof zE !== "undefined" && typeof zE.activate !== "undefined") {
        clearInterval(window.zdonload);
        callback();
      }
    },50,null)
  };

  var el = document.getElementsByClassName('chat-link');

  for (var i=0; i < el.length; i++) {
    el[i].onclick = function(){
      if(!localStorage.getItem('ff_zd_hasOpened')) {
        localStorage.setItem('ff_zd_hasOpened',true);
        loadZendeskChat(function(){
          window.setTimeout(function(){
            zE.activate();
          },1000);
        })
      }
      else {zE('webWidget', 'open');}
    }
  };

  if(localStorage.getItem('ff_zd_hasOpened')) {
      loadZendeskChat(function(){});
    }
}());
</script>
<!-- End of happyv Zendesk Widget script -->

</body>
</html>
