<div class="text-center">
  <h3>{{ section.settings.title | escape }}</h3>
  {% if section.settings.content != blank %}{{ section.settings.content }}{% endif %}
</div>

{% if section.blocks.size > 0 %}
<ul class="g">
  {% for block in section.blocks %}
  <li>
  	{% if block.settings.image != blank %}<div class="icon-code">{{ block.settings.image }}</div>{% endif %}
  	{% if block.settings.title != blank %}<h4>{{ block.settings.title | escape }}</h4>{% endif %}
  </li>        
  {% endfor %}
</ul>      
{% endif %}

  {% schema %}
  {
    "name": "About Text Icon",
  	"class":"about-text-icon w",
    "settings": [
  		{
  			"type":"text",
  			"id":"title",
  			"label":"Title", 
			"default": "Why did we create Happy V?"
  		},
  		{
  			"type":"richtext",
  			"id":"content",
  			"label":"Content"
  		}
  	],
  	"blocks":[
  		{
  			"type":"block",
  			"name":"Icon",
  			"settings":[
  				{
  					"type":"html",
  					"id":"image",
  					"label":"Image"
  				},
  				{
  					"type":"text",
  					"id":"title",
  					"label":"Title"
  				}
  			]
  		}
  	]
  }
{% endschema %}
