<div class="text-center">
  <h3>{{ section.settings.text-title }}</h3>
  {{ section.settings.text-1 }}
</div>

{% schema %}
  {
    "name": "Vision Section",
    "class": "vision-section g",
	"settings": [
	{
        "id": "text-title",
        "type": "text",
        "label": "Title"
      },
	{
        "id": "text-1",
        "type": "html",
        "label": "Text"
      }
	]
  }
{% endschema %}
