
<div class="g--1">
  <h3>{{ section.settings.title }}</h3>
  {{ section.settings.text }}
</div>
<div class="g--2">
    <img class="lazyload"
             src="{{ section.settings.image | img_url: '1x' }}"
             data-src="{{ section.settings.image | img_url: '650x' }}"
             data-srcset="{{ section.settings.image | img_url: '325x' }} 325w, {{ section.settings.image | img_url: '412x' }} 412w, 
                          {{ section.settings.image | img_url: '496x' }} 496w, {{ section.settings.image | img_url: '620x' }} 620w, 
                          {{ section.settings.image | img_url: '650x' }} 650w, {{ section.settings.image | img_url: '975x' }} 975w,
                          {{ section.settings.image | img_url: '1300x' }} 1300w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ section.settings.title }}">
</div>
{% schema %}
  {
	"name": "About / #3",
    "class": "about-image grid-image g w-90 a--3",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "We’re obsessed with making products we want to see in the world and for ourselves"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image",
      "label": "Image (1300x min)"
      }
	]
  }
{% endschema %}