<h3>{{ section.settings.title | escape }}</h3>
<ul class="custom-team-block-section g">
  {% for block in section.blocks %} 
  <li> 
    {% if block.settings.image != blank %}<img src="{{ block.settings.image | img_url: '200x' }}" />{% endif %}
    {% if block.settings.content != blank %}<p>{{ block.settings.content }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>

{% schema %}
{
    "name":"About / The Team",
    "class": "about-medical wrap--mid",
    "max_blocks":4,
	"blocks":[
      {
         "type":"image",
         "name":"Image slide",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"image"
            },
            {
               "type":"textarea",
               "id":"content",
               "label":"Content"
            }
         ]
      }
   ],
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":"Title",
		 "default": "The Team"
      }
   ]
}
{% endschema %}