<div class="w-800">
  {{ section.settings.disclaimer }}
  {{ section.settings.bibliography }} 
</div>
  
{% schema %}
  {
    "name": "Bibliography&Dsiclaimer",
	"class": "bibliography g",
    "settings": [
	{
      "id": "disclaimer",
      "type": "richtext",
      "label": "Disclaimer",
		"default": "<p>* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>"
    },
  {
      "id": "bibliography",
      "type": "html",
      "label": "Bibliography"
    }
]
  }
{% endschema %}