{% assign p_slug = product.metafields.custom_fields["p_slug"] %}
{% assign variant1 = product.variants[0] %}
{% assign variant3 = product.variants[1] %}

<div class="t--b menu-wrap--inner colored-{{ p_slug }}">
  <div class="p-nav--left g">
    <div class="p-nav--title g">
    	<h2 class="product-title">{{ product.title  | truncate: 40}}</h2>
    </div>
    <ul class="p-nav--menu">
      {% for block in section.blocks %}
      {% if block.settings.link_id %}<li><a href="#{{ block.settings.link_id }}">{{ block.settings.link_name }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="p-nav--left g">
    <span class="p-nav--price p-nav--price-monthly show">{{ variant1.selling_plan_allocations[0].price | money }}</span>
    <span class="p-nav--price p-nav--price-single">{{ product.price | money }}</span>
    <span class="p-nav--price p-nav--price-quaterly">{{ variant3.selling_plan_allocations[1].price | money }}</span>
    <div><a class="p-nav--option p-nav--single">One-time</a><a class="active p-nav--option p-nav--monthly">Monthly</a><a class="p-nav--option p-nav--quaterly">Quarterly</a></div>
  </div>

  <div>
    {% comment %}
    {% capture prodNav %}product-nav-{{ product.id }}{% endcapture %}
    {% form "product", product, data-productid: product.id, id: prodNav %}
<!-- Begin ReCharge code -->
{% if product.available %}{% render 'subscription-product' with product as product %}{% endif %}
<!-- End ReCharge code -->

    <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
      {% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Add to cart" class="btn addtocart page-nav--btn" />
    {% endform %}
    {% form "product", product %}
    <input type="hidden" name="id" value="{{ product.variants[0].id}}" />
    <button class="btn page-nav--btn"><span>Add to cart<span class="p-nav--price-btn p-nav--price-single"> — {{ product.price | money }}</span></span></button>
    {% endform %}
    {% endcomment %}

    <a {% if variant1.available %}onclick="addItemToCart({{ variant1.id }}, 1); return false"{% endif %} class="btn page-nav--btn{% unless variant1.available %} disabled{% endunless %}"><span>{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}<span class="p-nav--price-btn p-nav--price-single"> — {{ product.price | money }}</span>{% endunless %}</span></a>

    <button {% unless variant1.available %}disabled="disabled"{% endunless %} class="btn page-nav--link show" id="add-to-cart-top-1"><span>{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe<span class="p-nav--price-btn p-nav--price-monthly"> — {{ variant1.selling_plan_allocations[0].price | money }}</span>{% endunless %}</span></button>
    <button {% unless variant3.available %}disabled="disabled"{% endunless %} class="btn page-nav--link3" id="add-to-cart-top-3"><span>{% unless variant3.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe<span class="p-nav--price-btn p-nav--price-quaterly"> — {{ variant3.selling_plan_allocations[1].price | money }}</span>{% endunless %}</span></button>

    <script>
      $('#add-to-cart-top-1').click(function(){
        addItemToCart({{ variant1.id }}, 1, {{product.selling_plan_groups[0].selling_plans[0].id}})
      });

      {% if variant3.id %}
      $('#add-to-cart-top-3').click(function(){
        addItemToCart({{ variant3.id }}, 1, {{product.selling_plan_groups[0].selling_plans[1].id}})
      });
      {% endif %}
    </script>
  </div>


</div>

{% schema %}
{
  "name": "Bundle navigation",
  "class": "menu-wrap--product",
  "settings": [],
  "blocks": [
    {
      "type": "links",
      "name": "Nav links",
      "settings": [
        {
          "id": "link_name",
          "type": "text",
       		"label": "Link name"
        },
		{
          "id": "link_id",
          "type": "text",
       		"label": "Link ID"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}



{% endjavascript %}
