<div class="g--1">
  <h1>{{ section.settings.title }}</h1>
  <h2>{{ section.settings.subtitle }}</h2>
  {{ section.settings.text }}
</div>
<div class="g--2">
  <img class="lazyload"
  src="{{ section.settings.image | img_url: '600x' }}" 
  data-src="{{ section.settings.image | img_url: '600x' }}"
  data-srcset="{{ section.settings.image | img_url: '300x' }} 300w, {{ section.settings.image | img_url: '600x' }} 600w, 
               {{ section.settings.image | img_url: '1200x' }} 1200w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
</div>

{% schema %}
  {
	"name": "BV #1",
    "class": "bv-1 g w-90 grid-image",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "What is Bacterial Vaginosis (BV)?"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Sub heading (h2)"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image",
      "label": "Image (1200x min)"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
