<div class="text-center">
  <h3>{{ section.settings.title | escape }}</h3>
  {% if section.settings.content != blank %}{{ section.settings.content }}{% endif %}
</div>

{% if section.blocks.size > 0 %}
<ul>
  {% for block in section.blocks %}
  <li>
  	{% if block.settings.image != blank %}{{ block.settings.image }}{% endif %}
  	{% if block.settings.title != blank %}<p>{{ block.settings.title | escape }}</p>{% endif %}
  </li>        
  {% endfor %}
</ul>      
{% endif %}

  {% schema %}
  {
    "name": "BV #2",
  	"class":"bv-2",
    "settings": [
  		{
  			"type":"text",
  			"id":"title",
  			"label":"Title", 
			"default": "BV signs and symptoms"
  		}
  	],
  	"blocks":[
  		{
  			"type":"block",
  			"name":"Icon",
  			"settings":[
  				{
  					"type":"html",
  					"id":"image",
  					"label":"SVG icon code"
  				},
  				{
  					"type":"text",
  					"id":"title",
  					"label":"Title"
  				}
  			]
  		}
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
