<div class="text-center">
  <h3>{{ section.settings.title | escape }}</h3>
  {% if section.settings.content != blank %}{{ section.settings.content }}{% endif %}
</div>

<div class="bv3-2 w t-caps">
  <div>ACIDIC</div>
  <div></div>
  <div>ALKALIZED</div>
  <div><span></span></div>
  <div>0</div>
  <div>7</div>
  <div>14</div>
</div>

{% if section.blocks.size > 0 %}
<ul class="bv3-3 w">
  {% for block in section.blocks %}
  <li class="bv-item-{{forloop.index}}"><span></span>
  	{% if block.settings.title != blank %}<p>{{ block.settings.title | escape }}</p>{% endif %}
    {% if block.settings.text != blank %}<p>{{ block.settings.text }}</p>{% endif %}
  </li>        
  {% endfor %}
</ul>      
{% endif %}

  {% schema %}
  {
    "name": "BV #3",
  	"class":"bv-3 w",
    "settings": [
  		{
  			"type":"text",
  			"id":"title",
  			"label":"Title", 
			"default": "How Bacterial Vaginosis occurs"
  		},
  		{
  			"type":"richtext",
  			"id":"content",
  			"label":"Content"
  		}
  	],
  	"blocks":[
  		{
  			"type":"block",
  			"name":"Icon",
  			"settings":[
  				{
  					"type":"text",
  					"id":"title",
  					"label":"Title"
  				},
				{
  					"type":"html",
  					"id":"text",
  					"label":"Text"
  				}  				
  			]
  		}
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
