<div class="text-center">
  <h3>{{ section.settings.text-title }}</h3>
  {{ section.settings.text }}
  <a title="Guide To Bacterial Vaginosis" class="underline" href="https://blog.happyv.com/what-is-bacterial-vaginosis/" target"_blank">What is Bacterial Vaginosis</a>
</div>

{% schema %}
  {
    "name": "BV #4",
    "class": "bv-4 g",
	"settings": [
	{
        "id": "text-title",
        "type": "text",
        "label": "Title", 
		"default": "Understanding Bacterial Vaginosis"

      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	{
        "id": "link-title",
        "type": "text",
        "label": "Link to the blog text",
		"default": "What is Bacterial Vaginosis"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
