{% if cart.item_count > 0 %}
<form action="/cart" method="post" novalidate class="cart cart-wrap g" id="cart-form">
  <div class="cart-details">
    <h2>{{ 'cart.general.order' | t }}</h2>
          {% for item in cart.items %}
            {% assign product_handle = item.product.handle | remove: '-1' %}
            {% assign product = all_products[product_handle] %}
            {% assign p_subscription = false %}
            
            {% comment %}
            {%- assign property_size = item.properties | size -%}
            {% if property_size > 0 %}
            {% for p in item.properties %}
            	{% if p.first == "shipping_interval_frequency" %}
            		{% assign p_subscription = true %}
                  	{% assign p_subscription_interval = p.last %}
            	{% endif %}
            {% endfor %}
            {% endif %}
            {% endcomment %}

            {% if item.selling_plan_allocation.selling_plan.id %}
              {% assign p_subscription = true %}
            {% endif %}

            {% comment %}{{ item.selling_plan_allocation.selling_plan.id  }}{% endcomment %}
            
            {% if product.type contains 'Bundle' %}
  				{% if product.metafields.custom_fields["bundle_content"] != blank %}
    				{% assign bundle_content = product.metafields.custom_fields["bundle_content"] | split: "|" %}
  				{% endif %}
            {% endif %}
            
          <div class="cart-item-grid cart-item g">
            
            <div class="cart-image">
              <img class="img-wrap" src="{{ item | img_url: '130x', scale: 2 }}" alt="{{ item.title | escape }}" data-item-url="{{ item.url }}">
            </div>
            <div class="t--b t-caps--label cart-label">
              {% if p_subscription == true %}
              	{% case item.selling_plan_allocation.selling_plan.name %}
              	{% when 'Delivery every 1 Month' %}
                  <span >{% if product.type contains 'Bundle' %}{{ 'cart.subscription.bundle' | t }} {% endif %}{{ 'cart.subscription.monthly' | t }} <b>{{ 'cart.subscription.subscription' | t }}</b></span>
                  <span>{% if product.type contains 'Bundle' and bundle_content.size != blank %}{{ bundle_content.size }} {{ 'cart.subscription.bottles' | t }}{% else %}{{ 'cart.subscription.monthly_amount' | t }}{% endif %}, {{ 'cart.subscription.monthly_frequency' | t }}</span>
              	{% when 'Delivery every 3 Months' %}
                  <span>{% if product.type contains 'Bundle' %}{{ 'cart.subscription.bundle' | t }} {% endif %}{{ 'cart.subscription.quarterly' | t }} <b>{{ 'cart.subscription.subscription' | t }}</b></span>
                  <span>{% if product.type contains 'Bundle' and bundle_content.size != blank %}{{ bundle_content.size }} {{ 'cart.subscription.bottles' | t }}{% else %}{{ 'cart.subscription.quarterly_amount' | t }}{% endif %}, {{ 'cart.subscription.quarterly_frequency' | t }}</span>
              	{% endcase %}
              {% endif %}
              <div class="cart-remove-box">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="{{ 'cart.general.remove' | t }} {{ item.product.title }}" title="{{ 'cart.general.remove' | t }} {{ item.product.title }}">
                  <svg viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.72598 2H0.5C0.223858 2 0 2.22386 0 2.5C0 2.77614 0.223858 3 0.5 3H1V12.5C1 13.3284 1.67157 14 2.5 14H9.5C10.3284 14 11 13.3284 11 12.5V3H11.5C11.7761 3 12 2.77614 12 2.5C12 2.22386 11.7761 2 11.5 2H9.27402C8.44608 0.77593 7.24297 0.125016 6 0.125016C4.75703 0.125016 3.55392 0.77593 2.72598 2ZM4.01303 2H7.98697C7.39266 1.40413 6.68404 1.12502 6 1.12502C5.31596 1.12502 4.60734 1.40413 4.01303 2ZM10 3H2V12.5C2 12.7761 2.22386 13 2.5 13H9.5C9.77614 13 10 12.7761 10 12.5V3Z" /></svg>
                </a>
              </div>
            </div>

            <div class="cart-title">
              <a href="{{ item.url }}" class="product-title">{{ item.product.title | truncate: 60 }}</a>
              
              <div class="cart-description">
                {% if product.type contains 'Bundle' %}
                	<ul>
                      {% for bundle_item in bundle_content %}
                      	<li><span>{{ all_products[bundle_item].title }},</span> {{ 'cart.subscription.monthly_doses' | t }}</li>
                      {% endfor %}
                	</ul>
                {% elsif product.type contains 'Supplement' %}
                	{% case item.selling_plan_allocation.selling_plan.name %}	
                    	{% when 'Delivery every 1 Month' %} {{ 'cart.subscription.monthly_doses' | t }}
                      	{% when 'Delivery every 3 Months' %} {{ 'cart.subscription.quarterly_doses' | t }}
                	{% endcase %}
                {% endif %}
              </div>
            </div>
            
            <div class="t--b product-price">
              {% if item.original_price != item.final_price %}
                <dl>
                  <dt><span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span></dt>
                  <dd><s>{{ item.original_price | money }}</s></dd>
                  <dt><span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span></dt>
                  <dd><span class="order-discount">{{ item.final_price | money }}</span></dd>
                </dl>
              {% else %}
              	{{ item.original_price | money }}
              {% endif %}
            </div>
            
            <div class="cart-form__item--quantity g">
              <input type='button' value='-' class='qtyminus minus' field='quantity' />
              <input type="text" name="updates[]" id="updates_large_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*" data-quantity-item="{{ forloop.index }}" class="cart-form__input cart__qty-input">
              <input type='button' value='+' class='qtyplus plus' field='quantity' />
            </div>

          </div>
        {% endfor %}
    
    <div data-rebuy-id="12943"></div>
    <script id="rebuy-recommended-template" type="text/template">
	<div class="rebuy-widget"
		v-cloak
		v-on:click="stopPropagation($event)"
		v-bind:id="'rebuy-widget-' + id"
		v-bind:class="['widget-type-' + config.type.replace('_','-'), 'widget-display-' + config.display_type, products.length > 0 ? 'is-visible' : 'is-hidden']">

		<div
			class="rebuy-widget-container"
			v-cloak
			v-bind:class="['widget-display-' + config.display_type, visible ? 'is-visible' : 'is-hidden' ]"
			v-on:click.self="hide()">

			<div class="rebuy-widget-content">
				<div class="rebuy-modal-close" v-on:click="hide()">
					<i class="fas fa-times"></i>
				</div>

				<h4 class="super-title" v-if="config.language.super_title != ''" v-html="config.language.super_title"></h4>

				<div class="description" v-if="config.language.description != ''" v-html="config.language.description"></div>

				<div class="rebuy-product-grid" v-bind:class="layoutClasses">

			    <div class="cart-item-grid cart-recommended-block g" v-for="product in products" v-bind:class="[product.handle, 'product-id-' + product.id, cartHasProduct(product) ? 'cart-has-item' : '', productTagClasses(product)]">

						<div class="cart-image">
							<a class="rebuy-product-image" v-bind:href="learnMoreURL(product)" v-bind:style="imageStyles" v-on:click="learnMore(product);" v-bind:class="[hasLearnMore() ? 'clickable' : '']">
								<img v-bind:src="itemImage(product, product.selected_variant, '260x')" v-bind:alt="product.title">
							</a>
						</div>
                        
                        <div>
                        	<a class="rebuy-product-title product-title" v-bind:href="learnMoreURL(product)" v-on:click="learnMore(product);" v-html="product.title" v-bind:class="[hasLearnMore() ? 'clickable' : '']"></a>
                            <div class="cart-description" v-if="showProductDescription(product)" v-html="product.metafields.custom_fields['shop_text']" ></div>
      					</div>
            
            			<div class="t--b product-price">
								<div v-if="variantOnSale(product, product.selected_variant)">
									<span class="rebuy-money compare-at" v-html="formatMoney(variantCompareAtPrice(product, product.selected_variant))"></span>
                                    <span class="rebuy-money sale" v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
								</div>
								<div v-if="!(variantOnSale(product, product.selected_variant))">
									<span class="rebuy-money" v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
								</div>
      					</div>
                        
                        <div class="subscription-checkbox" v-if="showSubscriptionOptions(product)">
								<label class="rebuy-checkbox-label">
									<input
										class="checkbox-input rebuy-checkbox"
										v-model="product.subscription"
										v-on:change="toggleSubscription(product)"
										type="checkbox" />
									<span class="checkbox-label" v-html="upgradeToSubscriptionLabel(product)"></span>
								</label>
							</div>

							<div class="product-quantity" v-if="hasQuantityInputEnabled()">
								<div class="rebuy-select-wrapper">
									<label class="rebuy-label">Quantity</label>
									<select 
										class="rebuy-select" 
										v-model="product.quantity">
										<option v-for="n in maxQuantityInputValue()" v-bind:value="n">{{ n }}</option>
									</select>
								</div>
							</div>

						<div class="rebuy-product-actions">
                        <button
								class="underline"
								v-bind:class="{ working: (product.status != 'ready' && product.status != 'selecting') }"
								v-bind:disabled="!(variantAvailable(product.selected_variant)) || (product.status != 'ready' && product.status != 'selecting')"
								v-on:click="addToCart(product)"
								type="button">
									<span v-html="buttonLabel(product)"></span>
							</button>
						</div>
					</div>

				</div>

				<div class="rebuy-modal-actions" v-if="showContinueButton()">
					<button
						class="rebuy-button decline"
						v-on:click="hide()"
						type="button">
							<span v-html="continueLabel()"></span>
					</button>
				</div>


			</div>

		</div>
	</div>
</script>
  </div>
  <div class="cart-footer">
    <h2>{{ 'cart.general.summary' | t }}</h2>
    
    {% if section.settings.cart_notes_enable %}
    	<div class="cart-note">
          <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
    </div>
    {% endif %}
    
    {%- if cart.cart_level_discount_applications != blank -%}
    	<div class="order-discount-card-wrapper">
          {%- for discount_application in cart.cart_level_discount_applications -%}
          <span class="order-discount order-discount--title order-discount--cart">
            {%- include 'icon-saletag' -%}<span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span>{{- discount_application.title -}}
          </span>
          <span class="order-discount order-discount--cart order-discount--cart-total">-{{ discount_application.total_allocated_amount | money }}</span>
          {%- endfor -%}
    	</div>
    {%- endif -%}

    <div class="cart-subtotal g">
      <span>{{ 'cart.general.subtotal' | t }}</span>
      <span class="cart-subtotal__price">{{ cart.total_price | money }}</span>
      
      <span>{{ 'cart.general.shipping' | t }}</span>
      <span class="cart-subtotal__text">{{ 'cart.general.shipping_us' | t }}</span>
      
      <div class="hr"></div>
      
      <span><strong>{{ 'cart.label.total' | t }}</strong></span>
      <span class="cart-subtotal__price"><strong>{{ cart.total_price | money }}</strong></span>
    </div>
    
    <div class="cart-promo">
      <input type="text" id="devPromo" placeholder="{{ 'cart.general.promo_code' | t }}">
      <a href="/checkout?discount=none" id="redemDevPromo">{{ 'cart.general.apply' | t }}</a>
    </div>
    
    {%- capture taxes_shipping_checkout -%}
    {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
    {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
    {%- elsif shop.taxes_included -%}
    {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
    {%- elsif shop.shipping_policy.body != blank -%}
    {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
    {%- else -%}
    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
    {%- endif -%}
    {%- endcapture -%}
    <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
    
    <button type="submit" name="checkout" class="btn cart__submit cart__submit-control" value="{{ 'cart.general.checkout' | t }}">
      <svg viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.58077 6.78339L3.5808 6.78367C3.58246 6.80032 3.58328 6.81686 3.58329 6.83325H9.58319C9.5832 6.81688 9.58402 6.80035 9.58568 6.78372L9.58571 6.7834L9.58585 6.78191L9.58673 6.77224C9.58754 6.76312 9.58876 6.74873 9.59024 6.72942C9.5932 6.69079 9.59719 6.63256 9.60094 6.55754C9.60845 6.40735 9.61498 6.19073 9.61064 5.93006C9.6019 5.40571 9.54932 4.7175 9.37941 4.03788C9.20846 3.35413 8.92808 2.7167 8.49027 2.25586C8.06673 1.81005 7.46935 1.50006 6.58324 1.50006C5.69712 1.50006 5.09973 1.81005 4.67619 2.25586C4.23838 2.7167 3.958 3.35413 3.78706 4.03788C3.61715 4.7175 3.56457 5.40571 3.55584 5.93006C3.55149 6.19073 3.55803 6.40734 3.56554 6.55754C3.56929 6.63256 3.57327 6.69079 3.57624 6.72942C3.57772 6.74872 3.57894 6.76311 3.57975 6.77223L3.58063 6.78191L3.58077 6.78339ZM10.5851 6.83325C10.5858 6.82508 10.5865 6.81594 10.5873 6.80587C10.5909 6.75905 10.5955 6.69196 10.5997 6.60748C10.6081 6.43868 10.6153 6.19958 10.6105 5.9134C10.601 5.34404 10.5442 4.57399 10.3495 3.79533C10.1559 3.02081 9.8165 2.19997 9.21525 1.5671C8.59974 0.91921 7.73879 0.500061 6.58324 0.500061C5.42768 0.500061 4.56673 0.919209 3.95121 1.5671C3.34996 2.19997 3.01055 3.02081 2.81692 3.79534C2.62225 4.57399 2.56546 5.34405 2.55597 5.9134C2.55121 6.19959 2.55835 6.43868 2.56679 6.60748C2.57101 6.69196 2.57557 6.75905 2.57916 6.80587C2.57994 6.81594 2.58066 6.82508 2.58133 6.83325H0.166748V14.9999H13V6.83325H10.5851Z" /></svg>
      {{ 'cart.general.checkout' | t }}</button>
    
    {% if additional_checkout_buttons %}<div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>{% endif %}
    
    <div class="pay-box-section">
      <h4 class="t-caps">Pay by</h4>
      
      <ul class="payment-icons__list-cart">
        {% for block in section.blocks %} 
        {% if block.settings.img %}<li>{{ block.settings.img }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>           
  </div>
</form>

{% else %}
        {% comment %}
    <div class="cart-header">
      <h1 class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
      <a href="/collections/all" class="text-link text-link--accent">
        {{ 'cart.general.continue_shopping' | t }}
      </a>
    </div>
{% include 'icon-arrow-right' %}
    {% endcomment %}
        
    <div class="empty-page-content text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="/products" class="btn--secondary btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}</a>
    </div>
{% endif %}



{% schema %}
{
  "name": "Cart page",
  "class": "page-wrap cart-page",
	"settings": [
	],
  "blocks": [
    {
      "type": "select",
      "name": "Payment icons",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        }
      ]
    }
  ]}
{% endschema %}

<script>
  $('.cart-form__item--quantity').on('click', '.plus', function(e) {
        e.stopPropagation();
        let $input = $(this).prev('input.cart-form__input');
        let val = parseInt($input.val());
        $input.val( val+1 ).change();
    	document.getElementById("cart-form").submit();
  });
  
  $('.cart-form__item--quantity').on('click', '.minus', function(e) {
        e.stopPropagation();
        let $input = $(this).next('input.cart-form__input');
        var val = parseInt($input.val());
        if (val > 1) {
          $input.val( val-1 ).change();
    	document.getElementById("cart-form").submit();
        } 
  });
  
  $("input.cart-form__input").on('change keydown paste input', function(){
      document.getElementById("cart-form").submit();
  });
  
</script>