<ul class="g gs-reviews__selector {% unless collection.handle == 'bundles' or collection.handle == 'acceessories' %} product--rating{% endunless %}">
  {% for product in collection.products %}
  {% case collection.handle %}
  {% when 'acceessories' %}
  	{% include 'collection-item-other' %}
  {% else %}
  	{% include 'collection-item-product' %}
  {% endcase %}
  {% endfor %}
</ul>

<script>
  function addItemToCart(variant_id, qty, selling_plan) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "selling_plan": selling_plan
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        //window.location.href = '/cart'; 
        window.SLIDECART_UPDATE()
      }
    });
    window.SLIDECART_OPEN();
  }
</script>

{% schema %}
  {"name": "Collection",
	"class": "shop-page w-90",
	"settings": [
	]
  }
{% endschema %}