<img class="lazyload"
  src="{{ section.settings.image | img_url: '10x' }}" 
  data-src="{{ section.settings.image | img_url: '1920x' }}"
  data-srcset="{{ section.settings.image | img_url: '300x' }} 300w, {{ section.settings.image | img_url: '400x' }} 400w, 
               {{ section.settings.image | img_url: '800x' }} 800w, {{ section.settings.image | img_url: '1000x' }} 1000w, 
               {{ section.settings.image | img_url: '1280x' }} 1280w, {{ section.settings.image | img_url: '1600x' }} 1600w,
               {{ section.settings.image | img_url: '1600x' }} 1920w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{section.settings.image-alt}}">
{% schema %}
  {
    "name": "About Banner",
    "class": "about-banner-block",
    "settings": [
		{
			"type":"image_picker",
			"id":"image",
			"label":"Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
