<video autoplay loop muted playsinline src="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/How-Happy-V-Products-Are-Made-Te_1.mp4?v=1626887501" id="f-bg-video"></video>
<div class="video-text">
  <h3>{{ section.settings.title }}</h3>
  <a class="btn" href="#" onclick="document.getElementById('facility-video').style.top='0'; document.getElementById('f-bg-video').pause();">{{ section.settings.btn }}</a>
</div>

<div id="facility-video" class="p-popup">
      <div class="popup-content">
        <div class="popup-container video">
          <div onclick="document.getElementById('facility-video').style.top='-9999px'; document.getElementById('f-bg-video').play();" class="popup-close">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="video-content">
            {% assign videoId = section.settings.video_url | split: '?v=' %}
            <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ videoId[1] }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
        </div>
      </div>
	</div>


{% schema %}
  {
	"name": "Facility / Video",
    "class": "f-video",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "What sets Happy V apart"
      },
	{
        "id": "btn",
        "type": "text",
        "label": "Button text",
		"default": "Watch the full video"
      },
	{
	"id": "video_url",
   "type": "video_url",
   "label": "Video URL",
   "accept": ["youtube", "vimeo"]
}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
