<div class="g--2">
  {% if section.settings.video != blank %}
  	<video autoplay loop muted playsinline src="{{ section.settings.video }}" class="video-block"></video>
  {% elsif section.settings.image != blank %}
  <img class="lazyload"
  src="{{ section.settings.image | img_url: '10x' }}" 
  data-src="{{ section.settings.image | img_url: '650x' }}"
  data-srcset="{{ section.settings.image | img_url: '300x' }} 300w, {{ section.settings.image | img_url: '600x' }} 600w, {{ section.settings.image | img_url: '650x' }} 650w,
               {{ section.settings.image | img_url: '1200x' }} 1200w, {{ section.settings.image | img_url: '1300x' }} 1300w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
  {% endif %}
</div>
<div class="g--1">
  <h3>{{ section.settings.title }}</h3>
  {{ section.settings.text }}
</div>

{% schema %}
  {
	"name": "Facility / Checkpoint 3",
    "class": "f-image g w-90 grid-image",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Final Quality Checkpoint"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image",
      "label": "Image (1300x min)"
      },
	  {
      "type": "text",
      "id": "video",
      "label": "Or Video URL"
      }
	]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
