<h3>{{ section.settings.title }}</h3>
<ul class="col-3">
  {% for block in section.blocks %}
  	{% if block.settings.image != nil %}
    <li>
      <img class="lazyload"
  src="{{ block.settings.image | img_url: '10x' }}" 
  data-src="{{ block.settings.image | img_url: '460x' }}"
  data-srcset="{{ block.settings.image | img_url: '300x' }} 300w, {{ block.settings.image | img_url: '460x' }} 460w, 
               {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '920x' }} 920w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
  	</li>
  	{% endif %}
  {% endfor %}
</ul>
{{ section.settings.text }}

{% schema %}
  {
	"name": "Facility / Packaging",
    "class": "f-blocks f-packaging",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Packaging"
      }, 
	{
        "id": "text",
        "type": "richtext",
        "label": "Text",
		"default": "<p>Text here</p>"
      }
	],
  
	"blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
		{
		"type": "image_picker",
		"id": "image",
		"label": "Image (920x min)"
      	}
        ]
      }
    ]
}
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
