<h3>{{ section.settings.title }}</h3>
<div class="wide">{{ section.settings.text }}</div>
<ul class="col-2 narrow">
  <li>
  <img class="lazyload"
  src="{{ section.settings.image-1 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-1 | img_url: '550x' }}"
  data-srcset="{{ section.settings.image-1 | img_url: '300x' }} 300w, {{ section.settings.image-1 | img_url: '550x' }} 550w, 
               {{ section.settings.image-1 | img_url: '1100x' }} 1100w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
  </li>
  <li><img class="lazyload"
  src="{{ section.settings.image-2 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-2 | img_url: '550x' }}"
  data-srcset="{{ section.settings.image-2 | img_url: '300x' }} 300w, {{ section.settings.image-2 | img_url: '550x' }} 550w, 
               {{ section.settings.image-2 | img_url: '1100x' }} 1100w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
  </li>
</ul>

{% schema %}
  {
	"name": "Facility / Mission",
    "class": "f-blocks",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Mission"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image-1",
      "label": "Image 1 (1100x min)"
      },
	  {
      "type": "image_picker",
      "id": "image-2",
      "label": "Image 2 (1100x min)"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
