<div><h3>{{ section.settings.title }}</h3>
{{ section.settings.text }}</div>
{% schema %}
  {
	"name": "Facility / Our Promise",
    "class": "f-text",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Our Promise"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
