<h3>{{ section.settings.title }}</h3>
<ul class="col-4">
  {% for block in section.blocks %}
  	{% if block.settings.image != blank or block.settings.text != blank or block.settings.video != blank %}
    <li>
      {% if block.settings.video != blank %}
      	<video autoplay loop muted playsinline src="{{ block.settings.video }}" class="video-block"></video>
      {% elsif block.settings.image != blank %}
      <img class="lazyload"
  		src="{{ block.settings.image | img_url: '10x' }}" 
  		data-src="{{ block.settings.image | img_url: '620x' }}"
  		data-srcset="{{ block.settings.image | img_url: '300x' }} 300w, {{ block.settings.image | img_url: '340x' }} 340w, 
               {{ block.settings.image | img_url: '620x' }} 620w, 
               {{ block.settings.image | img_url: '1240x' }} 1240w"         
  		data-sizes="auto"
  		data-parent-fit="cover"
  		alt="{{ section.settings.title }}">
      {% endif %}
      {% if block.settings.text != blank %}{{ block.settings.text }}{% endif %}
  	</li>
  	{% endif %}
  {% endfor %}
</ul>
  
{% schema %}
  {
	"name": "Facility / Production",
    "class": "f-blocks",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Production"
      }
	],
  
	"blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          }, 
		{
		"type": "image_picker",
		"id": "image",
		"label": "Image (1240x min)"
      	},
	  	{
      	"type": "text",
      	"id": "video",
      	"label": "Or Video URL"
      	}
        ]
      }
    ]
}
  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
