<h3>{{ section.settings.title }}</h3>
{{ section.settings.text }}
<ul class="col-2">
  <li>
    {% if section.settings.video-1 != blank %}
  		<video autoplay loop muted playsinline src="{{ section.settings.video-1 }}" class="video-block"></video>
    {% elsif section.settings.image-1 != blank %}
  <img class="lazyload"
  src="{{ section.settings.image-1 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-1 | img_url: '720x' }}"
  data-srcset="{{ section.settings.image-1 | img_url: '300x' }} 300w, {{ section.settings.image-1 | img_url: '550x' }} 550w, 
               {{ section.settings.image-1 | img_url: '720x' }} 720w,
               {{ section.settings.image-1 | img_url: '1100x' }} 1100w, {{ section.settings.image-1 | img_url: '1440x' }} 1440w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
    {% endif %}
  </li>
  <li>
    {% if section.settings.video-2 != blank %}
  		<video autoplay loop muted playsinline src="{{ section.settings.video-2 }}" class="video-block"></video>
      {% elsif section.settings.image-2 != blank %}
  <img class="lazyload"
  src="{{ section.settings.image-2 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-2 | img_url: '720x' }}"
  data-srcset="{{ section.settings.image-2 | img_url: '300x' }} 300w, {{ section.settings.image-2 | img_url: '550x' }} 550w, 
               {{ section.settings.image-2 | img_url: '720x' }} 720w,
               {{ section.settings.image-2 | img_url: '1100x' }} 1100w, {{ section.settings.image-2 | img_url: '1440x' }} 1440w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
    {% endif %}
  </li>
</ul>

{% schema %}
  {
	"name": "Facility / People",
    "class": "f-blocks",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "People"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image-1",
      "label": "Image 1 (1440x min)"
      },
	  	{
      	"type": "text",
      	"id": "video-1",
      	"label": "Or Video URL"
      	},
		{
      	"type": "image_picker",
      	"id": "image-2",
      	"label": "Image 2 (1440x min)"
      	},
	  	{
      	"type": "text",
      	"id": "video-2",
      	"label": "Or Video URL"
      	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
