<h3>{{ section.settings.title }}</h3>
<div class="f-image g w-90 grid-image">
<div class="g">
  {{ section.settings.text-1 }}
  {% if section.settings.video != blank %}
  		<video autoplay loop muted playsinline src="{{ section.settings.video }}" class="video-block"></video>
    {% elsif section.settings.image-1 != blank %}<img class="lazyload"
  src="{{ section.settings.image-1 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-1 | img_url: '650x' }}"
  data-srcset="{{ section.settings.image-1 | img_url: '300x' }} 300w, {{ section.settings.image-1 | img_url: '600x' }} 600w, 
               {{ section.settings.image-1 | img_url: '1200x' }} 1200w, {{ section.settings.image-1 | img_url: '1300x' }} 1300w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">{% endif %}
  </div>
<div class="g">
  
  <img class="lazyload"
  src="{{ section.settings.image-2 | img_url: '10x' }}" 
  data-src="{{ section.settings.image-2 | img_url: '650x' }}"
  data-srcset="{{ section.settings.image-2 | img_url: '300x' }} 300w, {{ section.settings.image-2 | img_url: '600x' }} 600w, 
               {{ section.settings.image-2 | img_url: '1200x' }} 1200w, {{ section.settings.image-2 | img_url: '1300x' }} 1300w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.title }}">
  
  {{ section.settings.text-2 }}
</div>
</div>
{% schema %}
  {
	"name": "Facility / Checkpoint 1",
    "class": "f-center g",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "People"
      },
      {
        "id": "text-1",
        "type": "richtext",
        "label": "Text block 1",
        "default": "<p>Add your text here</p>"
      },
      {
        "id": "text-2",
        "type": "richtext",
        "label": "Text block 2",
        "default": "<p>Add your text here</p>"
      },
	  {
      "type": "image_picker",
      "id": "image-1",
      "label": "Image 1 (1300x min)"
      },
	  {
      "type": "image_picker",
      "id": "image-2",
      "label": "Image 2 (1300x min)"
      },
		{
      	"type": "text",
      	"id": "video",
      	"label": "Or Video URL"
      	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
