<h3>{{ section.settings.title | escape }}</h3>
{{ section.settings.subtitle }}
  <ul class="g">
    <li class="g g--1 chat--link">{{ section.settings.icon-1  }}<a class="underline chat-link">{{ section.settings.icon-1-txt | escape }}</a></li>
    <li class="g g--2">{{ section.settings.icon-2  }}<a href="/pages/contact" title="Contact us" class="underline">{{ section.settings.icon-2-txt | escape }}</a></li>
  </ul>

{% schema %}
  {
    "name": "FAQ & Help footer",
  	"class":"help--contact g",
    "settings": [
  		{
  			"type":"text",
  			"id":"title",
  			"label":"Title", 
			"default": "Still need help or want to chat?"
  		},
  		{
  			"type":"richtext",
  			"id":"subtitle",
  			"label":"Sub header"
  		},
  		{
  			"type":"html",
  			"id":"icon-1",
  			"label":"Chat icon (SVG)"
  		},
  		{
  			"type":"text",
  			"id":"icon-1-txt",
  			"label":"Chat icon label", 
			"default": "Let's chat"
  		},
  		{
  			"type":"html",
  			"id":"icon-2",
  			"label":"Contact icon (SVG)"
  		},
  		{
  			"type":"text",
  			"id":"icon-2-txt",
  			"label":"Contact icon label", 
			"default": "Contact us"
  		}
  	]
  }
{% endschema %}