<div class="w-800">
  <h1>{{ section.settings.title | escape }}</h1>
  {{ section.settings.subtitle }}
</div>

{% if section.blocks.size > 0 %}
<div class="faq--wrap g">
  
  <div class="faq--menu"><ul>
  {% for block in section.blocks %}
  	{% if block.settings.id != blank and block.settings.name != blank %}
  	<li><a class="product-title" href="#faq-cat-{{forloop.index}}" >{{block.settings.name}}</a></li>
  	{% endif %}
  {% endfor %}
  </ul></div>


  <div class="faq--list">
  {% for block in section.blocks %}
  	{% if block.settings.id != blank and block.settings.name != blank %}
	<h3 class="product-title p-target" id="faq-cat-{{forloop.index}}">{{block.settings.name}}</h3>
	<div class="ef-faqs-plus-app-cats-content" data-category="{{block.settings.name}}" id="{{block.settings.id}}"></div>
	{% endif %}
  {% endfor %}
  </div>
  
</div>
{% endif %}

{% schema %}
  {
    "name": "FAQ section",
  	"class":"faq--top w-80 g",
    "settings": [
  		{
  			"type":"text",
  			"id":"title",
  			"label":"Title", 
			"default": "Product FAQs"
  		},
  		{
  			"type":"richtext",
  			"id":"subtitle",
  			"label":"Sub header"
  		}
  	],
  	"blocks":[
  		{
  			"type":"block",
  			"name":"Category",
  			"settings":[
  				{
  					"type":"text",
  					"id":"id",
  					"label":"id"
  				},
  				{
  					"type":"text",
  					"id":"name",
  					"label":"data-category"
  				}
  			]
  		}
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
