<footer class="w-90 g" role="contentinfo">
  <div class="footer-1 g">
    
    <div>
      <h4><a href="/products" title="Shop product for vaginal health">{{ section.settings.shop-title }}</a></h4>
      <ul class="menu-bottom--shop">
        {% for link in linklists.footer-shop.links %}
        <li>
          <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
    	</li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-2 g">
      <div>
      <h4>{{ section.settings.learn-title }}</h4>
      <ul class="menu-bottom">
        {% for link in linklists.footer-learn.links %}
        <li>
          <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
    
      <div>
      <h4>{{ section.settings.support-title }}</h4> 
      <ul class="menu-bottom">
        {% for link in linklists.footer-support.links %}
        <li>
          <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
        </li>
        {% endfor %}
        <li class="chat-link">Live Chat</li>
      </ul>
      </div>
    </div>
    
    <div class="footer-right">
      <a href="/pages/website-quiz" class="btn--secondary btn--white" title="{{ section.settings.quiz-link }}">{{ section.settings.quiz-link }}</a>
      <h4>{{ section.settings.connect-title }}</h4>
      <ul class="footer-social">
        {% assign smm_blocks = section.blocks | where: 'type', 'select' %}
        {% for block in smm_blocks %} 
        <li><a href="{{block.settings.url}}" title="{{block.settings.title}}" target="_blank" rel="noopener">{{block.settings.img}}</a></li>
        {% endfor %}
      </ul>
      <h4>{{ section.settings.contact-title }}</h4>
      {{ section.settings.contacts }}
    </div>
  </div>
  
  <div class="footer-2">
    <ul>
        {% for link in linklists.footer.links %}
        <li>
          <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
    {{ section.settings.copy }}
  </div>
  
  <div class="footer-bottom">
    
    {% assign safety_blocks = section.blocks | where: 'type', 'footer_safety' %}
    {% for block in safety_blocks %}
      <div class="g item">
        {% if block.settings.icon-safety contains "svg" %}{{block.settings.icon-safety}}{% endif %}
        <p>{{block.settings.title-safety}}</p>
    </div>
    {% endfor %}
        
    {% assign payment_blocks = section.blocks | where: 'type', 'payment_icons' %}
    <ul class="footer-payments item">
      {% for block in payment_blocks %} 
      {% if block.settings.img-payment contains "svg" %}<li class="g">{{block.settings.img-payment}}</li>{% endif %}
      {% endfor %}
    </ul>
  </div>
       
</footer> 


<!--<p class="disclaimer">** These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.</p>-->

{% schema %}
{
  "name": "Footer",
  "class": "footer g",
  "settings": [
{
        "id": "shop-title",
        "type": "text",
        "label": "Heading-1",
		"default": "Shop Products"
      },
{
        "id": "learn-title",
        "type": "text",
        "label": "Heading-2",
		"default": "Learn"
      },
{
        "id": "support-title",
        "type": "text",
        "label": "Heading-3",
		"default": "Support"
      },
{
        "id": "connect-title",
        "type": "text",
        "label": "Heading-4",
		"default": "Connect with us"
      },
{
        "id": "contact-title",
        "type": "text",
        "label": "Heading-5",
		"default": "Easy contact"
      },
{
        "id": "about-title",
        "type": "text",
        "label": "Heading-5",
		"default": "Who we are"
      },
{
        "id": "copy",
        "type": "richtext",
        "label": "Copyright",
		"default": "<p>© 2021 Happy V. All Rights Reserved</p>"
      },
{
        "id": "about",
        "type": "richtext",
        "label": "About text",
		"default": "<p>Simply put: we create products and content to support your journey to a healthy and happy (v).</p>"
      },
{
        "id": "contacts",
        "type": "richtext",
        "label": "Contact Info"
      },
{
        "id": "quiz-link",
        "type": "text",
        "label": "Quiz link text",
		"default": "Take the Quiz"

      }
    
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Social Media links",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "title",
          "type": "text",
       		"label": "Title"
        },
		{
          "id": "url",
          "type": "url",
       		"label": "Link"
        }
      ]
    }, 
    {
      "type": "payment_icons",
      "name": "Acccepted Paymnents",
      "settings": [
        {
          "id": "img-payment",
          "type": "html",
       		"label": "Paste SVG code here"
        }
      ]
    },
	{
      "type": "footer_safety",
      "name": "Safety Guarantees",
      "settings": [
        {
          "id": "icon-safety",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "title-safety",
          "type": "text",
       		"label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
