<div class="freebottle w">
  <div class="g--1">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  </div>
  <div class="g--2">
    <img src="{{ 'free-bottle.jpg' | file_url }}" alt="GRAB YOUR FREE BOTTLE TODAY">
  </div>
</div>
      
<div class="contact-form form-vertical form--bg form--general form--freebottle">
  <div class="form-sect">
<div class="klaviyo-form-VUBHcS"></div>
</div>
<!--         {%- assign formId = 'FreebottleForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form_id: formId %}
		
         <div class="form--wrap w">
           <div class="form--section form--border">
           
           
            <div class="grid__item">
              <label for="{{ formId }}-first_name">{{ 'freebottle.form.first_name' | t }}</label>
              <input type="text" id="{{ formId }}-first_name" name="contact[first_name]" value="{{ form[first_name] }}">
            </div>
            
            <div class="grid__item">
              <label for="{{ formId }}-last_name">{{ 'freebottle.form.last_name' | t }}</label>
              <input type="text" id="{{ formId }}-last_name" name="contact[last_name]" value="{{ form[last_name] }}">
            </div>
            <div class="grid__item ">
              <label for="{{ formId }}-purchases">{{ 'freebottle.form.purchases' | t }} <span aria-hidden="true">*</span></label>
          		<select name="contact[purchases]" id="{{ formId }}-purchases" aria-required="true">
            		<option value="">---</option>
            		<option value="Immune_Boost">Happy V Cranberry Pills (Immune Boost)</option>
            		<option value="Probiotic">Happy V Probiotic</option>
            		<option value="Prebiotic">Happy V Womens Prebiotic Fiber</option>
         		</select>
            </div>
           <div class="grid__item">
              <label for="{{ formId }}-order_id">{{ 'freebottle.form.order_id' | t }} <span aria-hidden="true">*</span></label>
              <input type="text" id="{{ formId }}-order_id" name="contact[order_id]" value="{{ form[order_id] }}"  aria-required="true">
            </div>
           
              
            <div class="grid__item">
              <label for="{{ formId }}-amazon_email">{{ 'freebottle.form.amazon_email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-amazon_email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{{ form.email }}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">{% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              {%- endif -%}
            </div>
             
             
             
           
            
             
            
          </div> 
          <div class="form--section">  
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-address">{{ 'freebottle.form.address' | t }}</label>
              <input type="text" id="{{ formId }}-address" name="contact[address]" value="{{ form[address] }}">
            </div>
            
            
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-city">{{ 'freebottle.form.city' | t }}</label>
              <input type="text" id="{{ formId }}-city" name="contact[city]" value="{{ form[city] }}">
            </div>
            
            
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-state">{{ 'freebottle.form.state' | t }}</label>
              <input type="text" id="{{ formId }}-state" name="contact[state]" value="{{ form[state] }}">
            </div>
            
            
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-zip_code">{{ 'freebottle.form.zip_code' | t }}</label>
              <input type="text" id="{{ formId }}-zip_code" name="contact[zip_code]" value="{{ form[zip_code] }}">
            </div>
           
          </div>
          
          

          <input type="submit" class="btn colored-immuneboost" value="{{ 'freebottle.form.submit' | t }}">

        {% endform %}
      </div> -->
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
