{% if section.settings.link %}<a href="{{section.settings.link}}" title="{{section.settings.text}}">{% endif %}
{{section.settings.text}}
{% if section.settings.link %}</a>{% endif %}
<script>
  alert();
</script>

{% schema %}
  {"name": "Header / Alert bar",
	"class": "header--alert",

    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Text"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link"
      }
	]
  }
{% endschema %}