{% if section.blocks.size > 0 %}
  <div class="header--alert {% if section.blocks.size > 1 %}auto-slide{% endif %}">
    {% for block in section.blocks %}
      <div class="slide-item {% if forloop.first %}active{% endif %}">
        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}">
        {% endif %}
          {{ block.settings.title }}
        {% if block.settings.link != blank %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="page-header g{% if section.blocks.size > 0 %} with-alert{% endif %}">
  <div class="menu-wrap t--b g w-90">
    <ul class="g">
      <li class="mobile"><a href="javascript:void(0)" class="more-button">Menu</a></li>
      {% for link in linklists.header-left.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  <a href="/" class="logo g"><img src="{{ 'happy-v-logo.svg' | asset_url }}" alt="{{ shop.description}}"></a>
  <ul class="g">{% for link in linklists.main-menu.links %}
    <li><a href="{{ link.url }}" class="btn">{{ link.title }}</a></li>
    {% endfor %}
    <li>
      {% if shop.customer_accounts_enabled %}
        <a href="/account" title="{% if customer  %}Account{% else %}Sign in{% endif %}" class="g">{% include 'icon-login-custom' %}</a>
      {% endif %}
    </li>
    <li class="mobile">
      <a href="/cart" class="site-header__icon site-header__cart menu--cart">
            {% include 'icon-cart-custom' %}
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > 0 %}
              <div id="CartCount" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
      </a>
    </li>
  </ul>
</div>
</div>
{% include 'header-menu-overlay' %}  

{% assign template = template.name %}
{% case template %}
{% when 'product' %}
{% when 'index' %}
  {% assign potential_action_target = shop.url | append: "/search?q={search_term_string}" %}
  <script type="application/ld+json">
  [{
  "@context": "http://schema.org",
  "@type": "Organization",
	"name": {{ shop.name | json }},
    "url": {{ shop.url | append: page.url | json }},
    {% if section.settings.logo %}
    	{% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
    	"https://www.instagram.com/myhappyv/",
    	"https://www.facebook.com/myhappyv"
  	]
  },
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }]
  </script>
{% else %}
  <script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  "url": {{ shop.url | append: page.url | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    "https://www.instagram.com/myhappyv/",
    "https://www.facebook.com/myhappyv"
  ]}
  </script>
{% endcase %}

{% comment %}
<script>
  $(document).ready(function() {
    var $slider = $('.header--alert.auto-slide');
    var count = $slider.find('.slide-item').length;
    var f_count = 0;
    setInterval(function() {
      f_count ++;
      var idx = f_count % count;
      $slider.find('.slide-item.active').removeClass('active');
      $slider.find('.slide-item').eq(idx).addClass('active');
    }, 5000);
  })
</script>
{% endcomment %}

<script>
  $(document).ready((function(){var e=$(".header--alert.auto-slide"),i=e.find(".slide-item").length,t=0;setInterval((function(){var a=++t%i;e.find(".slide-item.active").removeClass("active"),e.find(".slide-item").eq(a).addClass("active")}),5e3)}));
</script>



{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "es": "Alineación de logotipo",
        "fr": "Alignement du logo",
        "it": "Allineamento logo",
        "ja": "ロゴアラインメント",
        "nl": "Logo-uitlijning",
        "pt-BR": "Alinhamento do logotipo",
        "zh-CN": "徽标对齐方式",
        "zh-TW": "商標對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "nl": "Links",
            "pt-BR": "Esquerda",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "center",
          "label": {
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fr": "Centré",
            "it": "Centrato",
            "ja": "中央揃え",
            "nl": "Gecentreerd",
            "pt-BR": "Centralizado",
            "zh-CN": "居中",
            "zh-TW": "置中"
          }
        }
      ]
    },
{
        "id": "quiz-link",
        "type": "text",
        "label": "Quiz link text",
		"default": "Take the Quiz"

      },
{
        "id": "quiz-link-menu",
        "type": "text",
        "label": "Quiz menu btn text",
		"default": "Take our quiz"

      },
{
        "id": "quiz-text",
        "type": "text",
        "label": "Quiz intro text",
		"default": "Not sure what product is best for you?"

      },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "zh-CN": "徽标图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logotipo personalizado",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタムする",
        "nl": "Aangepaste logo-breedte",
        "pt-BR": "Largura do logotipo personalizado",
        "zh-CN": "自定义徽标宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": {
        "de": "px",
        "en": "px",
        "es": "px",
        "fr": "px",
        "it": "px",
        "ja": "px",
        "nl": "px",
        "pt-BR": "px",
        "zh-CN": "px",
        "zh-TW": "像素"
      },
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "nl": "Menu",
        "pt-BR": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "nl": "Aankondigingsbalk",
        "pt-BR": "Barra de anúncios",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "nl": "Alleen startpagina",
        "pt-BR": "Apenas página inicial",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "nl": "Kondig hier iets aan",
        "pt-BR": "Anuncie algo aqui",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fr": "Lien",
        "it": "Link",
        "ja": "リンク",
        "nl": "Link",
        "pt-BR": "Link",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "選択させる",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fr": "Barre",
        "it": "Barra",
        "ja": "バー",
        "nl": "Balk",
        "pt-BR": "Barra",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#7796a8"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
