{% if section.blocks.size > 1 %}
{% for block in section.blocks %}
{% assign collection = collections[block.settings.collection_item] %}
<div>
  <a href="{{ collection.url }}" title="Shop {{ collection.title }} products">
    <div class="img-wrap">
        <img class="lazyload"
          src="{{ collection.image | img_url: '100x' }}"
          data-src="{{ collection.image | img_url: '308x' }}"
          data-srcset="{{ collection.image | img_url: '200x' }} 200w, {{ collection.image | img_url: '300x' }} 300w, 
                       {{ collection.image | img_url: '400x' }} 400w, {{ collection.image | img_url: '600x' }} 600w, 
                       {{ collection.image | img_url: '308x' }} 308w, {{ collection.image | img_url: '614x' }} 614w"
          data-sizes="auto"
          data-parent-fit="cover"
          alt="{{ collection.title }}">
    </div>
  </a>
  <div class="c--txt g">
    <h4><a href="{{ collection.url }}" title="Shop {{ collection.title }} products">{{ collection.title }}</a></h4>
    <a href="{{ collection.url }}" class="underline" title="Shop {{ collecton.title }}">Shop now</a>
  </div>
</div>
{% endfor %}
{% endif %}

{% schema %}
  {"name": "Shop / Collections",
	"class": "hp--collections wrap--mid g",
	"max_blocks": 6,
    "settings": [
	],
    "blocks": [
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
          "id": "collection_item",
          "type": "collection",
          "label": "Choose collection"
        }
      ]
    }
  ]
  }
{% endschema %}