<div class="g--1 g">
  <div class="img-wrap relative">
    <img class="lazyload"
         src="{{ section.settings.block-image | img_url: '1x' }}"
         data-src="{{ section.settings.block-image | img_url: '650x' }}"
         data-srcset="{{ section.settings.block-image | img_url: '300x' }} 300w, {{ section.settings.block-image | img_url: '600x' }} 600w,
                      {{ section.settings.block-image | img_url: '650x' }} 650w, {{ section.settings.block-image | img_url: '900x' }} 900w,
                      {{ section.settings.block-image | img_url: '1300x' }} 1300w"         
         data-sizes="auto"
         data-parent-fit="cover"
         alt="{{ section.settings.text-title | escape }}">
    <div class="overlay-icons">
    {% for block in section.blocks %}
    	{{ block.settings.icon_svg }}
    {% endfor %}
  </div>
  </div>
  
</div>

<div class="g--2">
  <h4>{{ section.settings.text-title }}</h4>
  {{ section.settings.text }}
  <a class="underline" href="{{ section.settings.more-link }}" title="{{ section.settings.more-link-text }}">{{ section.settings.more-link-text }}</a>
</div>


{% schema %}
  {"name": "Index / Facility",
    "class": "hp--content g w-90",
    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Title <em>subtitle with <span>highlight</span></em>"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
		"id": "more-link",
  		"type": "url",
  		"label": "Learn more link"
      },
      {
		"id": "more-link-text",
  		"type": "text",
  		"label": "Learn more link label"
      },
	{
      "type": "image_picker",
      "id": "block-image",
      "label": "Facility image (1200x min)"
      }
	],
    "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "id": "icon_svg",
          "type": "html",
          "label": "Paste SVG here"
        },
		{
          "id": "icon_text",
          "type": "text",
          "label": "Description"
        }
      ]
    }
  ]
  }
{% endschema %}

