
<h3>{{ section.settings.text-title }}</h3>

<div class="testimonials--wrap">
  <div class="testimonal--text">
    
    {% for block in section.blocks %}
    {% if block.settings.img != nil %}
    
    <div class="testimonal--text-item">
      {{block.settings.desc}}
    </div>
    {% endif %}
{% endfor %}
  </div>
  
<div class="hp--testimonials-slider slider">
  <ul>
    {% for block in section.blocks %}
    {% if block.settings.img != nil %}
    <li>
      <img class="lazyload" style="visibility: hidden;"
           src="{{ block.settings.img | img_url: '10x' }}"
           data-src="{{ block.settings.img | img_url: '380x' }}"
           data-srcset="{{ block.settings.img | img_url: '200x' }} 200w, {{ block.settings.img | img_url: '250x' }} 250w
                        {{ block.settings.img | img_url: '300x' }} 300w, {{ block.settings.img | img_url: '380x' }} 380w, 
                        {{ block.settings.img | img_url: '760x' }} 760w"
           data-sizes="auto"
           data-parent-fit="cover"
           alt="Happy V product review">
    </li>
    {% endif %}
{% endfor %}
</ul>
  <div class="slider--controls controls--blue"> 
    <a class="control-prev"></a>
    <a class="control-next"></a>
  </div>
</div>
</div>



{% schema %}
  {
  "name": "Index / Testimonials",
   "max_blocks": 10,
  "class" : "hp--testimonials",
    "settings": [
    {
        "id": "text-title",
        "type": "text",
        "label": "Heading",
    "default": "Title <em>subtitle with <span>highlight</span></em>"
      }
  ],

 "blocks": [
    {
      "type": "select",
      "name": "Customer Testimonial",
      "settings": [
        {
          "id": "img",
          "type": "image_picker",
          "label": "Customer Image"
        },
    {
          "id": "name",
          "type": "text",
          "label": "Customer Name"
        },
        {
          "id": "desc",
          "type": "html",
          "label": "Customer Review"
        }
      ]
    }
  ],

"presets": [
    {
      "name": "Customer Testimonial",
      "category": "Customer Testimonial",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
 
  }
{% endschema %}

           
