<div class="hp--bv w">
  <div class="g--1"><div class="img-wrap">
    <img class="lazyload"
  src="{{ section.settings.bv-image | img_url: '400x' }}"
  data-src="{{ section.settings.bv-image | img_url: '600x' }}"
  data-srcset="{{ section.settings.bv-image | img_url: '300x' }} 300w, {{ section.settings.bv-image | img_url: '600x' }} 440w, 
               {{ section.settings.bv-image | img_url: '600x' }} 600w, {{ section.settings.bv-image | img_url: '600x' }} 880w, 
               {{ section.settings.bv-image | img_url: '600x' }} 1200w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="What is Bacterial Vaginosis (BV)">
    </div>
  </div>
  <div class="g--2">
    <h4><span>{{ section.settings.headline }}</span></h4>
    <h2>{{ section.settings.text-title }}</h2>
    <h5>{{ section.settings.sub-title }}</h5>
    {{ section.settings.text }}
    <a class="t-caps--link link--blue" href="{{ section.settings.blog-link }}" target="_blank">{{ section.settings.link-title }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Index / What's BV",
    "settings": [
	{
        "id": "headline",
        "type": "text",
        "label": "Headline",
		"default": "Educating you on the root causes"
      },
	{
        "id": "text-title",
        "type": "text",
        "label": "Title",
		"default": "What is BV"
      },
	{
        "id": "sub-title",
        "type": "text",
        "label": "Sub Title",
		"default": "Text here"
      },
	{
        "id": "text",
        "type": "richtext",
        "label": "Smaller Text",
		"default": "<p>Text here</p>"
      }, 
	{
        "id": "link-title",
        "type": "text",
        "label": "Link label",
		"default": "Learn more"
      }, 
	{
		"id": "blog-link",
  		"type": "url",
  		"label": "Blog link"
      },
	{
      "type": "image_picker",
      "id": "bv-image",
      "label": "What's BV image (1200x min)"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
