<div class="hp--content">
  <div class="hp-content--title">
    <h3>{{ section.settings.text-title }}</h3>
    <p>{{ section.settings.sub-title }}</p>
  </div>
  <div class="w">
  	{{ section.settings.text }}
  </div>
</div>

{% schema %}
  {"name": "Index / We Do",
    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Title <em>subtitle with <span>highlight</span></em>"
      },
	{
        "id": "sub-title",
        "type": "text",
        "label": "Sub Heading",
		"default": "You could even say, we do things right"
      },
      {
        "id": "text",
        "type": "html",
        "label": "Add custom text below",
		"default": "<ul><li>...</li></ul>"
      }
	]
  }
{% endschema %}