
<div class="svg-icons__hidden" >
    {% for block in section.blocks  %}
        {{ block.settings.svg_single  }}
    {% endfor %}
</div>

{% schema %}
  {
	"name": "Index / SVG",
    "presets":[
        {
            "name": "Index / SVG ",
            "category": "Gloross"
        }
    ],
    "blocks": [
        {
        "type": "select",
        "name": "SVG",
        "settings": [
            {
                "id": "svg_single",
                "type": "textarea",
                "label": "Paste SVG"
            }
        ]
        }
    ]
  }
{% endschema %}
