{% comment %}
*
*GS 20Mar 2022 (Elena)
*
{% endcomment %}

<div class="product-carousel">
  {% if section.settings.text-title != blank %}

    <h2 class="product-carousel__title" >
      {{ section.settings.text-title }}
    </h2>
  {% endif %}

  <div class="product-carousel__inner" >
    <a class="control-prev" aria-label="Go to the previous product" > {% include 'icon-arr-left-simple' %} </a>

    <div class="product-carousel__slider mobile-carousel">

      {% for block in section.blocks %}
        {% assign feautured_prod = block.settings.product_single %}
        {% assign product = all_products[feautured_prod] %}

        <div class="product-carousel__slider-item" href="{{ product.url }}" >
            <a  href="{{ product.url }}"  class="product-carousel__slider-item__thumb" >
              <img src="{{ product.featured_image | img_url: '300x' }}" >
            </a>

            <div class="product-carousel__slider-item__content colored-{{ product.metafields.custom_fields["p-color"] }}">
              <a href="{{ product.url }}" title="Shop {{ product.title }}"><h3 class="product-title">{{ product.title }}</h3>
                {% unless collection.handle == 'bundles' %}
                  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
                {% endunless %}
              </a>

              <p>{{ product.metafields.custom_fields["hp_text"] }}</p>
              {% assign variant1 = product.variants[0] %}
              <button {% unless variant1.available %}disabled="disabled"{% endunless %} class="btn--smaller" id="add-to-cart-top-{{ forloop.index }}" title="Subscribe {{ product.title }}">{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe&nbsp;&#151;&nbsp;{{ variant1.selling_plan_allocations[0].price | money }}{% endunless %}</button>
              <a href="{{ product.url }}" class="underline" title="Shop {{ product.title }}">Shop now</a>

              {% comment %} The ajax functionality from the collection page that was present in the theme {% endcomment %}
              <script>$('#add-to-cart-top-{{ forloop.index }}').click(function(){addItemToCart({{ variant1.id }}, 1, {{product.selling_plan_groups[0].selling_plans[0].id}})});</script>
            </div>
        </div>

      {% endfor %}
    </div>
    <a class="control-next" aria-label="Go to the next product" > {% include 'icon-arr-right-simple' %} </a>
  </div>
</div>

{% comment %} The ajax functionality from the collection page that was present in the theme {% endcomment %}
<script>
  function addItemToCart(variant_id, qty, selling_plan) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "selling_plan": selling_plan
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() {
        //window.location.href = '/cart';
        window.SLIDECART_UPDATE()
      }
    });
    window.SLIDECART_OPEN();
  }
</script>

{% schema %}
  {
	"name": "Index / Product Carousel",
  "presets":[
    {
      "name": "Index / Product Carousel",
      "category": "Gloross"
    }
  ],
  "settings": [
    {
      "id": "text-title",
      "type": "text",
      "label": "Heading",
      "default": "Meet our Medical Advisors"
    }
	],
 "blocks": [
    {
      "type": "select",
      "name": "Product",
      "settings": [
        {
          "id": "product_single",
          "type": "product",
          "label": "Select featured product"
        }
      ]
    }
  ]

  }
{% endschema %}
