<ul class="g">
  <li class="g t-caps--l"><a href="/pages/press" title="Happy V in The Press">{{section.settings.subtitle}}</a></li>
  {% for block in section.blocks %} 
  	<li class="g">{% if block.settings.link != nil %}<a href="{{ block.settings.link }}" title="{{block.settings.tit}}" target="_blank" rel="noopener">{% endif %}
  		{{block.settings.img}}
      {% if block.settings.link != nil %}</a>{% endif %}
  </li>
  {% endfor %}
</ul>

{% schema %}
{
	"name": "Index / Brands",
	"class": "hp--brands",
	"max_blocks": 4,
	"settings": [

   {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle (left)",
	  "default": "As seen in"
    }

  ],
  "blocks": [
    {
      "type": "select",
      "name": "brand logo Image",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Brand name"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Article link"
        }
      ]
    }
  ]
}
{% endschema %}