<h2>{{ section.settings.text-title }}</h2>

{% schema %}
  {
	"name": "Index / We Do Title",
	"class": "hp--we-do--title",
	"settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Title <em>subtitle with <span>highlight</span></em>"
      }
	]
}
{% endschema %}