<div class="hp--reviews">
  <div class="w">
    <div class="g--1">
    	<h3>{{ section.settings.text-title }}</h3>
    </div>
    <div class="g--2">
      {% include 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: false %}
    </div>
  </div>
</div>

{% schema %}
  {"name": "Index / Reviews",
    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "How our happy customers feel"
      }
	]
  }
{% endschema %}