<div class="hp--text">
  <h1 class="typing-container">
    <span id="sentence" class="sentence">{{ section.settings.text-title }}</span>
    <span id="feature-text"></span>
    <span class="input-cursor"></span>
  	<div>{{ section.settings.text-title-2 }}</div>
    <h2>{{ section.settings.text-1 }}</h2>
  </h1>
  <a href="/products/" class="btn">{{ section.settings.text-btn }}</a>
  {% comment %}<a href="/pages/website-quiz" class="btn--secondary">{{ section.settings.text-btn-2 }}</a>{% endcomment %}
</div>

<div class="img-wrap">
  <picture>
	<source media="(max-width: 979px)" srcset="{{ section.settings.block-image-mob | img_url: '340x' }} 340w, {{ section.settings.block-image-mob | img_url: '480x' }} 480w, 
               {{ section.settings.block-image-mob | img_url: '640x' }} 640w, {{ section.settings.block-image-mob | img_url: '736x' }} 736w, 
               {{ section.settings.block-image-mob | img_url: '960x' }} 960w">
    <source media="(min-width: 980px)" srcset="{{ section.settings.block-image | img_url: '960x' }} 960w, {{ section.settings.block-image | img_url: '1440x' }} 1440w, 
               {{ section.settings.block-image | img_url: '1920x' }} 1920w, {{ section.settings.block-image | img_url: '3840x' }} 3840w">
	
	<img src="{{ section.settings.block-image | img_url: '960x' }}" alt="{{ shop.description }}" class="lazyload">
</picture>
</div>

<script>
  const carouselText = [
  {% for block in section.blocks %}
  {text: "{{ block.settings.text_item }}"},
  {% endfor %}
]

$( document ).ready(async function() {
  carousel(carouselText, "#feature-text")
});
</script>

{% schema %}
  {
    "name": "Index / Hero",
	"class": "hp--hero g",
    "settings": [
	{
		"id": "text-title",
        "type": "text",
        "label": "Title",
		"default": "Welcome <em>to the world of <span>Happy V</span></em>"
      },
	{
        "id": "text-1",
        "type": "html",
        "label": "Text",
		"default": "<p>Text here</p>"
      },
	{
		"id": "text-title-2",
        "type": "text",
        "label": "Title",
		"default": "solutions for you"
      },

	{
        "id": "text-btn",
        "type": "text",
        "label": "Button Text",
		"default": "Shop products"
      },

	{
        "id": "text-btn-2",
        "type": "text",
        "label": "Second Button Text",
		"default": "Take the Quiz"
      },

	{
      "type": "image_picker",
      "id": "block-image",
      "label": "Image Desktop"
	  },

	{
      "type": "image_picker",
      "id": "block-image-mob",
      "label": "Image Mobile"
     }
	], 
	"blocks": [
    {
      "type": "select",
      "name": "Rotating text",
      "settings": [
        {
          "id": "text_item",
          "type": "text",
       		"label": "Rotating text"
        }
      ]
    }
  ]
  }
{% endschema %}