<div class="hp--welcome">
  <div class="w">
  	<div class="g--1"><div class="img-wrap">
    <img class="lazyload"
  src="{{ section.settings.block-image | img_url: '400x' }}"
  data-src="{{ section.settings.block-image | img_url: '500x' }}"
  data-srcset="{{ section.settings.block-image | img_url: '300x' }} 300w, {{ section.settings.block-image | img_url: '500x' }} 500w, 
               {{ section.settings.block-image | img_url: '667x' }} 667w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ section.settings.text-title }} | escape">
    </div>
  	</div>
  	<div class="g--2">
    	<h2>{{ section.settings.text-title }}</h2>
    	{{ section.settings.text-1 }}
  	</div>
  </div>
</div>

{% schema %}
  {
    "name": "Index / Welcome",
    "settings": [
	{
        "id": "text-title",
        "type": "text",
        "label": "Title",
		"default": "Welcome <em>to the world of <span>Happy V</span></em>"
      },
	{
        "id": "text-1",
        "type": "html",
        "label": "Text",
		"default": "<p>Text here</p>"
      }, 
	{
      "type": "image_picker",
      "id": "block-image",
      "label": "Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
