<h4>{{ section.settings.text-title }}</h4>
  <!--a class="t-caps--link link--blue" href="http://blog.happyv.com" target="_blank">{{ section.settings.link-title }}</a-->




{% schema %}
  {
    "name": "Index / Blog",
    "settings": [
	{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Title here"
      }, 
	{
        "id": "link-title",
        "type": "text",
        "label": "Link text",
		"default": "Text here"
      }]
  }
{% endschema %}