<h4>{{ section.settings.text-title }}</h4>
{{ section.settings.text }}

{% assign expert_count = 0 %}
<ul class="hp--experts g">
  {% for block in section.blocks %} 
  {% assign expert_count = expert_count | plus: 1 %}
  <li class="expert-item{% if expert_count == 1 %} show{% endif %} expert-item-{{expert_count}}">
    <div class="img-wrap">
      <img class="lazyload"
            src="{{ block.settings.img | img_url: '10x' }}" 
            data-src="{{ block.settings.img | img_url: '360x' }}"
            data-srcset="{{ block.settings.img | img_url: '180x' }} 180w, {{ block.settings.img | img_url: '270x' }} 270w, 
                         {{ block.settings.img | img_url: '360x' }} 360w"         
            data-sizes="auto"
            data-parent-fit="cover"
            alt="Happy V Medical Advisor {{block.settings.name}}">
    </div>
    <div class="slider--controls">
        <a class="control-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="none"><path d="M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.929L.293 7.293zM21 7H1v2h20V7z" /></svg>
        </a>
        <a class="control-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="none"><path d="M20.707 8.707a1 1 0 0 0 0-1.414L14.343.929a1 1 0 0 0-1.414 1.414L18.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM0 9h20V7H0v2z" /></svg>
        </a>
      </div>
    <h5>{{block.settings.name}}</h5>
    <h6>{{block.settings.tit}}</h6>
  </li>
  {% endfor %}
</ul>

{% schema %}
  {
	"name": "Index / Medical Advisors",
	"class": "hp--content-simple wrap--mid",
	"max_blocks": 3,
    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Meet our Medical Advisors"
      }, 
		{
        "id": "text",
        "type": "richtext",
        "label": "Sub Heading",
		"default": "<p>Happy V is backed by leading experts and physicians in women’s health</p>"
      }
	],

 "blocks": [
    {
      "type": "select",
      "name": "Person",
      "settings": [
        {
          "id": "img",
          "type": "image_picker",
       		"label": "360 x 360 px"
        },
		{
          "id": "name",
          "type": "text",
       		"label": "Name"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Title"
        }
      ]
    }
  ]
 
  }
{% endschema %}
