<ul class="g">
  {% for block in section.blocks %} 
  <li class="g"><span class="li--icon">{{block.settings.img}}</span>
    <h3>{{block.settings.tit}}</h3>
  </li>
  {% endfor %}
</ul>

{% schema %}
  {
	"name": "Index / We Do",
	"class": "hp--we-do g",
	"max_blocks": 4,
	
	"blocks": [
    {
      "type": "select",
      "name": "Our Benefits Image",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Title"
        }
      ]
    }
  ],

"presets": [
    {
      "name": "Top Brands logo Bar",
      "category": "Top Brands logo Bar",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
 
  }
{% endschema %}