<div class="g--1"><h2>{{ section.settings.text-title }}</h2></div>
{% schema %}
  {
    "name": "Index / Products",
    "settings": [
	{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Reliable solutions <em>for all stages of life</em>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
