<div class="g--2">
		<h4>{{ section.settings.text-title }}</h4>
		{{ section.settings.text }}
      	<a class="underline" href="{{ section.settings.more-link }}" target="_blank" rel="noopener">{{ section.settings.more-link-text }}</a>
	</div>
<div class="g--1 g"><div class="img-wrap">
      <img class="lazyload"
            src="{{ section.settings.dani-image | img_url: '1x' }}" 
            data-src="{{ section.settings.dani-image | img_url: '650x' }}"
            data-srcset="{{ section.settings.dani-image | img_url: '300x' }} 300w, {{ section.settings.dani-image | img_url: '600x' }} 600w, 
                         {{ section.settings.dani-image | img_url: '650x' }} 650w, {{ section.settings.dani-image | img_url: '900x' }} 900w, 
                         {{ section.settings.dani-image | img_url: '1300x' }} 1300w"         
            data-sizes="auto"
            data-parent-fit="cover"
            alt="Daniella co-founder of Happy V">
      </div></div>
	

{% schema %}
  {"name": "Index / Founders' story",
    "class": "hp--content w-90 g pic-right",
    "settings": [
		{
        "id": "text-title",
        "type": "text",
        "label": "Heading",
		"default": "Title <em>subtitle with <span>highlight</span></em>"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
		"id": "more-link",
  		"type": "url",
  		"label": "Learn more link"
      },
      {
		"id": "more-link-text",
  		"type": "text",
  		"label": "Learn more link label"
      },
	{
      "type": "image_picker",
      "id": "dani-image",
      "label": "Daniella image (1200x min)"
      }
	]
  }
{% endschema %}

