{% comment %}
	
	<div class="shop-header shop--banner">
      {% assign product = all_products['happy-v-bundle'] %}
		<div class="img-wrap"><img src="{{ product.metafields.custom_fields["shop_img"] }}" alt="{{ product.metafields.custom_fields["p_name"] }}"></div>
		<div class="g--2">
			<div class="w">
			{{ product.content }}
            <div class="product__price">
              {% if product.compare_at_price %}<span class="shopify-buy__product__compare-price">{{ product.compare_at_price | money }}</span>{% endif %}
              {{ product.price | money }}
              </div>
              
              <form action="/cart/add" method="post" id="product-form-{{ product.id }}">   
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <div>
    <button type="submit" name="add" class="btn">ADD TO CART</button>
  </div>  
</form>
              
              
			</div>	
		</div>
	</div>
{% endcomment %}

{% if section.settings.feature_product %}
{% assign product = all_products[section.settings.feature_product] %}
{% for image in product.images %}
{% if image contains 'shopwide'%}
{% assign image_index = forloop.index | minus: 1 %}
{% endif %}
{% endfor %}
<div class="shop-featured colored-{{ product.metafields.custom_fields["p_slug"] }} shop--banner">
  <div class="g--2">
    <div class="img-wrap"><img class="lazyload"
  src="{{ product.images[image_index] | img_url: 'x300' }}"
  data-src="{{ product.images[image_index] | img_url: 'x600' }}"
  data-srcset="{{ product.images[image_index] | img_url: 'x300' }} 444w, {{ product.images[image_index] | img_url: 'x400' }} 593w, {{ product.images[image_index] | img_url: 'x600' }} 889w, {{ product.images[image_index] | img_url: 'x800' }} 1185w, {{ product.images[image_index] | img_url: 'x1200' }} 1778w, {{ product.images[image_index] | img_url: 'x1800' }} 2667w"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ product.title }}">
    </div>
  </div>
  <div class="g--1">
    <div class="text-wrap w">
      <a href="{{ product.url }}" title="Shop {{ product.metafields.custom_fields["p_name"] }}" class="color">
        <h3>{{ product.metafields.custom_fields["p_name_short"] }}</h3>
      </a>
      <p class="t-sm">{{ product.metafields.custom_fields["shop_text"] }}</p>
      <p class="t-accent">{{ product.metafields.custom_fields["p_serving"] }}<span>&#151;</span>from {{ product.price | times: 0.85 | money }}</p>
      <a href="{{ product.url }}" title="Shop {{ product.metafields.custom_fields["p_name"] }}" class="btn--home">Shop now</a>
    </div>
  </div>
</div>
{% endif %}

<div class="page-body">
<div class="shop-products g">
  {% assign collection = collections[section.settings.feature_collection]%}
  {% for product in collection.all_products %}
  	{% if product.handle != section.settings.feature_product %}
  		{% for image in product.images %}
			{% if image contains 'shopsq'%}
				{% assign image_index = forloop.index | minus: 1 %}
  			{% else %}
  				{% assign image_index = 0 %}
			{% endif %}
			{% endfor %}
  		<div class="colored-{{ product.metafields.custom_fields["p_slug"] }} g--item">
          <a href="{{ product.url }}" title="Shop {{ product.metafields.custom_fields["p_name"] }}" class="img-wrap">
            <img class="lazyload"
  src="{{ product.images[image_index] | img_url: '300x' }}"
  data-src="{{ product.images[image_index] | img_url: '600x' }}"
  data-srcset="{{ product.images[image_index] | img_url: '400x' }} 400w, {{ product.images[image_index] | img_url: '600x' }} 600w, {{ product.images[image_index] | img_url: '800x' }} 800w, {{ product.images[image_index] | img_url: '950x' }} 950w, {{ product.images[image_index] | img_url: '1200x' }} 1200w, {{ product.images[image_index] | img_url: '1800x' }} 1800w"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{ product.title }}">
          </a>
          <div class="text-wrap">
            <a href="{{ product.url }}" title="Shop {{ product.title }}" class="color"><h3>{{ product.metafields.custom_fields["p_name_short"] }}</h3></a>
            <h6>{{ product.metafields.custom_fields["shop_text"] }}</h6>
            <hr class="color">
            <p>{{ product.metafields.custom_fields["p_serving"] }}<span>&#151;</span>from {% if product.handle contains 'bundle' %}{{ product.price | money }}{% else %}{{ product.price | times: 0.85 | money }}{% endif %}</p>
            <a href="{{ product.url }}" title="Shop {{ product.metafields.custom_fields["p_name"] }}" class="btn--pink">Shop now</a>
          </div>
  		</div>
     {% endif %}
  {% endfor %}
</div>
</div>

{% schema %}
  {"name": "Shop / Products",
    "settings": [
		{
        "id": "feature_product",
        "type": "product",
        "label": "Feature product"
      },
      {
        "id": "feature_collection",
        "type": "collection",
        "label": "Feature collection"
      }
	]
  }
{% endschema %}