{% for block in section.blocks %}
{% assign collection = collections[block.settings.collection_item] %}
{% unless forloop.index == 1 %}<h2>{{ collection.title }}</h2>{% endunless %}
<ul class="g gs-reviews__selector {% unless collection.handle == 'bundles' or collection.handle == 'acceessories' %} product--rating{% endunless %}">
{% for product in collection.products %}
  {% case collection.handle %}
  {% when 'acceessories' %}
  	{% include 'collection-item-other' %}
  {% else %}
  	{% include 'collection-item-product' %}
  {% endcase %}
  {% endfor %}
</ul>
{% if forloop.index == 1 %} 
<div class="shop--quiz">
  <h2>{{ section.settings.quiz-title }}</h2>
  {{ section.settings.quiz-text }}
  <a href="/pages/website-quiz" class="btn" title="{{ section.settings.quiz-btn }}">{{ section.settings.quiz-btn }}</a>
</div>  
{% endif %}
{% endfor %}


<script>
  function addItemToCart(variant_id, qty, selling_plan) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "selling_plan": selling_plan
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        //window.location.href = '/cart'; 
        window.SLIDECART_UPDATE()
      }
    });
    window.SLIDECART_OPEN();
  }
</script>

{% schema %}
  {"name": "Shop / Products",
	"class": "shop-page w-90",
	"max_blocks": 5,
    "settings": [
	{
        "id": "feature_product",
        "type": "product",
        "label": "Feature product"
      },
      {
        "id": "main_collection",
        "type": "collection",
        "label": "Products collection"
      },
      {
        "id": "second_collection",
        "type": "collection",
        "label": "Second collection"
      },
      {
        "id": "third_collection",
        "type": "collection",
        "label": "Third collection"
      },
      {
        "id": "second_collection_title",
        "type": "text",
        "label": "Second Label"
      },
      {
        "id": "third_collection_title",
        "type": "text",
        "label": "Third Label"
      },
      {
        "id": "quiz-title",
        "type": "text",
        "label": "Quiz title",
		    "default": "Not sure what product is best for you?"
      },
      {
        "id": "quiz-text",
        "type": "richtext",
        "label": "Quiz text"
      },
	  {
        "id": "quiz-btn",
        "type": "text",
        "label": "Quiz button",
		    "default": "Take the Quiz"
		
      }
	],
    "blocks": [
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
          "id": "collection_item",
          "type": "collection",
          "label": "Choose collection"
        }
      ]
    }
  ]
  }
{% endschema %}