<div class="wrap">
  <h3>{% if page.metafields.custom_fields["lp-benefits-title"] != blank %}{{ page.metafields.custom_fields["lp-benefits-title"] }}{% else %}{{ section.settings.title }}{% endif %}</h3>
  {% if page.metafields.custom_fields["lp-benefits-text"] != blank %}{{ page.metafields.custom_fields["lp-benefits-text"] }}{% endif %}
  {% if page.metafields.custom_fields["lp-benefits-list"] != blank %}
  <ul class="lp-product-benefits">
    {% for item in page.metafields.custom_fields["lp-benefits-list"] %}
    <li>
    {% if item["icon"] != blank %}{{ item["icon"] }}{% endif %}
    {% if item["text"] != blank %}<p>{{ item["text"] }}</p>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% schema %}
{
  "name": "Benefits section",
  "tag": "section",
  "class": "lp-benefits",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Default Title",
	  "default": "Clinically Proven, Physician-Formulated, 100% Natural, and drug-free formula"
    }
  ],
  "presets": [
     {
       "name": "Benefits section",
       "settings": {
          "title": "Benefits section"
        }
     }
   ]
}
{% endschema %}