{% if page.metafields.custom_fields["product_reference"] != blank %}
{% assign product_ref = all_products[page.metafields.custom_fields["product_reference"]] %}
{% else %}
{% assign product_ref = all_products["probiotics-vaginal-health-supplement"] %}
{% endif %}

{% if page.metafields.custom_fields["show_suppfacts"] == 1 %}
<div class="lp-suppfacts-wrap">
  <div class="lp-suppfacts">
    <h6>{{ product_ref.metafields.custom_fields["supplement_facts_popup"] }}</h6>
    {{ product_ref.metafields.custom_fields["p_suppfacts"] }}
    {{ product_ref.metafields.custom_fields["p_suppfacts_bottom"] }}
  </div>
</div>
{% endif %}

<div class="lp-footer-wrap{% if page.metafields.custom_fields["show_suppfacts"] != 1 %} border{% endif %}">
  <div class="lp-footer">
    <div class="lp-copyright">{{ section.settings.copyright }} <a href="{{ shop.url }}" title="{{ section.settings.site-link }}" target="_blank">{{ section.settings.site-link }}</a></div>
    <div class="lp-disclaimer">{{ section.settings.disclaimer }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Footer section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright",
      "default": "© 2021 Happy V. All Rights Reserved"
    },
	{
      "type": "text",
      "id": "site-link",
      "label": "Site link text",
      "default": "Visit site"
    },
	{
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer",
      "default": "These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease."
    }
  ],
  "presets": [
     {
       "name": "Footer section",
       "settings": {
        }
     }
   ]
}
{% endschema %}

