{% if page.metafields.custom_fields["product_reference"] != blank %}
{% assign product_ref = all_products[page.metafields.custom_fields["product_reference"]] %}
{% else %}
{% assign product_ref = all_products["probiotics-vaginal-health-supplement"] %}
{% endif %}
{% assign variant1 = product_ref.variants[0] %}
    
{% if page.metafields.custom_fields["lp-hero-image"] != blank %}
<img class="lazyload hero-image desktop"
             src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1024x' %}"
             data-srcset="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1024x' %} 1024w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1280x' %} 1280w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1600x' %} 1600w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '1920x' %} 1920w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '2048x' %} 2048w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '2560x' %} 2560w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '3200x' %} 3200w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-image"], print: 'url', size: '3840x' %} 3840w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ page.title | remove: "LANDING " }}">
{% endif %}

<div class="hero-text">
  <div class="hero-text-wrap">
  	<a href="/" class="logo">{{ section.settings.logo }}</a>
  	<div class="sup-header">{{ section.settings.subtitle }}</div>
  	<h1>{{ page.title | remove: "LANDING " }}</h1>
  	{{ page.content }}
    <div class="desktop">
    {% if page.metafields.custom_fields["hp-hero-benefits"] != blank %}
  	<ul class="hero-benefits desktop">
      {% for item in page.metafields.custom_fields["hp-hero-benefits"] %}
      <li>
      {% if item["number"] != blank %}<span>{{ item["number"] }}</span>{% endif %}
      {% if item["text"] != blank %}<p>{{ item["text"] }}</p>{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>
    {% if page.metafields.custom_fields["lp-cta"] == "subscription" %}
  	<a href="#" class="btn" id="subscription">{{ section.settings.cta-r }}&nbsp;&#150; ${{ variant1.metafields.subscriptions.discount_variant_price }}</a>
  	{% else %}
  	<a href="#" id="onetime" class="btn">{{ section.settings.cta-1 }}&nbsp;&#150; {{ product_ref.price | money }}</a>
  	{% endif %}
  </div>
  <div class="mobile">
  {% if page.metafields.custom_fields["lp-hero-mobile"] != blank %}
  <img class="lazyload hero-image"
             src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '414x' %}"
             data-srcset="{% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '320x' %} 320w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '414x' %} 414w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '640x' %} 640w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '768x' %} 768w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '828x' %} 818w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '960x' %} 960w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-hero-mobile"], print: 'url', size: '1242x' %} 1242w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ page.title | remove: "LANDING " }}">
	{% endif %}
    
    {% if page.metafields.custom_fields["hp-hero-benefits"][0]["number"] != blank %}
    <ul class="hero-benefits">
      {% for item in page.metafields.custom_fields["hp-hero-benefits"] %}
      <li>
        {% if item["number"] != blank %}<span>{{ item["number"] }}</span>{% endif %}
        {% if item["text"] != blank %}<p>{{ item["text"] }}</p>{% endif %}
      </li>
      {% endfor %}
  </ul>
  {% endif %}

  </div>
</div>



<script>
  $('#onetime').click(function(){
    addItemToCart({{ variant1.id }}, 1); 
    return false;
  });
  $('#subscription').click(function(){
    addItemToCart({{ variant1.metafields.subscriptions.discount_variant_id }}, 1, "1", "Months"); 
    return false;
  });
</script>
<script>
  function addItemToCart(variant_id, qty, frequency, unit_type) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "properties": {
        "shipping_interval_frequency": frequency,
        "shipping_interval_unit_type": unit_type
      }
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        window.location.href = '/cart'; 
      }
    });
    window.location = '/checkout';
  }
  
  function reChargeProcessCart() {
	function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
	do {
      		token=get_cookie('cart');
	}
	while(token == undefined);	var myshopify_domain='{{ shop.permanent_domain }}'
	try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
	checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker;
}
</script>

{% schema %}
{
  "name": "Hero section",
  "tag": "section",
  "class": "lp-hero",
  "settings": [
    {
      "type": "html",
      "id": "logo",
      "label": "Logo (SVG)"
    },
	{
      "type": "text",
      "id": "subtitle",
      "label": "Above title tagline",
      "default": "Women’s Daily"
    },
	{
      "type": "text",
      "id": "cta-1",
      "label": "CTA text (one-time)",
      "default": "Buy now"
    },
	{
      "type": "text",
      "id": "cta-r",
      "label": "CTA text (montly)",
      "default": "Subscribe"
    }
  ],
  "presets": [
     {
       "name": "Hero section",
       "settings": {
          "subtitle": "Hero section"
        }
     }
   ]
}
{% endschema %}

{% comment %}  {{ product_ref.title | link_to: product_ref.url }}


							{% render 'cf-image' with image: product.metafields.custom_fields["lp-hero-image"], print: 'url', size: '320x' %} 320w, 
                          {% render 'cf-image' with image: product.metafields.custom_fields["lp-hero-image"], print: 'url', size: '480x' %} 480w, 
                          {% render 'cf-image' with image: product.metafields.custom_fields["lp-hero-image"], print: 'url', size: '640x' %} 640w, 
                          {% render 'cf-image' with image: product.metafields.custom_fields["lp-hero-image"], print: 'url', size: '960x' %} 960w, 
{% endcomment %}                          

