{% if page.metafields.custom_fields["lp-color"] != blank %}{% assign color_ref = page.metafields.custom_fields["lp-color"] %}{% else %}{% assign color_ref = "blue" %}{% endif %}
{% if page.metafields.custom_fields["lp-ingredients-num"] != blank %}{% assign num = page.metafields.custom_fields["lp-ingredients-num"] %}{% else %}{% assign num = blank %}{% endif %}
<div class="bg"></div>
<div class="wrap colored-{{color_ref}}">
  {% if page.metafields.custom_fields["lp-ingredients-image"] != blank %}
  <div class="img-wrap">
  	<img class="lazyload ingrdients-image"
             src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '650x' %}"
             data-srcset="{% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '320x' %} 320w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '480x' %} 480w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '512x' %} 512w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '750x' %} 750w,
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '1024x' %} 1024w, 
                          {% render 'cf-image' with image: page.metafields.custom_fields["lp-ingredients-image"], print: 'url', size: '1500x' %} 1500w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ page.title | remove: "LANDING " }}">
  </div>
  {% endif %}
  <div class="lp-ingredients-text">
    <h3>{{ section.settings.title | replace: 'nnum', num }}</h3>
    {% if page.metafields.custom_fields["lp-ingredients-text"] != blank %}
      <p>{{ page.metafields.custom_fields["lp-ingredients-text"] }}</p>
    {% endif %}
    {% if page.metafields.custom_fields["lp-ingredients-text-2"] != blank %}
      <p><strong>{{ section.settings.subtitle }}</strong>{{ page.metafields.custom_fields["lp-ingredients-text-2"] }}</p>
    {% endif %}
    {% if page.metafields.custom_fields["lp-ingredients-icons"] != blank %}
    <ul class="lp-product-ingredients">
    {% for item in page.metafields.custom_fields["lp-ingredients-icons"] %}
    <li>
    {% case item["select_icon"] %} 
      {% when 'clinically-proven' %}
      {% include 'icon-benefit-clinically-proven' %}
      {% when 'doctor-recommended' %}
      {% include 'icon-benefit-doctor-recommended' %}
      {% when 'no-artificial-stuff' %}
      {% include 'icon-benefit-no-artificial-stuff' %}
      {% when 'delayed-release-capsules' %}
      {% include 'icon-benefit-delayed-release-capsules' %}
      {% when 'vegan-friendly' %}
      {% include 'icon-benefit-vegan-friendly-non-gmo' %}
      {% when 'allergen-free' %}
      {% include 'icon-benefit-major-allergen-free' %}
      {% when 'flavor-great-taste' %}
      {% include 'icon-benefit-flavor-great-taste' %}
      {% when 'effectively-dosed' %}
      {% include 'icon-benefit-effectively-dosed' %}
      {% when 'alcohol-free' %}
      {% include 'icon-benefit-alcohol-free' %}
    {% endcase %}  
    {% if item["text"] != blank %}<p>{{ item["text"] }}</p>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "Ingredients section",
  "tag": "section",
  "class": "lp-ingredients",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Default title",
	  "default": "Made with <span>nnum clinically proven</span> ingredients at their clinically proven dosages:"
    },
	{
      "type": "text",
      "id": "subtitle",
      "label": "Sub title",
	  "default": "Made without:"
    }
  ],
  "presets": [
     {
       "name": "Ingredients section",
       "settings": {
          "title": "Ingredients section"
        }
     }
   ]
}
{% endschema %}