{% if page.metafields.custom_fields["product_reference"] != blank %}
{% assign product_ref = all_products[page.metafields.custom_fields["product_reference"]] %}
{% else %}
{% assign product_ref = all_products["probiotics-vaginal-health-supplement"] %}
{% endif %}

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product_ref %}
<div class="reviews-arrows">
  <a class="control_prev">{% include 'icon-slider-right'%}</a>
  <a class="control_next">{% include 'icon-slider-right'%}</a>
</div>

<script>
  
  var slideCount = $('.jdgm-rev').length;
	
	if ($('body').width() > 736) {
		var slideWidth = $('.jdgm-rev').width()+80;
		var slideWidth2 = slideWidth*2-80;
		$('.jdgm-rev-widg__body').css({ width: slideWidth2 })
	}

	else {
		var slideWidth = $('.jdgm-rev').width();
		$('.jdgm-rev-widg__body').css({ width: slideWidth });
	}

	var sliderUlWidth = slideCount * slideWidth;
	$('.jdgm-rev-widg__reviews').css({ width: sliderUlWidth, marginLeft: - slideWidth });
    $('.jdgm-rev:last-child').prependTo('.jdgm-rev-widg__reviews');

    function moveLeft() {
        $('.jdgm-rev-widg__reviews').animate({
            left: + slideWidth
        }, 200, function () {
            $('.jdgm-rev:last-child').prependTo('.jdgm-rev-widg__reviews');
            $('.jdgm-rev-widg__reviews').css('left', '');
        });
    }

    function moveRight() {
        $('.jdgm-rev-widg__reviews').animate({
            left: - (slideWidth)
        }, 200, function () {
            $('.jdgm-rev:first-child').appendTo('.jdgm-rev-widg__reviews');
            $('.jdgm-rev-widg__reviews').css('left', '');
        });
    }

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });
  
</script>

{% schema %}
  {
    "name": "Testimonials section",
    "tag": "section",
    "class": "lp-testimonials",
    "settings": [],
	"presets": [
     {
       "name": "Testimonials section",
       "settings": {
        }
     }
   ]
  }
{% endschema %}

{% javascript %}
	

                       
{% endjavascript %}

{% style %}
.jdgm-rev-widg {
	border: none !important;
}

.jdgm-rev {
  border-top: none !important;
  overflow: visible !important;
}

.jdgm-rev__location {
  opacity: 1 !important;
}

.jdgm-rev__title {
  font-size: 1em !important;
}

{% endstyle %}