<h3>{{ section.settings.heading | escape }}</h3>

{% for block in section.blocks %}
	<div class="custom-medical-team-item g"> 
      <div class="custom-medical-image">
        {% if block.settings.image != blank %}<img src="{{ block.settings.image | img_url: '180x' }}" />{% endif %}
        {% if block.settings.title != blank %}<h2>{{ block.settings.title | escape }}</h2>{% endif %}
      </div>
      <div>
        {% if block.settings.content != blank %}{{ block.settings.content }}{% endif %}
      </div>
	</div>
{% endfor %}

{% schema %}
{
   "name":"About / Medical Board",
   "class": "about-medical wrap--mid",
   "max_blocks":5,
   "blocks":[
      {
         "type":"image",
         "name":"Image slide",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"image"
            },
            {
               "type":"text",
               "id":"title",
               "label":"Heading"
            },
            {
               "type":"richtext",
               "id":"content",
               "label":"Description"
            }
         ]
      }
   ],
   "settings":[
      {
         "type":"text",
         "id":"heading",
         "label":"Heading",
		 "default": "Our Medical Advisory Board"
      }
   ]
}
{% endschema %}