<div class="popup-content g">
  <div class="popup-container">
    <div onclick="document.getElementById('shopify-section-p--transparency').style.top='-9999px'" class="popup-close">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div>
      <h3>{{ section.settings.title }}</h3>
      {{ section.settings.text-1 }}
      <div class="img-wrap">
        {% if section.settings.image-svg != blank %}{{section.settings.image-svg}}{% else %}
  		<img class="lazyload"
  		src="{{ section.settings.image | img_url: '10x' }}" 
  		data-src="{{ section.settings.image | img_url: '1000x' }}"
  		data-srcset="{{ section.settings.image | img_url: '300x' }} 300w, {{ section.settings.dani-image | img_url: '600x' }} 600w, 
               {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '2000x' }} 2000w"         
  		data-sizes="auto"
  		data-parent-fit="cover"
  		alt="{{ section.settings.title }}">
        {% endif %}
      </div>
      {{ section.settings.text-2 }}
    </div>
  </div>
</div>


{% schema %}
  {
	"name": "Manufacturing Transp.",
    "class": "p-popup popup-text",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Manufacturing Transparency"
      },
      {
        "id": "text-1",
        "type": "html",
        "label": "Text above the image",
        "default": "<div><p>Some HTML content</p></div>"
      },
	  {
        "id": "text-2",
        "type": "html",
        "label": "Text below the image",
        "default": "<div><p>Some HTML content</p></div>"
      },
	  {
      "type": "html",
      "id": "image-svg",
      "label": "Image (paste SVG)"
      },
	  {
      "type": "image_picker",
      "id": "image",
      "label": "Or PNG Image (2000x min)"
      }
	]
  }
{% endschema %}