<div class="img-wrap">
      <img class="lazyload"
  src="{{ section.settings.image | img_url: '800x' }}" 
  data-src="{{ section.settings.image | img_url: '800x' }}"
  data-srcset="{{ section.settings.image | img_url: '300x' }} 300w, {{ section.settings.image | img_url: '400x' }} 400w, 
               {{ section.settings.image | img_url: '600x' }} 600w, {{ section.settings.image | img_url: '800x' }} 800w, 
               {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1600x' }} 1600w"         
  data-sizes="auto"
  data-parent-fit="cover"
  alt="{{section.settings.image-alt}}">
      </div>
	

{% schema %}
  {"name": "Page Header Image",
	"class": "page-img-header",
    "settings": [
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image  (1600x min)"
      },
      {
        "id": "image-alt",
        "type": "text",
        "label": "Img Alt"
      }
	]
  }
{% endschema %}

