<h1>{{ section.settings.title }}</h1>

<ul class="g">
  {% for block in section.blocks %} 
  <a title="{{block.settings.tit}}" href="{{block.settings.link}}" target="_blank" rel="noopener"><li>
    <div class="img-wrap t-caps">
      
      {% if block.settings.img != blank or block.settings.img-alt != blank %}
      	{% if block.settings.img != blank %}
      		{{block.settings.img}}
      	{% else %}
      		<img src="{{block.settings.img-alt |  img_url: 'master'}}" alt="{{block.settings.tit}}">
      	{% endif %}
      {% else %}{{block.settings.tit}}
      {% endif %}
      
    </div>
    <div class="text-wrap g">  
    	{{block.settings.text}}
    </div>
  </li></a>
  {% endfor %}
</ul>

<div class="press-bottom">{{ section.settings.text }}</div>

{% schema %}
  {
	"name": "Press cards",
	"class": "press-page",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Page Heading",
		"default": "Press"
      },
	{
        "id": "text",
        "type": "richtext",
        "label": "Bottom text",
		"default": "<p>Interested in featuring us? <a href='mailto:hello@happyv.com'>Hello@Happyv.com</a></p>"
      }
	],

 "blocks": [
    {
      "type": "select",
      "name": "Press card",
      "settings": [
        {
          "id": "tit",
          "type": "text",
       		"label": "Press Name"
        },
		{
          "id": "text",
          "type": "richtext",
       		"label": "Quote"
        },
		{
          "id": "link",
          "type": "url",
       		"label": "Full Article Link"
        },
		{
          "id": "img",
          "type": "html",
       		"label": "Logo (paste SVG code here)"
        },
		{
          "id": "img-alt",
          "type": "image_picker",
       	  "label": "Logo Image (if no SVG available)"
        }
      ]
    }
  ]
 }
{% endschema %}