{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_image_zoom_size = '1024x1024' -%}
{%- assign product_image_scale = '2' -%}
{%- assign enable_zoom = section.settings.enable_zoom -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
{% assign p_slug = product.metafields.custom_fields["p_slug"] %}

<div class="menu-wrap--product colored-{{ p_slug }}">
	<div class="menu-wrap--inner">
		<div class="w">
		<a href="/" class="logo"><img src="{{ 'happy-v-logo.svg' | asset_url }}" alt="{{ shop.description}}"></a>
		<div class="t--bold c--link">{{ product.metafields.custom_fields["p_name_short"] }}</div>
        <span class="btn p__buy-now">Buy Now</span>  
      </div>
  </div>
</div>

{% case p_slug %}
  {% when 'immuneboost' %}
  	{% assign p_faq = '<div class="ndnappseasyfaqs" id="ndnappseasyfaqs-19176"></div>' %}
  {% when 'probiotic' %}
	{% assign p_faq = '<div class="ndnappseasyfaqs" id="ndnappseasyfaqs-19187"></div>' %}
  {% when 'prebiotic' %}
    {% assign p_faq = '<div class="ndnappseasyfaqs" id="ndnappseasyfaqs-19189"></div>' %}
  {% when 'relief' %}
	{% assign p_faq = '<div class="ndnappseasyfaqs" id="ndnappseasyfaqs-19185"></div>' %}
  {% when 'menopause' %}
    {% assign p_faq = '<div class="ndnappseasyfaqs" id="ndnappseasyfaqs-21326"></div>' %}
{% endcase %}

<div class="{{ product.metafields.custom_fields["p_slug"] }} page-product colored-{{ product.metafields.custom_fields["p_slug"] }}" 
     id="ProductSection-{{ section.id }}" 
  	data-section-id="{{ section.id }}"
  	data-section-type="product"
  	data-enable-history-state="true">

  <div class="p-header p2-header">
    {% for image in product.images %}
	{% if image contains 'heroproduct'%}
	{% assign image_index = forloop.index | minus: 1 %}
	{% endif %}
	{% endfor %}
	<div class="p-image">
      <div class="p-image-wrap">
        <img class="lazyload"
             src="{{ product.images[image_index] | img_url: '400x' }}"
             data-src="{{ product.images[image_index] | img_url: '800x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '400x' }} 400w, {{ product.images[image_index] | img_url: '600x' }} 600w, 
                          {{ product.images[image_index] | img_url: '800x' }} 800w, {{ product.images[image_index] | img_url: '950x' }} 950w,
                          {{ product.images[image_index] | img_url: '1040x' }} 1040w, {{ product.images[image_index] | img_url: '1600x' }} 1600x
                          {{ product.images[image_index] | img_url: '1920x' }} 1920w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.metafields.custom_fields["p_name"] }}">
      </div>
    </div>
	<div class="p-buy">
		<div>
          <div class="p2-header-top">
            {% include 'product-breadcrumbs' %}
            {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
            </div>
          
          <h1 class="t--bold">{{ product.title }}</h1>
          <p class="p2-description" itemprop="description" id="buy-now">{{ product.metafields.custom_fields["p_short"] }}</p>
          <div class="p2-description-list">
            {{ product.metafields.custom_fields["pt_short_benefits"] }}
          </div>  
			
          <div class="product-single__meta">
          {% comment %}  
		  <div class="product__price">
            {% include 'product-price', variant: current_variant %}
          </div>
          {% endcomment %}  

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}




            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            <div class="p__buy-block">
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" >
                <input type='button' value='+' class='qtyplus plus' field='quantity' />
              </div>
              
              <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              	</button>
              	{% if section.settings.enable_payment_button %}
                	{{ form | payment_button }}
              	{% endif %}
            	</div>
            </div>  
            
            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
              {% include 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
            
          {% endform %}
        </div>
        
        <div class="p2-image-dosage p2-icons t-caps--small">{{ product.metafields.custom_fields["p_dosage"] }}</div> 
          
		
		
	</div>
	<meta itemprop="name" content="{{ product.title }}">
	<meta itemprop="brand" content="Happy V">
	<meta itemprop="sku" content="{{ product.sku }}">
	<meta itemprop="slogan" content="<?php the_field('hp_text') ?>">
	<link itemprop="url" href="{{ product.url }}">
	</div>
</div>
  
  <div class="page-body">
    <div class="p2-genearal-benefits w t-caps--small">{% include 'product--general-benefits.liquid' %}</div>

<div class="p-content">
	<div class="w">
		<div class="g--1">
		  {{ product.content }}	
		</div>
		<div class="g--2">
          {% for image in product.images %}
			{% if image contains '-bulb'%}
			{% assign image_index = forloop.index | minus: 1 %}
			{% endif %}
		  {% endfor %}
          <div class="img-wrap">
          	<img class="lazyload"
             src="{{ product.images[image_index] | img_url: '300x' }}"
             data-src="{{ product.images[image_index] | img_url: '535x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '535x' }} 1x, {{ product.images[image_index] | img_url: '1070x' }} 2x, 
                          {{ product.images[image_index] | img_url: '1500x' }} 3x"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.metafields.custom_fields["p_name"] }}">
          	<div class="text-smallcaps">Free shipping on all orders over&nbsp;$40, US only</div>
          </div>
		</div>	
	</div>
</div>		
	
<div class="p-benefits">
	<div class="w">
		<div class="g--1">
			<h3>
              
              {% if product.metafields.custom_fields["p_benefits_title"] %}{{ product.metafields.custom_fields["p_benefits_title"] }}
              {% else %}
              Overall <em>benefits</em>
              {% endif %}</h3>
              
              <p class="t-sm">{{ product.metafields.custom_fields["p_benefits"] }}</p>
          		{% assign image_index = 0 %}
          		{% for image in product.images %}
					{% if image contains '-openlid'%}
					{% assign image_index = forloop.index | minus: 1 %}
          			{% assign image_bulb = true %}
					{% endif %}
		  		{% endfor %}
          		{% if image_index != 0 %}
          			{% if p_slug == 'relief' %}
          <img class="lazyload img"
             src="{{ product.images[image_index] | img_url: '100x' }}"
             data-src="{{ product.images[image_index] | img_url: '200x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '200x' }} 200w, {{ product.images[image_index] | img_url: '300x' }} 300w, 
                          {{ product.images[image_index] | img_url: '400x' }} 400w, {{ product.images[image_index] | img_url: '600x' }} 600w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.metafields.custom_fields["p_name"] }}">
          			{% else %}
          <img class="lazyload img"
             src="{{ product.images[image_index] | img_url: '200x' }}"
             data-src="{{ product.images[image_index] | img_url: '400x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '300x' }} 300w, {{ product.images[image_index] | img_url: '400x' }} 400w, 
                          {{ product.images[image_index] | img_url: '600x' }} 600w, {{ product.images[image_index] | img_url: '800x' }} 800w,
                          {{ product.images[image_index] | img_url: '900x' }} 900w, {{ product.images[image_index] | img_url: '1200x' }} 1200w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.metafields.custom_fields["p_name"] }}">
          			{% endif %}
          {% endif %}
              
		</div>
		<div class="g--2">{{ product.metafields.custom_fields["p_benefits_list"] }}</div>
	</div>
</div>	


{% if product.metafields.custom_fields["p_how_img"] %}  
<div class="p-works-header w">
  <img src="{{ product.metafields.custom_fields["p_how_img"] }}" alt="{{ product.metafields.custom_fields["p_name"] }}">
</div>
{% endif %}
    
{% if product.metafields.custom_fields["p_how_list"] %}   
<div class="p-works w">
	<h3>How it <em>works</em></h3>
	{{ product.metafields.custom_fields["p_how_list"] }}
</div>  
{% endif %}
    
  <div class="p-ingredients">
	<div class="w">
      {% if product.metafields.custom_fields["p_ingredients"] %}
      {% assign ings = product.metafields.custom_fields["p_ingredients"] | split: "|" %}
		<div class="g--1">
			<h2>Ingredients that <em><nobr>over-perform</nobr></em></h2>
			<ul>
              {% for item in ings %}
      		  {% assign page = pages[item] %}
				<li>
					<div class="g--i"><img src='{% if page.metafields.custom_fields["i_pp_image"] %}{{ page.metafields.custom_fields["i_pp_image"] }}{% else %}{{ page.metafields.custom_fields["i_paring_img"] }}{% endif %}' alt="{{ page.title }}"></div>
					<div>
						<h4><a href="{{ page.url }}" title="{{ page.title }}">{% if page.metafields.custom_fields["i_pp_title"] %}{{ page.metafields.custom_fields["i_pp_title"] }}{% else %}{{ page.metafields.custom_fields["i_name"] }}{% endif %}</a>
                          <em class="em">&#151; {% if page.metafields.custom_fields["i_pp_subtitle"] %}{{ page.metafields.custom_fields["i_pp_subtitle"] }}{% else %}{{ page.metafields.custom_fields["i_short_name"]  }}{% endif %}</em></h4>	
						<p>{{ page.metafields.custom_fields["i_product_page"] }} <a href="{{ page.url }}" title="{{ page.title }}">See Study Here.</a></p>
					</div>
				</li>
              {% endfor %}
			</ul>
		</div>
      {% endif %}
      {% if product.metafields.custom_fields["p_suppfacts"] %}
		<div class="g--2">
          <div class="supp-facts">
            <h6>Supplement Facts</h6>
            {{ product.metafields.custom_fields["p_suppfacts"] }}
          </div>
          
          {% if product.metafields.custom_fields["p_suppfacts_bottom"] != blank %}
          	{{ product.metafields.custom_fields["p_suppfacts_bottom"] }}
          {% endif %}
          
          <a class="t-caps--link" title="Ingredients" href="/pages/ingredients">Learn more about ingredients we use</a>
		</div>
      {% endif %}
	</div>
</div>

{% if product.metafields.custom_fields["p_doctors_txt"] %}	
<div class="p-doctors">
	<h3><span>What doctors say?</span></h3>
	<div class="w">
		<div class="g--1"><img src="https://cdn.shopify.com/s/files/1/0063/4529/3909/files/dr_peskin.jpg?v=1587094354" alt="Dr. Barry Peskin MD, a gynecology specialist">
		</div>
		<div class="g--2">
			<div class="p-doctors--text">{{ product.metafields.custom_fields["p_doctors_txt"] }}</div>
			<div class="t-caps--small">Dr. Barry Peskin<br><span>MD, a gynecology specialist</span></div></div>
	</div>
</div>
{% endif %}		
		
{% include 'product-facility' %}
  
{% if p_eco_video %}
<div class="p-eco">
	<div class="w">
	<div>
		<video autoplay loop muted playsinline><source src="{{ p_eco_video }}" type="video/mp4"></video>
	</div>
	<div class="g--2">
		<h4><span>Our Eco-Initiative</span></h4>
		<p>We believe that we can deliver optimal products, at an optimal price, while being eco-responsible. That’s why our eco-initiative is all about getting you the products you need without the waste.</p>
		<p class="italic">Just opt in for our Subscription, and you will get a sachet with your next month’s supply of {{ product.title}}. Just put it into your reusable container and you are all set!</p>
	</div>
	</div>
</div>

{% endif %}

<div class="p-faq">	
  <div class="w">
    <h4 class="faq--title">FAQ</h4>
    <p>For more information about {{ product.metafields.custom_fields["p_name_short"] }}, vaginal health or other Happy&nbsp;V<sup>&reg;</sup> products, visit our <a href="/pages/faq/" title="{{ product.metafields.custom_fields["p_name"] }} FAQ">product FAQs page</a> and <a href="/pages/help#/" title="Help Center">Help Center</a>. 
      If you have any further questions feel free to <a href="/pages/contact" title="Happy V contacts">contact us</a>.</p>
    {{ p_faq }}
    {% comment %}<div class="p-faq--more"><a href="/pages/faq/" class="more">See All</a>{% endcomment %}</div>
  </div>
</div>

<div class="p-reviews w">
  <h4>Reviews</h4>
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>  

{% comment %}    
<div class="shop-header shop--banner">
  {% assign productB = all_products['happy-v-bundle'] %}
  <div class="img-wrap"><img src="{{ productB.metafields.custom_fields["shop_img"] }}" alt="{{ productB.metafields.custom_fields["p_name"] }}"></div>
  <div class="g--2">
    <div class="w">
      {{ productB.content }}
      <div class="product__price">
        {% if productB.compare_at_price %}<span class="shopify-buy__product__compare-price">{{ productB.compare_at_price | money }}</span>{% endif %}
        {{ productB.price | money }}
      </div>
      <form action="/cart/add" data-productid="{{ product.id }}" method="post" id="product-form-{{ productB.id }}">




        <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ productB.variants.first.id }}">
        <button type="submit" name="add" class="btn">ADD TO CART</button>
      </form>
    </div>
  </div>
</div>
{% endcomment %}    
 
{%- assign blog = blogs[p_slug] -%}

{%- if blog.articles_count > 0 -%}
  <div class="page--blog lightgray-bg">
	<div class="w">
      <h4><a href="http://blog.happyv.com" target="_blank">More about {{ product.metafields.custom_fields["p_name_short"] }} in our blog</a></h4>
      <ul>
        {%- for article in blog.articles limit: 4 -%}
        <li>
          {% assign a_url_all = article.excerpt | split: '|' %}
			<a href="{{ a_url_all[1] }}" class="img-wrap" target="_blank"><img src="{{ a_url_all[0] }}"></a>
			<a href="{{ a_url_all[1] }}" class="t-caps--link no-border" target="_blank">{{ article.title }}</a>
		</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endif -%}

{%- if section.settings.show_view_all -%}
  <a href="{{ blog.url }}"
    class="btn"
    aria-label="{{ 'blogs.article.view_all_blogs' }}">
    {{ 'blogs.article.view_all' }}
  </a>
{%- endif -%}
  </div>
</div>	

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}