{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}

<div class="p-header g">
  <div class="p-image-wrap g">
    <img class="lazyload" 
             src="{{ product.featured_image | img_url: '100x' }}"
             data-src="{{ product.featured_image | img_url: '800x' }}"
             data-srcset="{{ product.featured_image | img_url: '400x' }} 400w, {{ product.featured_image | img_url: '600x' }} 600w, 
                          {{ product.featured_image | img_url: '800x' }} 800w, {{ product.featured_image | img_url: '950x' }} 950w,
                          {{ product.featured_image | img_url: '1040x' }} 1040w, {{ product.featured_image | img_url: '1600x' }} 1600x
                          {{ product.featured_image | img_url: '1920x' }} 1920w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product.title }}">
  </div>  
    
  <div class="p-buy">
    <div>
      <h1 class="product-title">{{ product.title }}</h1>
      {% if product.description != blank %}<h2>{{ product.description }}</h2>{% endif %}
      {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
      {% assign variant = product.selected_or_first_available_variant %}
      
      <div class="product-single__meta">

        {% capture "form_classes" -%}
          product-form g product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
        {%- endcapture %}
			
        {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
        
        {% if product.has_only_default_variant %}
        
  		<input name="id" data-productid="{{ product.id }}" value="{{ variant.id }}" type="hidden">
      	{% else %}
      	<select name="id" data-productid="{{ product.id }}">
          {% for variant in product.variants %}
          	{% if variant.available %}
          	  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor%}
        </select>
      	{% endif %}
           
		<button type="submit" name="add" id="AddToCart" class="btn btn-long">
          <span id="AddToCartText">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}&nbsp;&#151; <span class="p-btn-num">{{ variant.price | money }}</span>{% if variant.compare_at_price > variant.price %}<span class="price-old">{{ variant.compare_at_price | money }}</span>{% endif %}{% endunless %}</span>
        </button>
        
        <div class="product-form__item--quantity g">
          <input type='button' value='-' class='qtyminus minus' field='quantity' />
          <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" >
          <input type='button' value='+' class='qtyplus plus' field='quantity' />
        </div> 
        {% endform %}
      
      </div>
          
      </div>
	</div>
</div>

{% include 'product--general-benefits' %}

<div class="p-reviews p-narrow p-section p-target" id="Reviews">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div> 


<script>
  var price = '{{ variant.price }}';
  $('.product-form__item--quantity').on('click', '.plus', function(e) {
        e.stopPropagation();
        let $input = $(this).prev('input.product-form__input');
        let val = parseInt($input.val());
        $input.val( val+1 ).change();
        var priceMult = '$'+(val+1)*price/100;
        $('.p-btn-num').text(priceMult);
      });

      $('.product-form__item--quantity').on('click', '.minus', function(e) {
        e.stopPropagation();
        let $input = $(this).next('input.product-form__input');
        var val = parseInt($input.val());
        if (val > 1) {
          $input.val( val-1 ).change();
          var priceMult = '$'+(val-1)*price/100;
          $('.p-btn-num').text(priceMult);
        } 
      });
</script>

{% schema %}
{
  "name": "Product content",
  "class": "product-header g",
  "settings": [
  ]
}
{% endschema %}