{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_image_zoom_size = '1024x1024' -%}
{%- assign product_image_scale = '2' -%}
{%- assign enable_zoom = section.settings.enable_zoom -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
{% assign p_slug = product.metafields.custom_fields["p_slug"] %}

<div class="menu-wrap--product colored-{{ p_slug }}">
	<div class="menu-wrap--inner">
		<div class="w">
		<a href="/" class="logo"><img src="{{ 'happy-v-logo.svg' | asset_url }}" alt="{{ shop.description}}"></a>
		<div class="t--bold c--link">{{ product.metafields.custom_fields["p_name_short"] }}</div>
        <span class="btn p__buy-now">Buy Now</span>  
      </div>
  </div>
</div>

<div class="{{ product.metafields.custom_fields["p_slug"] }} page-product colored-{{ product.metafields.custom_fields["p_slug"] }}" 
     id="ProductSection-{{ section.id }}" 
  	data-section-id="{{ section.id }}"
  	data-section-type="product"
  	data-enable-history-state="true">

  <div class="p-header">
	<div class="p-image">
      <div class="p-image-wrap"><img src="{{ product.metafields.custom_fields["p_hero_img"] }}" alt="{{ product.metafields.custom_fields["p_name"] }}"></div>
    </div>
	<div class="p-buy">
		<div>
          
          {% include 'product-breadcrumbs' %}
          
          <h1>{{ product.metafields.custom_fields["p_name"] }}</h1>
			
          {% comment %}{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}{% endcomment %}
          
          <p class="t-sm" itemprop="description" id="buy-now">{{ product.metafields.custom_fields["p_short"] }}</p>
          <p class="small em">{{ product.metafields.custom_fields["p_short_2"] }} <span class="br">{{ product.metafields.custom_fields["p_serving"] }} / bottle</span></p>
			
          <div class="product-single__meta">
          {% comment %}  
		  <div class="product__price">
            {% include 'product-price', variant: current_variant %}
          </div>
          {% endcomment %}  

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}




            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            
            <div class="p__buy-block">
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" >
                <input type='button' value='+' class='qtyplus plus' field='quantity' />
              </div>
              
              <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              	</button>
              	{% if section.settings.enable_payment_button %}
                	{{ form | payment_button }}
              	{% endif %}
            	</div>
            </div>  
            
            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
              {% include 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
            
          {% endform %}
        </div>
        
         
          
		</div>
		<div class="p-subscription">
			<div class="t-caps--small">How subscription works:</div>
			<ul class="small">
				<li class="sbscr--1">Get selected Happy V products every month</li>
				<li class="sbscr--2">No surprises, we will reach out before each delivery</li>
				<li class="sbscr--3">Pause or cancel any time after 2 months, for any reason</li>
			</ul>
		</div>
	</div>
	<meta itemprop="name" content="{{ product.title }}">
	<meta itemprop="brand" content="Happy V">
	<meta itemprop="sku" content="{{ product.sku }}">
	<meta itemprop="slogan" content="<?php the_field('hp_text') ?>">
	<link itemprop="url" href="{{ product.url }}">
	<div class="p-image-dosage">
		<div><h6>SUGGESTED USE</h6>
			<p>{{ product.metafields.custom_fields["p_dosage"] }}</p>
		</div>
	</div>
</div>

</div>	