{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}

<div class="p-header g">
  <div class="p-image--giftcard g">
    <img class="lazyload" 
             src="{{ product.featured_image | img_url: '100x' }}"
             data-src="{{ product.featured_image | img_url: '800x' }}"
             data-srcset="{{ product.featured_image | img_url: '400x' }} 400w, {{ product.featured_image | img_url: '600x' }} 600w, 
                          {{ product.featured_image | img_url: '800x' }} 800w, {{ product.featured_image | img_url: '1200x' }} 1200w"
             data-sizes="auto"
             alt="{{ product.title }}">
  </div>
    
  <div class="p-buy">
    <div>
          <h1 class="product-title">{{ product.title }}</h1>
          {% comment %}
          	{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
          {% endcomment %}
          
          {% if product.metafields.custom_fields["p_short"] != blank %}<h2>{{ product.metafields.custom_fields["p_short"] }}</h2>{% endif %}
          
          <div class="product-single__meta" id="Subscription">

          
          {% capture "form_classes" -%}
            product-form g product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}
			
          {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            
           <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-single__variants giftcard--select">
             <option disabled selected="selected">Select amount</option>
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            
            <div class="product-form__item--quantity g">
                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" >
                <input type='button' value='+' class='qtyplus plus' field='quantity' />
              </div> 
            {% endform %}
            
            <div class="gift--description">{{ product.description }}</div>
            
        </div>
          
      </div>
	</div>
</div>

<script>
  $('.product-form__item--quantity').on('click', '.plus', function(e) {
        e.stopPropagation();
        let $input = $(this).prev('input.product-form__input');
        let val = parseInt($input.val());
        $input.val( val+1 ).change();
        var priceMult = '$'+(val+1)*price/100;
        $('.p-btn-num').text(priceMult);
      });

      $('.product-form__item--quantity').on('click', '.minus', function(e) {
        e.stopPropagation();
        let $input = $(this).next('input.product-form__input');
        var val = parseInt($input.val());
        if (val > 1) {
          $input.val( val-1 ).change();
          var priceMult = '$'+(val-1)*price/100;
          $('.p-btn-num').text(priceMult);
        } 
      });
</script>