{% assign variant1 = product.variants[0] %}
{% assign variant3 = product.variants[1] %}

<div class="menu-wrap--inner t--b">
  <div class="p-nav--left g">
    <div class="p-nav--title g">
      <h2 class="product-title">{{ product.metafields.custom_fields["p_name_short"] | truncate: 45}}</h2>
      {% comment %}{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}{% endcomment %}
    </div>
    {% comment %}<ul class="p-nav--menu">
      {% if product.metafields.custom_fields["repeater_content_section"] != blank %}<li><a href="#HowItWorks">{{ 'sections.product--nav.how_it_works' | t }}</a></li>{% endif %}
      {% if product.metafields.custom_fields["_i_stats"] != blank %}<li><a href="#Ingredients">{{ 'sections.product--nav.ingredients' | t }}</a></li>{% endif %}
      {% if product.metafields.custom_fields["transperency_heading"] != blank %}<li><a href="#Usage">{{ 'sections.product--nav.how_to_take' | t }}</a></li>{% endif %}
      {% if product.metafields.custom_fields["_product__eco_image"] != blank %}<li><a href="#EcoSubscription">{{ 'sections.product--nav.subscription' | t }}</a></li>{% endif %}
      {% if product.metafields.custom_fields["transparency_levels_tab"] != blank %}<li><a href="#Transparency">{{ 'sections.product--nav.transparency' | t }}</a></li>{% endif %}
      {% if product.metafields.custom_fields["what_the_experts_think_slider"] != blank %}<li><a href="#ExpertOpinion">{{ 'expert_opinion' | t }}</a></li>{% endif %}
      <li><a href="#Reviews">{{ 'sections.product--nav.reviews' | t }}</a></li>
      <li><a href="#FAQ">{{ 'sections.product--nav.faq' | t }}</a></li>
    </ul>
    {% endcomment %}
  </div>
  <div class="p-nav--left g">
    <span class="p-nav--price p-nav--price-monthly show{% unless variant1.available %} disabled{% endunless %}">{{ variant1.selling_plan_allocations[0].price | money }}</span>
    <span class="p-nav--price p-nav--price-single{% unless variant1.available %} disabled{% endunless %}">{{ product.price | money }}</span>
    <span class="p-nav--price p-nav--price-quaterly{% unless variant3.available %} disabled{% endunless %}">{{ variant3.selling_plan_allocations[1].price | money }}</span>
    <div><a class="p-nav--option p-nav--single">One-time</a><a class="active p-nav--option p-nav--monthly">Monthly</a><a class="p-nav--option p-nav--quaterly">Quarterly</a></div>
  </div>

  <div>
    {% comment %}
    {% capture prodNav %}product-nav-{{ product.id }}{% endcapture %}
    {% form "product", product, data-productid: product.id, id: prodNav %}




    <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
      {% else %}
      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Add to cart" class="btn page-nav--btn" />
    {% endform %}

    {% form "product", product %}
    <input type="hidden" name="id" value="{{ product.variants[0].id}}" />
    <button type="submit" {% unless variant1.available %}disabled="disabled"{% endunless %} class="btn page-nav--btn"><span>{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}<span class="p-nav--price-btn p-nav--price-single"> — {{ product.price | money }}</span>{% endunless %}</span></button>
    {% endform %}
    {% endcomment %}

    <a {% if variant1.available %}onclick="addItemToCart({{ variant1.id }}, 1); return false"{% endif %} class="btn page-nav--btn{% unless variant1.available %} disabled{% endunless %}"><span>{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}<span class="p-nav--price-btn p-nav--price-single"> — {{ product.price | money }}</span>{% endunless %}</span></a>
        <button {% unless variant1.available %}disabled="disabled"{% endunless %} class="btn page-nav--link show" id="add-to-cart-top-1"><span>{% unless variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe<span class="p-nav--price-btn p-nav--price-monthly"> — {{ variant1.selling_plan_allocations[0].price | money }}</span>{% endunless %}</span></button>
    <button {% unless variant3.available %}disabled="disabled"{% endunless %} class="btn page-nav--link3" id="add-to-cart-top-3"><span>{% unless variant3.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe<span class="p-nav--price-btn p-nav--price-quaterly"> — {{ variant3.selling_plan_allocations[1].price | money }}</span>{% endunless %}</span></button>
    <script>
      {% if variant1.metafields.subscriptions.discount_variant_id %}
      $('#add-to-cart-top-1').click(function(){
        addItemToCart({{ variant1.id }}, 1, {{product.selling_plan_groups[0].selling_plans[0].id}})
      });
      {% endif %}

      {% if variant3.id %}
      $('#add-to-cart-top-3').click(function(){
        addItemToCart({{ variant3.id }}, 1, {{product.selling_plan_groups[0].selling_plans[1].id}})
      });
      {% endif %}
    </script>
  </div>


</div>

{% schema %}
{
  "name": "Product navigation",
  "class": "menu-wrap--product",
  "settings": [],
  "blocks": [
    {
      "type": "links",
      "name": "Nav links",
      "settings": [
        {
          "id": "link_name",
          "type": "text",
       		"label": "Link name"
        },
		{
          "id": "link_id",
          "type": "text",
       		"label": "Link ID"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "how_it_works": "How it works",
	  "ingredients" : "Ingredients",
	  "subscription" : "Subscription",
	  "transparency" : "Transparency",
	  "expert_opinion" : "Expert opinion",
	  "reviews" : "Reviews",
	  "faq" : "FAQ",
	  "how_to_take" : "Usage"
    }
  }
}
{% endschema %}
