{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_image_zoom_size = '1024x1024' -%}
{%- assign product_image_scale = '2' -%}
{%- assign enable_zoom = section.settings.enable_zoom -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
{% assign p_slug = product.metafields.custom_fields["p_slug"] %}
{% assign variant3 = product.variants[1] %}
{% assign variant1 = product.variants[0] %}

{% if product.metafields.custom_fields["p-color"] != blank %}
	{% assign color_ref = product.metafields.custom_fields["p-color"] %}
{% else %}
	{% assign color_ref = 'blue' %}
{% endif %}

{% if product.type contains 'Bundle' and product.metafields.custom_fields["bundle_content"] != blank %}
	{% assign bundle_content = product.metafields.custom_fields["bundle_content"] | split: "|" %}
{% endif %}

<div class="p-header g">

	<div class="p-image">
      <div class="p-image-wrap g">
        {% for image in product.images %}
        {% if image contains '-gallery-main'%}
        {% assign image_index = forloop.index | minus: 1 %}
        <img class="lazyload" style="display: none;"
             src="{{ product.images[image_index] | img_url: '100x' }}"
             data-src="{{ product.images[image_index] | img_url: '800x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '400x' }} 400w, {{ product.images[image_index] | img_url: '600x' }} 600w,
                          {{ product.images[image_index] | img_url: '800x' }} 800w, {{ product.images[image_index] | img_url: '950x' }} 950w,
                          {{ product.images[image_index] | img_url: '1040x' }} 1040w, {{ product.images[image_index] | img_url: '1600x' }} 1600x
                          {{ product.images[image_index] | img_url: '1920x' }} 1920w"
             data-sizes="auto"
             data-parent-fit="cover"
             data-index={{image_index}}
             alt="{{ product.metafields.custom_fields["p_name"] }}">
        {% endif %}
        {% endfor %}

        {% for image in product.images %}
        {% if image contains '-gallery'%}
        {% unless image contains '-gallery-main' %}
        {% assign image_index = forloop.index | minus: 1 %}
        <img class="lazyload" style="display: none;"
             src="{{ product.images[image_index] | img_url: '100x' }}"
             data-src="{{ product.images[image_index] | img_url: '800x' }}"
             data-srcset="{{ product.images[image_index] | img_url: '400x' }} 400w, {{ product.images[image_index] | img_url: '600x' }} 600w,
                          {{ product.images[image_index] | img_url: '800x' }} 800w, {{ product.images[image_index] | img_url: '950x' }} 950w,
                          {{ product.images[image_index] | img_url: '1040x' }} 1040w, {{ product.images[image_index] | img_url: '1600x' }} 1600x
                          {{ product.images[image_index] | img_url: '1920x' }} 1920w"
             data-sizes="auto"
             data-parent-fit="cover"
             data-index={{image_index}}
             alt="{{ product.metafields.custom_fields["p_name"] }}">
        {% endunless %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% assign iindex = 0 %}
  	{% for image in product.images %}
  		{% if image contains '-gallery' %}
  			{% assign iindex = iindex | plus: 1 %}
  		{% endif %}
  	{% endfor %}
  	{% if iindex > 1 %}
    <ul class="p-image-gallery g">
          {% for image in product.images %}
              {% assign index = forloop.index | minus: 1 %}
              {% if image contains '-gallery'%}
                  <li class="img-wrap" style="cursor: pointer;"><img onclick="gallerySelect({{index}})" src="{{ image | img_url: '120x120', crop: 'center' }}" alt="{{ image | img_url: '1920x' }}"></li>
              {% endif %}
          {% endfor %}
    </ul>
  	{% endif %}
	<div class="p-buy">
		<div>
          {% if product.type contains 'Bundle' %}<div class="p-label t--b t-caps--label colored-{{color_ref}}">Bundle</div>{% endif %}
          <h1 class="product-title">{{ product.title }}</h1>
          {% if product.type contains 'Supplement' %}
          	<h2>{{ product.metafields.custom_fields["menu_txt"] }}</h2>
          	{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
          	<div class="p2-description"><p>{{ product.metafields.custom_fields["p_short"] }}</p>
            <p><a class="underline" onclick="document.getElementById('suppfacts_popup').style.top='0'" class="link">{{ section.settings.supp-facts-title }}</a>
            </p>
            </div>
          {% elsif product.type contains 'Bundle' %}
          	<p class="p2-description">{{ product.metafields.custom_fields["p_short"] }}</p>
          	{% for product_handle in bundle_content %}
    			{% assign product_ref = all_products[product_handle] %}
          		<div class="bundle-description colored-{{ product_ref.metafields.custom_fields["p-color"] }}">
          		<p>{{ product_ref.metafields.custom_fields["menu_txt"] }}</p>
          		{% if product_ref.metafields.custom_fields["product_description_below_shor"] != blank %}
                  <div class="blow-desc">{{ product_ref.metafields.custom_fields["product_description_below_shor"] }}</div>
          		{% endif %}
          		</div>
          	{% endfor %}
          {% else %}
          	{% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
          	{% if product.metafields.custom_fields["p_short"] != blank %}<p class="p2-description">{{ product.metafields.custom_fields["p_short"] }}</p>{% endif %}
          {% endif %}

          <div class="product-single__meta{% if product.type == 'Bundle' %} colored-{{color_ref}}{% endif %}" id="Subscription">
          {% comment %}
		  <div class="t--b product__price">
            {% include 'product-price', variant: current_variant %}
          </div>
          {% endcomment %}

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form g product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}

          {% if product.available %} {% include 'subscription-product' %}{% endif %}

            <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.variants[0].id}}" />
            <div class="p__buy-block">
              <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">

                {% comment %}
                <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}&nbsp;&#151;
                  <span class="p-btn-num">${{ variant1.metafields.subscriptions.discount_variant_price }}</span>
                  {% endunless %}
                </span>
              	</button>
                {% endcomment %}

                <a class="btn product-form__cart-submit{% unless variant1.available %} disabled{% endunless %}" id="addtocart_single" data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}&nbsp;&#151;
                  <span class="p-btn-num">{{ variant1.price | money }}</span>
                  {% endunless %}
                </span>
                </a>

				{% if current_variant.available %}
                <button type="button" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} id="addtocart_monthly" class="btn product-form__cart-submit" data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}&nbsp;&#151;
                  <span class="p-btn-num">{{ variant1.selling_plan_allocations[0].price | money }}</span>
                  {% endunless %}
                </span>
                </button>
                {% else %}
                <a class="klaviyo-bis-trigger btn" href="#">Notify me once in stock</a>
                {% endif %}

    			<button type="button" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} id="add-to-cart-3" class="btn product-form__cart-submit" data-add-to-cart>
                	{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}
                  {% else %}{{ 'products.product.add_to_cart' | t }}&nbsp;&#151; {{ variant3.selling_plan_allocations[0].price | money }}{% endunless %}
                </button>

                {% comment %}
                GS updates 20 Mar
                {% endcomment %}
                <h4 class="gs-time_estimator" >

                </h4>

                {% comment %}
                End
                {% endcomment %}

            	</div>
            </div>
            {% endform %}

        </div>

        {% if product.type contains 'Supplement' %}
          <div class="blow-desc g">
            {{ product.metafields.custom_fields["product_description_below"] }}
            <ul class="p--description-icons">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 24" fill="none"><path d="M9.071 5.408a.43.43 0 0 1 .094-.25c.053-.064.166-.159.446-.159h14.423c.033 0 .108.016.166.065.038.032.114.113.114.343 0 .05-.017.223-.06.541l-.175 1.177-.586 3.545-1.38 7.879a.5.5 0 1 0 .984.176l1.381-7.888.356-2.119h4.095l3.492 4.209h-5.155c-.184 0-.289-.032-.345-.059s-.073-.052-.086-.072c-.034-.057-.042-.158-.02-.241a.5.5 0 0 0 .016-.104l.133-2.719a.5.5 0 1 0-.999-.049l-.131 2.673a1.33 1.33 0 0 0 .141.953c.238.4.685.62 1.29.62h5.148l-.296 3.76a.51.51 0 0 0 .002.098c0 .009-.008.071-.118.148-.15.104-.51.242-1.273.194a.5.5 0 0 0-.063.998c.875.055 1.496-.086 1.906-.371.402-.28.568-.678.546-1.029l.319-4.053a.5.5 0 0 0 .033-.416l.029-.372a.5.5 0 0 0-.114-.358l-3.837-4.626a.5.5 0 0 0-.385-.181h-4.167l.07-.439.178-1.198.069-.676c0-.496-.184-.869-.471-1.11-.267-.224-.582-.298-.809-.298H9.611c-.552 0-.959.208-1.217.523a1.43 1.43 0 0 0-.322.854L7.945 6.52a.5.5 0 1 0 .994.111l.13-1.167a.5.5 0 0 0 .003-.055z"/><g fill-rule="evenodd"><path d="M6.42 15.909a.5.5 0 0 1 .455.541l-.134 1.553a.5.5 0 0 1-.017.094c.049.018.146.042.325.042h3.626a.5.5 0 1 1 0 1H7.048c-.499 0-.918-.131-1.16-.457-.212-.285-.203-.604-.139-.824l.129-1.495a.5.5 0 0 1 .541-.455zm.261 2.167h.001-.001zm9.447.564a.5.5 0 0 1 .5-.5h8.186a.5.5 0 1 1 0 1h-8.186a.5.5 0 0 1-.5-.5z"/><path d="M13.651 20.616c1.092 0 1.977-.885 1.977-1.977s-.885-1.977-1.977-1.977-1.977.885-1.977 1.977.885 1.977 1.977 1.977zm0 1a2.98 2.98 0 0 0 2.977-2.977 2.98 2.98 0 0 0-2.977-2.977 2.98 2.98 0 0 0-2.977 2.977 2.98 2.98 0 0 0 2.977 2.977zm14.14-1c1.092 0 1.977-.885 1.977-1.977s-.885-1.977-1.977-1.977-1.977.885-1.977 1.977.885 1.977 1.977 1.977zm0 1a2.98 2.98 0 0 0 2.977-2.977 2.98 2.98 0 0 0-2.977-2.977 2.98 2.98 0 0 0-2.977 2.977 2.98 2.98 0 0 0 2.977 2.977zM3.977 9.209a.5.5 0 0 1 .5-.5h6.442a.5.5 0 1 1 0 1H4.477a.5.5 0 0 1-.5-.5zm-1.489 2.233a.5.5 0 0 1 .5-.5H9.43a.5.5 0 1 1 0 1H2.988a.5.5 0 0 1-.5-.5zM1 13.674a.5.5 0 0 1 .5-.5h6.442a.5.5 0 1 1 0 1H1.5a.5.5 0 0 1-.5-.5z"/></g></svg>
                <span>{{ section.settings.free-shipping-text }}</span>
              </li>
              <li>
                <svg viewBox="0 0 34 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.1038 11.1034C15.1038 11.5414 14.7487 11.8965 14.3107 11.8965C13.8727 11.8965 13.5176 11.5414 13.5176 11.1034C13.5176 10.6654 13.8727 10.3103 14.3107 10.3103C14.7487 10.3103 15.1038 10.6654 15.1038 11.1034Z" />
                  <path d="M19.8616 11.1034C19.8616 11.5414 19.5065 11.8965 19.0685 11.8965C18.6305 11.8965 18.2754 11.5414 18.2754 11.1034C18.2754 10.6654 18.6305 10.3103 19.0685 10.3103C19.5065 10.3103 19.8616 10.6654 19.8616 11.1034Z"/>
                  <path d="M23.8283 11.8965C24.2663 11.8965 24.6214 11.5414 24.6214 11.1034C24.6214 10.6654 24.2663 10.3103 23.8283 10.3103C23.3902 10.3103 23.0352 10.6654 23.0352 11.1034C23.0352 11.5414 23.3902 11.8965 23.8283 11.8965Z"/>
                  <path d="M10.344 15.069C10.344 15.507 9.98893 15.8621 9.55092 15.8621C9.1129 15.8621 8.75781 15.507 8.75781 15.069C8.75781 14.631 9.1129 14.2759 9.55092 14.2759C9.98893 14.2759 10.344 14.631 10.344 15.069Z"/>
                  <path d="M14.3107 15.8621C14.7487 15.8621 15.1038 15.507 15.1038 15.069C15.1038 14.631 14.7487 14.2759 14.3107 14.2759C13.8727 14.2759 13.5176 14.631 13.5176 15.069C13.5176 15.507 13.8727 15.8621 14.3107 15.8621Z"/>
                  <path d="M19.8616 15.069C19.8616 15.507 19.5065 15.8621 19.0685 15.8621C18.6305 15.8621 18.2754 15.507 18.2754 15.069C18.2754 14.631 18.6305 14.2759 19.0685 14.2759C19.5065 14.2759 19.8616 14.631 19.8616 15.069Z"/>
                  <path d="M9.55092 19.8277C9.98893 19.8277 10.344 19.4726 10.344 19.0346C10.344 18.5965 9.98893 18.2415 9.55092 18.2415C9.1129 18.2415 8.75781 18.5965 8.75781 19.0346C8.75781 19.4726 9.1129 19.8277 9.55092 19.8277Z"/>
                  <path d="M15.1038 19.0346C15.1038 19.4726 14.7487 19.8277 14.3107 19.8277C13.8727 19.8277 13.5176 19.4726 13.5176 19.0346C13.5176 18.5965 13.8727 18.2415 14.3107 18.2415C14.7487 18.2415 15.1038 18.5965 15.1038 19.0346Z"/>
                  <path d="M19.0685 19.8277C19.5065 19.8277 19.8616 19.4726 19.8616 19.0346C19.8616 18.5965 19.5065 18.2415 19.0685 18.2415C18.6305 18.2415 18.2754 18.5965 18.2754 19.0346C18.2754 19.4726 18.6305 19.8277 19.0685 19.8277Z"/>
                  <path d="M25.3251 13.7631C25.4799 13.9179 25.4799 14.169 25.3251 14.3239L24.4839 15.165L25.3253 16.0064C25.4802 16.1613 25.4802 16.4124 25.3253 16.5673C25.1705 16.7221 24.9194 16.7221 24.7645 16.5673L23.9231 15.7258L23.0818 16.5671C22.927 16.722 22.6759 16.722 22.521 16.5671C22.3662 16.4122 22.3662 16.1612 22.521 16.0063L23.3623 15.165L22.5213 14.324C22.3664 14.1692 22.3664 13.9181 22.5213 13.7632C22.6761 13.6083 22.9272 13.6083 23.0821 13.7632L23.9231 14.6042L24.7643 13.7631C24.9191 13.6082 25.1702 13.6082 25.3251 13.7631Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 0C10.7761 0 11 0.225804 11 0.504348V2H22V0.504348C22 0.225804 22.2239 0 22.5 0C22.7761 0 23 0.225804 23 0.504348V2H25C27.2091 2 29 3.79086 29 6V19C29 21.2091 27.2091 23 25 23H8C5.79086 23 4 21.2091 4 19V6C4 3.79086 5.79086 2 8 2H10V0.504348C10 0.225804 10.2239 0 10.5 0ZM22 3V3.49565C22 3.7742 22.2239 4 22.5 4C22.7761 4 23 3.7742 23 3.49565V3H25C26.6569 3 28 4.34315 28 6V7H5V6C5 4.34315 6.34315 3 8 3H10V3.49565C10 3.7742 10.2239 4 10.5 4C10.7761 4 11 3.7742 11 3.49565V3H22ZM5 8H28V19C28 20.6569 26.6569 22 25 22H8C6.34315 22 5 20.6569 5 19V8Z"/>
                  </svg>

                  <span>{{ section.settings.cancellation-text }}</span>
              </li>
            </ul>
          </div>

          {% comment %}
          <div class="bundle-upsale-title t--b">{{ section.settings.bundle-title }}</div>
          <div class="bundle-upsale-wrap">
          {% assign collection_bundle = collections['Bundles'] %}
          {% assign bundle_count = 0 %}
          {% for product_bundle in collection_bundle.products %}

          {% if product_bundle.metafields.custom_fields["bundle_content"] != blank %}
    			{% assign product_bundle_content = product_bundle.metafields.custom_fields["bundle_content"] | split: "|" %}

          {% for item in product_bundle_content %}
          			{% assign product_bundle_ref = all_products[item] %}
          			{% if product_bundle_ref == product %}
          				{% assign bundle_variant1 = product_bundle.variants[0] %}
            			{% assign bundle_count = bundle_count | plus: 1 %}

                  <div class="bundle-upsale{% if bundle_count == 1 %} show{% endif %} upsale-item-{{bundle_count}}">
                    <div class="img-wrap">
                      <img class="lazyload" src="{{ product_bundle.featured_image.src | img_url: '110x' }}"
                        data-src="{{ product_bundle.featured_image.src | img_url: '110x' }}"
                        data-srcset="{{ product_bundle.featured_image.src | img_url: '110x' }} 1x,
                                     {{ product_bundle.featured_image.src | img_url: '220x' }} 2x,
                                     {{ product_bundle.featured_image.src | img_url: '330x' }} 3x"
                        data-sizes="auto"
                        data-parent-fit="cover" alt="{{ product_bundle.title }}">
                    </div>
                    <div class="text-wrap g">
                      <h3 class="t--b">{{ product_bundle.title | truncate: 45 | link_to: product_bundle.url }}</h3>
                      <button {% unless bundle_variant1.available %}disabled="disabled"{% endunless %} class="btn--smaller btn--secondary" id="add-to-cart-bundle-{{ bundle_variant1.metafields.subscriptions.discount_variant_id }}" title="Subscribe {{ product_bundle.title }}">{% unless bundle_variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe to Bundle{% endunless %}</button>
                      <div class="t--b product-price">${{ bundle_variant1.metafields.subscriptions.discount_variant_price }}&nbsp;/&nbsp;mo.<span class="price--old">{{ product_bundle.price | money }}</span></div>
                      </div>
                    </div>
                    {% if bundle_variant1.metafields.subscriptions.discount_variant_id %}
                      <script>
                          $('#add-to-cart-bundle-{{ bundle_variant1.metafields.subscriptions.discount_variant_id }}').click(function(){
                              addItemToCart({{ bundle_variant1.metafields.subscriptions.discount_variant_id }}, 1, "1", "Month")
                          });
                      </script>
                    {% endif %}
          			{% break %}
          			{% endif %}
  				{% endfor %}

          {% endif %}
          {% endfor %}
          {% if bundle_count > 1 %}
            <div class="bundle-upsale-arrs">
            <a class="left-arr">{% include 'icon-arr-left-simple' %}</a>
        	<a class="right-arr">{% include 'icon-arr-right-simple' %}</a>
            </div>
          {% endif %}
          </div>
          {% endcomment %}
          {% endif %}
      </div>
	</div>
</div>

{% include 'product--general-benefits' %}

{% if product.type contains 'Bundle' %}
{% if bundle_content != blank %}
  {% for product_handle in bundle_content %}
    {% assign product_ref = all_products[product_handle] %}
	{% assign image_index = 'undefined' %}
	{% if forloop.index == 2 or forloop.index == 4 %}
		{% for image in product_ref.images %}
			{% if image contains '-gallery-all' %}
			{% assign image_index = forloop.index | minus: 1 %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% for image in product_ref.images %}
			{% if image contains '-gallery-pills.' %}
			{% assign image_index = forloop.index | minus: 1 %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if image_index == 'undefined' %}
		{% for image in product_ref.images %}
			{% if image contains '-gallery-bundle.' %}
			{% assign image_index = forloop.index | minus: 1 %}
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="p-content grid-image w-90 g bundle{% if forloop.index == 2 or forloop.index == 4 %} even{% endif %} colored-{{ product_ref.metafields.custom_fields["p-color"] }}" id="BundleContent">
      <div class="g--2">
        <div class="img-wrap">
        	<img class="lazyload"
             src="{{ product_ref.images[image_index] | img_url: '1x' }}"
             data-src="{{ product_ref.images[image_index] | img_url: '650x' }}"
             data-srcset="{{ product_ref.images[image_index] | img_url: '325x' }} 325w, {{ product_ref.images[image_index] | img_url: '412x' }} 412w,
                          {{ product_ref.images[image_index] | img_url: '496x' }} 496w, {{ product_ref.images[image_index] | img_url: '620x' }} 620w,
                          {{ product_ref.images[image_index] | img_url: '650x' }} 650w, {{ product_ref.images[image_index] | img_url: '975x' }} 975w,
                          {{ product_ref.images[image_index] | img_url: '1300x' }} 1300w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product_ref.title }}">
        </div>
      </div>

      <div class="g--1">
        <h4 class="product-title">{{ product_ref.title }}</h4>
        {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product_ref %}
        {% if product_ref.metafields.custom_fields["vaginal_health_description"] != blank %}
  			{{ product_ref.metafields.custom_fields["vaginal_health_description"] }}
  		{% endif %}
        <a class="underline" title="{{product_ref.title}}" href={{product_ref.url}}>View full details</a>
      </div>
	</div>
    {% endfor %}
{% endif %}
{% endif %}


{% if product.type contains 'Supplement' %}
{% if product.metafields.custom_fields["product_how_it_works_heading"] != blank %}
<div class="p-content grid-image g w-90 p-content-center">
  <h3 class="p-target" id="HowItWorks">{{ product.metafields.custom_fields["product_how_it_works_heading"] }}</h3>
  {% if product.metafields.custom_fields["vaginal_health_description"] != blank %}
  {{ product.metafields.custom_fields["vaginal_health_description"] }}
  {% endif %}
</div>
{% endif %}

{% if product.metafields.custom_fields["_product__timeline_image"] != blank and product.metafields.custom_fields["repeater_content_section"] != blank %}
<div class="p-content grid-image g w-90 time-line-container">
  <div class="g--2">
      <div class="img-wrap" id="#pin2">
        <img class="lazyload"
             src="{% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '650x' %}"
             data-srcset="{% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '325x' %} 325w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '412x' %} 412w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '496x' %} 496w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '620x' %} 620w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '650x' %} 650w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '975x' %} 975w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__timeline_image"], print: 'url', size: '1300x' %} 1300w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ product_ref.title }}">
      </div>
  </div>

  <div class="g--1">
      {% assign separator = "|###|" %}
      {% assign image_array = product.metafields.custom_fields["icon_svg"] | split: separator %}
      {% assign heading_text_array = product.metafields.custom_fields["heading_text"] | split: separator %}
      {% assign content_section_text_array = product.metafields.custom_fields["content_section_text"] | split: separator %}
      {% assign fc_keys = product.metafields.custom_fields["repeater_content_section"] | split: "," %}
      <ul class="p-timeline">
        {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        {% assign count = i | plus: 1 %}
        <li class="timeline-step" style="position: relative;">{{ image_array[index] }}
          <div class="t-caps number">{{count}}</div>
          <div class="content">
            <h4 class="t-caps">{{ heading_text_array[index] }}</h4>
            {{ content_section_text_array[index] }}
          </div>
          <div class="line"></div>
        </li>
        {% endfor %}
      </ul>
    </div>

</div>
{% endif %}
{% endif %}

{% if product.type contains 'Supplement' or product.type contains 'Bundle' and product.metafields.custom_fields["_i_stats"] != blank %}
{% unless product.metafields.custom_fields["_i_stats"] == blank %}
<div class="w-90 g p-i-stats">
    <div class="p-i-stats--intro">
      <h3 class="p-target" id="Ingredients">{{ section.settings.supp-facts-heading }}</h3>
      {{ section.settings.supp-facts-text }}
      <a class="underline" onclick="document.getElementById('suppfacts_popup').style.top='0'" class="link">{{ section.settings.supp-facts-title }}</a>
    </div>

      {% if product.metafields.custom_fields["_i_stats"] != blank %}
  	  {% assign stat_count = 0 %}
      <ul class="p-i-stats--items">
      	{% for item in product.metafields.custom_fields["_i_stats"] %}
        {% assign stat_count = stat_count | plus: 1 %}

        {% if item["product_ref"] != blank %}
        	{% assign product_ref = all_products[item["product_ref"]] %}
    		{% assign color_ref_ing = product_ref.metafields.custom_fields["p-color"] %}
        {% endif %}

        <li class="stat-item{% if stat_count == 1 %} show{% endif %} stat-item-{{stat_count}}">
          {% if item["_i_stats_name"] != blank %}<h4>{{ item["_i_stats_benefit"] }}</h4>{% endif %}
          <svg class="circle-diagram" id="circle" clip-path="circle()" data-percent="{% if item["_ingredient_circle_fill"] != blank %}{{ item["_ingredient_circle_fill"] }}{% else %}100{% endif %}" data-stroke-color="#2d396d" data-stroke-width="20">
            <circle id="circle" clip-path="circle()" class="circle-diagram__circle colored-{% if item["product_ref"] != blank %}{{ color_ref_ing }}{% else %}{{ color_ref }}{% endif %}" cx="50%" cy="50%" r="50%"  stroke-width="40" fill="none"  />
            <path class="circle-diagram__arc" fill="none" />
            {% if item["_i_stats_num"] != blank %}<text class="t-caps" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">{{ item["_i_stats_num"] }}</text>{% endif %}
          </svg>
          <div class="slider--controls">
            <a class="control-prev">{% include 'icon-arr-left-simple' %}</a>
            <a class="control-next">{% include 'icon-arr-right-simple' %}</a>
          </div>

          {% if item["_i_stats_name"] != blank %}<h4>{{ item["_i_stats_name"] }}</h4>{% endif %}
          {% if item["_i_stats_text"] != blank %}{{ item["_i_stats_text"] }}{% endif %}

        </li>
        {% endfor %}
      </ul>
      {% endif %}
</div>
{% endunless %}
{% endif %}

{% if product.type contains 'Supplement' %}

{% if product.metafields.custom_fields["transperency_heading"] != blank and product.metafields.custom_fields["transperency_content"] != blank %}
<div class="p-content grid-image g w-90">
    <div class="g--1">
      <h3 class="p-target" id="Usage">{{product.metafields.custom_fields["transperency_heading"]}}</h3>
      {{product.metafields.custom_fields["transperency_content"]}}
      </div>
    <div class="g--2">
      <div class="img-wrap">
        {% if product.metafields.custom_fields["_product__keep_going_image"] != blank %}<img src="{{ product.metafields.custom_fields["_product__keep_going_image"] }}">{% endif %}
      </div>
    </div>
</div>
{% endif %}


<div class="p-content grid-image g w-90 p-eco">
    <div class="g--2">
      <div class="img-wrap">
        {% if product.metafields.custom_fields["_product__eco_image"] != blank %}
        <img class="lazyload"
             src="{% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '650x' %}"
             data-srcset="{% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '325x' %} 325w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '412x' %} 412w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '496x' %} 496w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '620x' %} 620w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '650x' %} 650w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '975x' %} 975w,
                          {% render 'cf-image' with image: product.metafields.custom_fields["_product__eco_image"], print: 'url', size: '1300x' %} 1300w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{product.metafields.custom_fields["subscribtion_heading"]}}">
        {% endif %}
      </div>
    </div>

  	<div class="g--1">
      {% if product.metafields.custom_fields["subscribtion_heading"] != blank %}<h3 class="p-target" id="EcoSubscription">{{product.metafields.custom_fields["subscribtion_heading"]}}</h3>{% endif %}
      {% if product.metafields.custom_fields["subscribtion_content"] != blank %}{{product.metafields.custom_fields["subscribtion_content"]}}{% endif %}
    </div>
</div>

{% if product.metafields.custom_fields["p_custom_section"] != blank %}
<div class="p-custom g">
 {{product.metafields.custom_fields["p_custom_section"]}}
</div>
{% endif %}

<div class="p-content grid-image g w-90 p-transparency">
  {% if product.metafields.custom_fields["transparency_levels_tab"] != blank %}
  {% assign separator = "|###|" %}
  {% assign levels_heading_array = product.metafields.custom_fields["levels_heading"] | split: separator %}
  {% assign levels_description_array = product.metafields.custom_fields["levels_description"] | split: separator %}
  {% assign levels_image_array = product.metafields.custom_fields["levels_image"] | split: separator %}
  {% assign levels_pop_up_id_array = product.metafields.custom_fields["levels_pop-up_id"] | split: separator %}
  {% assign link_title_array = product.metafields.custom_fields["link_title"] | split: separator %}
  {% assign fc_keys = product.metafields.custom_fields["transparency_levels_tab"] | split: "," %}
  {% endif %}
    <div class="g--1">
      {% if product.metafields.custom_fields["levels_of_transparency"] != blank %}<h3 class="p-target" id="Transparency">{{ product.metafields.custom_fields["levels_of_transparency"] }}</h3>{% endif %}
      {% if product.metafields.custom_fields["transparency_levels_tab"] != blank %}
      <div class="p-tabs">
      	{% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="p-tabs-item{% if index == 0 %} open{% endif%}" id="item-{{ index }}">
          <div class="tab-header">
            <h4>{{ levels_heading_array[index] }}</h4>
            <div class="tab-switch">
              <div class="tab-switch-bar"></div>
              <div class="tab-switch-bar"></div>
            </div>
          </div>
          <div class="tab-content">
          {{ levels_description_array[index] }}
            {% if levels_pop_up_id_array[index] != blank %}
            <a class="underline" onclick="document.getElementById('{{ levels_pop_up_id_array[index] }}').style.top='0'" class="link">{% if link_title_array[index] != blank %}{{link_title_array[index]}}{% else %}Read more{% endif %}</a>
            {% endif %}
            {% if product.metafields.custom_fields["batch"] != blank  and index == 2%}
            <div class="p-batch-select">
              <p>{{ section.settings.butch-title }}</p>
              {% for item in product.metafields.custom_fields["batch"] %}
              	{% if item["batch_number"] != blank %}<a onclick="document.getElementById('batch-{{item["batch_number"]}}').style.top='0'" class="underline">#{{item["batch_number"]}}</a>{% endif %}
              {% endfor %}
            </div>
            {% endif %}
            <div class="img-wrap">
              {% if levels_image_array[index] != blank %}
              	{% assign levels_image = levels_image_array[index] %}
              {% else %}
              	{% assign levels_image = levels_image_array[0] %}
              {% endif %}
              <img class="lazyload"
             	src="{% render 'cf-image' with image: levels_image, print: 'url', size: '1x' %}"
             	data-src="{% render 'cf-image' with image: levels_image, print: 'url', size: '650x' %}"
             	data-srcset="{% render 'cf-image' with image: levels_image, print: 'url', size: '325x' %} 325w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '412x' %} 412w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '496x' %} 496w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '620x' %} 620w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '650x' %} 650w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '975x' %} 975w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '1300x' %} 1300w"
             	data-sizes="auto"
             	data-parent-fit="cover"
             	alt="{{ levels_heading_array[index] }}">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="g--2">
      <div class="img-wrap">
        {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        {% if levels_image_array[index] != blank %}
              	{% assign levels_image = levels_image_array[index] %}
              {% else %}
              	{% assign levels_image = levels_image_array[0] %}
              {% endif %}
        <img class="lazyload{% if index == 0 %} show{% endif %}" id="item-{{ index }}-img"
             src="{% render 'cf-image' with image: levels_image, print: 'url', size: '1x' %}"
             data-src="{% render 'cf-image' with image: levels_image, print: 'url', size: '650x' %}"
             data-srcset="{% render 'cf-image' with image: levels_image, print: 'url', size: '325x' %} 325w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '412x' %} 412w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '496x' %} 496w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '620x' %} 620w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '650x' %} 650w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '975x' %} 975w,
                          {% render 'cf-image' with image: levels_image, print: 'url', size: '1300x' %} 1300w"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ levels_heading_array[index] }}">
        {% endfor %}
      </div>
    </div>
</div>

{% if product.metafields.custom_fields["what_the_experts_think_slider"] != blank %}
<div class="p-doctors p-target" id="ExpertOpinion">
  {% assign separator = "|###|" %}
  {% assign expert_description_array = product.metafields.custom_fields["expert_description"] | split: separator %}
  {% assign experts_think_bottom_descripti_array = product.metafields.custom_fields["experts_think_bottom_descripti"] | split: separator %}
  {% assign expert_image_array = product.metafields.custom_fields["expert_image"] | split: separator %}
  {% assign expert_imagekey_array = product.metafields.custom_fields["expert_imagekey"] | split: separator %}
  {% assign fc_keys = product.metafields.custom_fields["what_the_experts_think_slider"] | split: "," %}
  <div class="h3">{{ section.settings.doctors-title }}</div>
  <div class="p-content grid-image w-90 g">
    <div class="g--2 g">
      {% for i in fc_keys %}
      {% assign index = i | plus: 0 %}
      <div class="experts-img experts-img-{{index}}{% if index == 0 %} show{% endif %}">
        {% if expert_image_array[index] != blank %}{{ expert_image_array[index] }}
        {% elsif expert_imagekey_array[index] != blank %}
        	{% case expert_imagekey_array[index] %}
        		{% when 'Shepherd' %}
        			{% assign exp_image = images['happyv_experts_DR._JESSICA_SHEPHERD.jpg'] %}
        		{% when 'Peskin' %}
        			{% assign exp_image = images['happyv_experts_Dr._Barry_Peskin.jpg'] %}
        		{% when 'Lopez' %}
        			{% assign exp_image = images['happyv_experts_dr.hectorlopez_ff3ed98e-f139-4e55-9878-1c553b9fa19c.jpg'] %}
        	{% endcase %}
        <img class="lazyload"
            src="{{ exp_image | img_url: '10x' }}"
            data-src="{{ exp_image | img_url: '410x' }}"
            data-srcset="{{ exp_image | img_url: '231x' }} 231w, {{ exp_image | img_url: '350x' }} 350w,
                         {{ exp_image | img_url: '370x' }} 370w, {{ exp_image | img_url: '410x' }} 410w"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ expert_description_array[index] }}">
        {% endif %}
      </div>
      {% endfor %}
      {% if fc_keys.size > 1 %}
      <div class="slider--controls">
        <a class="control-prev">{% include 'icon-arr-left-simple' %}</a>
        <a class="control-next">{% include 'icon-arr-right-simple' %}</a>
      </div>
      {% endif %}
    </div>

    <div class="g--1">
      <h3>{{ section.settings.doctors-title }}<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 77" fill="none" ><path d="M37.193 10.494c-6.815 3.935-12.18 8.818-16.095 14.648-3.77 5.684-5.873 12.316-6.308 19.895 1.74-.875 3.625-1.312 5.655-1.312 4.495 0 8.12 1.457 10.875 4.372 2.9 2.915 4.35 6.704 4.35 11.368 0 5.101-1.523 9.182-4.568 12.243s-6.887 4.591-11.527 4.591c-5.655 0-10.367-2.259-14.137-6.777C1.813 64.857 0 58.372 0 50.064c0-10.931 2.755-20.696 8.265-29.295C13.775 12.024 21.46 5.101 31.32 0l5.873 10.494zm49.808 0c-6.815 3.935-12.18 8.818-16.095 14.648-3.77 5.684-5.873 12.316-6.308 19.895 1.74-.875 3.625-1.312 5.655-1.312 4.495 0 8.12 1.457 10.875 4.372 2.9 2.915 4.35 6.704 4.35 11.368 0 5.101-1.523 9.182-4.568 12.243s-6.888 4.591-11.528 4.591c-5.655 0-10.367-2.259-14.137-6.777-3.625-4.664-5.437-11.15-5.437-19.457 0-10.931 2.755-20.696 8.265-29.295C63.583 12.024 71.268 5.101 81.128 0L87 10.494z" fill="#f287ae"/></svg></span></h3>
      <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 77" fill="none" ><path d="M37.193 10.494c-6.815 3.935-12.18 8.818-16.095 14.648-3.77 5.684-5.873 12.316-6.308 19.895 1.74-.875 3.625-1.312 5.655-1.312 4.495 0 8.12 1.457 10.875 4.372 2.9 2.915 4.35 6.704 4.35 11.368 0 5.101-1.523 9.182-4.568 12.243s-6.887 4.591-11.527 4.591c-5.655 0-10.367-2.259-14.137-6.777C1.813 64.857 0 58.372 0 50.064c0-10.931 2.755-20.696 8.265-29.295C13.775 12.024 21.46 5.101 31.32 0l5.873 10.494zm49.808 0c-6.815 3.935-12.18 8.818-16.095 14.648-3.77 5.684-5.873 12.316-6.308 19.895 1.74-.875 3.625-1.312 5.655-1.312 4.495 0 8.12 1.457 10.875 4.372 2.9 2.915 4.35 6.704 4.35 11.368 0 5.101-1.523 9.182-4.568 12.243s-6.888 4.591-11.528 4.591c-5.655 0-10.367-2.259-14.137-6.777-3.625-4.664-5.437-11.15-5.437-19.457 0-10.931 2.755-20.696 8.265-29.295C63.583 12.024 71.268 5.101 81.128 0L87 10.494z" fill="#f287ae"/></svg></span>
      {% for i in fc_keys %}
      {% assign index = i | plus: 0 %}
      <div class="experts-content experts-content-{{index}}{% if index == 0 %} show{% endif %}">
        {{ experts_think_bottom_descripti_array[index] }}
        <div class="caps">{{ expert_description_array[index] }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if product.metafields.custom_fields["product_carousel_slider_sectio"] != blank %}
<div class="slider-gallery controls--blue">
  <a class="control-next"></a>
  <a class="control-prev"></a>
  <ul>
    {% assign separator = "|###|" %}
    {% assign carousel_slider_image_array = product.metafields.custom_fields["carousel_slider_image"] | split: separator %}
    {% assign fc_keys = product.metafields.custom_fields["product_carousel_slider_sectio"] | split: "," %}
    {% for i in fc_keys %}
    {% assign index = i | plus: 0 %}
    <li>
      <img class="lazyload{% if index == 0 %} show{% endif %}" id="item-{{ index }}-img" style="visibility: hidden;"
             src="{% render 'cf-image' with image: carousel_slider_image_array[index], print: 'url', size: '10x' %}"
             data-src="{% render 'cf-image' with image: carousel_slider_image_array[index], print: 'url', size: '281x281' crop: 'center' %}"
             data-srcset="{% render 'cf-image' with image: carousel_slider_image_array[index], print: 'url', size: '281x281' crop: 'center' %} 1x,
                          {% render 'cf-image' with image: carousel_slider_image_array[index], print: 'url', size: '562x562' crop: 'center' %} 2x"
             data-sizes="auto"
             data-parent-fit="cover"
             alt="{{ levels_heading_array[index] }}">

    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="p-reviews p-narrow p-section p-target" id="Reviews">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>

{% case p_slug %}
  {% when 'immuneboost' %}
    {% assign ef-faqs = 'data-category="Cranberry Urinary Defense" id="ef-faqs-60e4368394a80900172fd6c6"'%}
  {% when 'cranberrypowder' %}
    {% assign ef-faqs = 'data-category="D-Mannose + Cranberry Powder" id="ef-faqs-613f9d7ee5354300188f315d"'%}
  {% when 'probiotic' %}
	{% assign ef-faqs = 'data-category="Prebiotic + Probiotic" id="ef-faqs-60dd5498b36ea80017c31b60"'%}
  {% when 'relief' %}
	{% assign ef-faqs = 'data-category="Relief" id="ef-faqs-60e4372094a80900172fd6cc"'%}
  {% when 'menopause' %}
	{% assign ef-faqs = 'data-category="Menopause" id="ef-faqs-60e436f894a80900172fd6ca"'%}
  {% when 'liquidchlorophyll' %}
	{% assign ef-faqs = 'data-category="Liquid Chlorophyll" id="ef-faqs-6181403fcab73d0018c1e08c"'%}
  {% when 'cranberrygummies' %}
	{% assign ef-faqs = 'data-category="D-Mannose + Cranberry Gummies" id="ef-faqs-6238951d807f39a8463f6355"'%}
{% endcase %}

{% if ef-faqs != blank  %}
<div class="p-faq p-narrow p-section">
  <h3 class="p-target" id="FAQ">{{ section.settings.faq-title }}</h3>
  <div class="ef-faqs-plus-app-cats-content" {{ef-faqs}}></div>
  <button class="faq-more btn--small" aria-label="Expand"></button>
</div>
{% endif %}

{% comment %}
{% if blogs[p_slug] != blank %}
{%- assign blog = blogs[p_slug] -%}

{%- if blog.articles_count > 0 -%}
<div class="p-narrow p-section">
  <h3 class="p-target" id="Blog">{{ section.settings.blog-title }}</h3>
  <ul class="p-blog g">
    {%- for article in blog.articles limit: 2 -%}
    <li>
      {% assign a_url_all = article.excerpt | split: '|' %}
      <a href="{{ a_url_all[1] }}"  target="_blank" rel="noopener">
        <div class="img-wrap"><img class="lazyload" src="{{ a_url_all[0] }}" alt="{{ article.title }}"></div>
        <p>{{ article.title }}</p>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <div class="text-center"><a href="https://blog.happyv.com" class="btn--secondary center" target="_blank" rel="noopener" aria-label="{{ section.settings.blog-title }}">{{ section.settings.blog-btn }}</a></div>
</div>
{%- endif -%}
{% endif %}
{% endcomment %}
{% endif %}

{% if product.type contains 'Bundle' and product.metafields.custom_fields["_other_bundles"] != blank %}
{% assign product_refs = product.metafields.custom_fields["_other_bundles"] | split: "|" %}
<div class="p-section w-80">
  <h4>More bundles</h4>
  <ul class="p-banners g">
    {% for product_handle in product_refs limit:2 %}
    <li>
      {% assign product_ref = all_products[product_handle] %}
      {% assign bundle_inner_content = product_ref.metafields.custom_fields["bundle_content"] | split: "|" %}
      {% assign bundle_variant1 = product_ref.variants[0] %}
      <img src="{{ product_ref.featured_image.src  | img_url: '200x' }}">
      <div class="p-bundle--content">
      	<h3 class="product-title">{{ product_ref.title | link_to: product_ref.url }}</h3>
      	<p>{% for product_content_handle in bundle_inner_content %}
      		{% assign product_content_ref = all_products[product_content_handle] %}
      		{{ product_content_ref.metafields.custom_fields["menu_txt"] }}{% if forloop.last != true %}. {% endif %}{% endfor %}
      	</p>
        <div class="t--b product-price">${{ bundle_variant1.metafields.subscriptions.discount_variant_price }}&nbsp;/&nbsp;mo.<span class="price--old">{{ product.price | money }}</span></div>
        <div class="col-2 g">
      		<button class="btn--smaller" {% unless bundle_variant1.available %}disabled="disabled"{% endunless %} id="add-to-cart-other-{{ forloop.index }}" title="Subscribe {{ product_ref.title }}">{% unless bundle_variant1.available %}{{ 'products.product.sold_out' | t }}{% else %}Subscribe to Bundle{% endunless %}</button>
      		<a class="underline" title="{{product_ref.title}}" href="{{product_ref.url}}">Learn more</a>
        </div>
      </div>
    </li>
      <script>
        $('#add-to-cart-other-{{ forloop.index }}').click(function(){
          addItemToCart({{ bundle_variant1.id }}, 1, {{product_ref.selling_plan_groups[0].selling_plans[0].id}})
        });
      </script>
    {% endfor %}
  </ul>
</div>
{% endif %}



{%- include 'p--supp-facts' -%}

{% if product.type contains 'Supplement' %}
{% comment %}
{% if product.metafields.custom_fields["_product_ingredients_popups"] != blank %}
  {% for item in product.metafields.custom_fields["_product_ingredients_popups"] %}
	<div id="{% if item["popup_id"] != blank %}{{ item["popup_id"] }}{% endif %}" class="p-popup">
      <div class="popup-content g">
        <div class="popup-container">
          <div onclick="document.getElementById('{% if item["popup_id"] != blank %}{{ item["popup_id"] }}{% endif %}').style.top='-9999px'" class="popup-close">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>

          <div class="p-clinical">
            <h6>{% if item["popup_title"] != blank %}{{ item["popup_title"] }}{% endif %}</h6>
            {% if item["popup_content"] != blank %}{{ item["popup_content"] }}{% endif %}
           </div>
        </div>
      </div>
	</div>
  {% endfor %}
{% endif %}
{% endcomment %}

{% if product.metafields.custom_fields["batch"] != blank %}
  {% for item in product.metafields.custom_fields["batch"] %}
  {% if item["batch_number"] != blank %}
  <div class="p-popup" id="batch-{{ item["batch_number"] }}">
      <div class="popup-content g">
        <div class="popup-container">
          <div onclick="document.getElementById('batch-{{ item["batch_number"] }}').style.top='-9999px'" class="popup-close">
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="p-batch">
            {% if item["batch_pdf"] != blank %}<a class="underline clearfix" rel="noopener" href="{{ item["batch_pdf"] }}" target="_blank">Download PDF</a>{% endif %}
            {% if item["batch_html_code"] != blank %}{{ item["batch_html_code"] }}{% endif %}
          </div>
        </div>
      </div>
	</div>
  {% endif %}
  {% endfor %}
{% endif %}

{% endif %}

{% schema %}
{
  "name": "Product content",
  "class": "product-header g",
	"max_blocks": 5,
	"settings": [
	{
      "id": "free-shipping-text",
      "type": "text",
      "label": "Free shipping text",
	    "default": "Free shipping on orders of $50+ and subscriptions"
    },
	{
      "id": "cancellation-text",
      "type": "text",
      "label": "Cancellation text",
	    "default": "Pause, skip or cancel, anytime"
    },
    {
      "id": "supp-facts-title",
      "type": "text",
      "label": "Supplement Facts CTA",
	  "default": "View Supplement Facts"
    },
	{
      "id": "supp-facts-heading",
      "type": "text",
      "label": "Supplement Facts Title",
	  "default": "Ingredients that over-perform"
    },
	{
      "id": "supp-facts-text",
      "type": "richtext",
      "label": "Supplement Facts Text",
	  "default": "<p>Text goes here</p>"
    },
	{
      "id": "doctors-title",
      "type": "text",
      "label": "What The Experts Think Title",
	  "default": "What The Experts Think"
    },
	{
      "id": "reviews-title",
      "type": "text",
      "label": "Reviews Title",
	  "default": "Customer reviews"
    },
	{
      "id": "faq-title",
      "type": "text",
      "label": "FAQ Title",
	  "default": "Frequently asked questions"
    },
	{
      "id": "blog-title",
      "type": "text",
      "label": "Blog Title",
	  "default": "From The Blog"
    },
	{
      "id": "blog-btn",
      "type": "text",
      "label": "Blog Button Text",
	  "default": "More articles"
    },
	{
      "id": "bundle-title",
      "type": "text",
      "label": "Above bundles title",
	  "default": "Save more with our bundles"
    },
	{
      "id": "butch-title",
      "type": "text",
      "label": "Select your batch text",
	  "default": "Select your batch number to view the Certificate of Analysis:"
    }
],
  "blocks": [
    {
      "type": "select",
      "name": "General Benefits *item",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  // <!--   Add to cart -->
  {% if variant3.id %}
    $('#add-to-cart-3').click(function(){
      addItemToCart({{ variant3.id   }}, 1, {{product.selling_plan_groups[0].selling_plans[1].id}})
    });
  {% endif %}

  {% if variant1.available %}
  	$('#addtocart_single').click(function(){
      let val = parseInt($(".product-form__input").val());
      addItemToCart({{ variant1.id }}, val);
    });

  {% endif %}

  {% if variant1.metafields.subscriptions.discount_variant_id %}

  	$('#addtocart_monthly').click(function(){
      addItemToCart({{ variant1.id   }}, 1, {{product.selling_plan_groups[0].selling_plans[0].id}})
    });
  {% endif %}
</script>



