<div class="text-center g">
  <h1>{{ section.settings.title }}</h1>
  {% comment %}
  {{ section.settings.quiz-text }}
  <a href="/pages/website-quiz" class="btn--secondary" title="{{ section.settings.quiz-btn }}">{{ section.settings.quiz-btn }}</a>
  {% endcomment %}

{% comment %}
<ul class="shop--menu">
  {% for link in linklists.collections-menu.links %}
  	<li>
      <a href="{{ link.url }}"{% if link.current %} aria-current="page" class="active"{% endif %}>{{ link.title | escape }}</a>
  	</li>
  {% endfor %}
</ul>
{% endcomment %}  
</div>

{% schema %}
  {"name": "Shop / Products",
	"class": "shop-header w-90",
    "settings": [
		{
      "id": "title",
      "type": "text",
      "label": "Title",
	  "default": "Empowering you to stay healthy &amp; happy"
    },
	{
        "id": "quiz-text",
        "type": "richtext",
        "label": "Quiz text"
      },
	{
        "id": "quiz-btn",
        "type": "text",
        "label": "Quiz button",
		"default": "Take the Quiz"
		
      }
	]
  }
{% endschema %}