<div class="shop-bottom-1">
<h3>{{ section.settings.title }}</h3>
<ul class="p2-genearal-benefits g">
  {% assign product_benefits = section.blocks | where: 'type', 'select' %}
  {% for block in product_benefits %} 
  {% if block.settings.img %}<li class="g">{{ block.settings.img }}<span>{{ block.settings.tit }}</span></li>{% endif %}
  {% endfor %}
</ul>
</div>

<div class="shop-bottom-2 g">
<h3>{{ section.settings.title-2 }}</h3>
<ul class="g">
  {% assign shop_benefits = section.blocks | where: 'type', 'shop_benefits' %}
  {% for block in shop_benefits %} 
  {% if block.settings.img %}<li>
  	{{ block.settings.img }}
  	<h4>{{ block.settings.tit }}</h4>
  	<p>{{ block.settings.text }}</p>
  </li>{% endif %}
  {% endfor %}
</ul>
</div>

{% schema %}
{
  "name": "Shop page bottom content",
  "class": "shop-bottom",
	"settings": [
	{
      "id": "title",
      "type": "text",
      "label": "Title",
	  "default": "Take your vaginal health to the next level"
    },
    {
      "id": "title-2",
      "type": "text",
      "label": "Second section title",
	  "default": "Making healthy habits easy"
    }
	
],
  "blocks": [
    {
      "type": "select",
      "name": "Product Benefits *item",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Title"
        }
      ]
    }, 
    {
      "type": "shop_benefits",
      "name": "Shop Benefits *item",
      "settings": [
        {
          "id": "img",
          "type": "html",
       		"label": "Paste SVG code here"
        },
		{
          "id": "tit",
          "type": "text",
       		"label": "Title"
        },
		{
          "id": "text",
          "type": "text",
		  "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
