<form method="post" action="https://manage.kmail-lists.com/subscriptions/subscribe?a=PtrUzD&g=Ji9LVj" class="w-90 g footer-subscribe--form">
  <div class="text-wrap">
    <h3>{{ section.settings.title }}</h3>
    {{ section.settings.text }}	
  </div>
  
  <div class="input-place">
    <input type="hidden" name="g" value="Ji9LVj">
    <input class="tnp-email" type="email" name="email" id="k_id_email" required>
    <label type="text" class="input" for="k_id_email">{{ section.settings.placeholder }}</label>
  </div>
  
  <button class="btn fixed-width" type="submit" value="{{ section.settings.btn }}" id="tnp-submit">{{ section.settings.btn }}</button>
</form>

{% schema %}
{
	"name": "Subscription",
    "class": "footer-subscribe g",
    "settings": [
		{
        "id": "title",
        "type": "text",
        "label": "Heading",
		"default": "Lets stay in touch"
      },
	{
        "id": "text",
        "type": "richtext",
        "label": "Sub text",
		"default": "<p>On top of creating phenomenal vaginal health products, we also make thoughtful content and e-mails for women’s wellness.</p>"
      },
	{
        "id": "placeholder",
        "type": "text",
        "label": "Placeholder text",
		"default": "Enter your email"
      },
	{
        "id": "btn",
        "type": "text",
        "label": "Button text",
		"default": "Sign up"
      }
	]
  }
{% endschema %}