<div id="shopify-super-reviews" data-type="index-home" data-shop-id="ffdddd51ef3fccc8" data-rating="3" data-is-photo="1"></div>

            {% schema %}
                {
                    "name": "Super Reviews",
                    "class": "index-section",
                    "settings": [
            
                    ],
                    "presets": [{
                    "name": "Super Reviews",
                    "category": "Super"
                }]
                }
                {% endschema %}
            
            {% stylesheet %}
            {% endstylesheet %}
            
            {% javascript %}
            {% endjavascript %}