.svg-icons__hidden {
    display: none;
}

.payment-icons__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

    @include mobile-screen {
        svg {
            margin: 5px;
        }
    }

    @include mobile-screen-small {
        svg {
            margin: 3px;
        }
    }
}

.additional-checkout-buttons__cart {
    display: none;
}

.additional-checkout-buttons,
.additional-checkout-buttons__cart {
    padding-top: 20px;

    @include mobile-screen-small {
        padding-top: 0;
    }

    ul[data-shopify-buttoncontainer="true"] {
        display: flex;
        justify-content: center;
    }
}

.pay-box-section {
    text-align: center;
}

.payment-icons__list-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
        width: 25%;

        svg {
            width: 80%;
        }
    }
}
