.product-carousel_products-2 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    .product-carousel__title {
        text-align: center;
        padding-bottom: 10px;
    }
}

.product-carousel {
    width: 90vw;
    margin: 4em auto;

    .jdgm-widget * {
        line-height: 1.4;
        display: flex;
        justify-content: center;

        .jdgm-prev-badge__stars {
            margin: 0 auto;
            padding-bottom: 10px;

            .jdgm-star {
                font-size: 0.35em;
            }
        }

        .jdgm-prev-badge__text {
            display: none;
        }
    }

    .product-carousel__title {
        text-align: center;
        padding-bottom: 0px;
    }

    .product-carousel__inner {
        display: flex;
        align-items: flex-start;
        width: 90vw;

        a svg {
            fill: #2d396d;
            display: none;
            margin-top: 145px;

            @media (min-width:500px) and (max-width:1000px) {
                margin-top: 200px;
                display: block;
                cursor: pointer;
            }

            @include mobile-screen  {
                display: block;
                cursor: pointer;
            }
        }
    }

    .product-carousel__slider {
       width: 90%;
       margin: 0 auto;
       display: flex;
       transform-style: preserve-3d;
       padding: 30px 0;

        .product-carousel__slider-item {
            position: relative;
            margin: 0 20px;
            // display: flex;
            // flex-direction: column;
            width: 30%;

            .product-carousel__slider-item__thumb {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 350px;
                background-color: $lightblue;
                border-radius: 10px;
                padding: 30px;

                img {
                   min-width: 60%;
                   max-width: 70%;
                }
            }

            .product-carousel__slider-item__content {
                padding-top: 24px;
                padding-bottom: 124px;
                margin: 0 auto;
                text-align: center;

                h3 {
                    font-size: 0.9em;
                    text-align: center;
                    // min-height: 40px;
                }

                p {
                    max-width: 80%;
                    margin: 0 auto;
                    text-align: center;
                    // min-height: 60px;
                }

                button {
                    position: absolute;
                    bottom: 66px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    margin: 0 auto;
                }

                @include mobile-screen {
                    p {
                        // min-height: 70px;
                    }
                }
            }

            a.underline {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
               margin: 20px 0;
               display: inline-block;
            }
        }

        @include mobile-screen {
            width: 80%;
            overflow: hidden;

            .product-carousel__slider-item  {
                width: 100%;
                min-width: 100%;
                margin: 0px;

                .product-carousel__slider-item__thumb {
                    height: 250px;

                    img {
                        width: 150px;
                    }
                }
            }
        }

        @media (min-width:500px) and (max-width:1000px) {
            .product-carousel__slider-item  {
                .product-carousel__slider-item__thumb {
                    height: 350px;

                    img {
                        width: 120px;
                    }
                }
            }
        }
    }
}
