//testing
.gs-reviews__selector .product--rating .jdgm-star {
    font-size: 0.35em;
}

.gs-reviews__selector .jdgm-prev-badge__text {
    display: none;
}

// display after js loades
.gs-reviews__selector .jdgm-widget.jdgm-widget {
    opacity: 0;
}