.svg-icons__hidden {
  display: none;
}

.payment-icons__list {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media screen and (max-width: 900px) {
  .payment-icons__list svg {
    margin: 5px;
  }
}

@media screen and (max-width: 749px) {
  .payment-icons__list svg {
    margin: 3px;
  }
}

.additional-checkout-buttons__cart {
  display: none;
}

.additional-checkout-buttons,
.additional-checkout-buttons__cart {
  padding-top: 20px;
}

.additional-checkout-buttons ul[data-shopify-buttoncontainer="true"],
.additional-checkout-buttons__cart ul[data-shopify-buttoncontainer="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: center;
}

@media screen and (max-width: 749px) {
  .additional-checkout-buttons,
  .additional-checkout-buttons__cart {
    padding-top: 0;
  }
}

.pay-box-section {
  text-align: center;
}

.payment-icons__list-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-icons__list-cart li {
  width: 25%;
}

.payment-icons__list-cart li svg {
  width: 80%;
}

.product-carousel_products-2 {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.product-carousel_products-2 .product-carousel__title {
  text-align: center;
  padding-bottom: 10px;
}

.product-carousel {
  width: 90vw;
  margin: 4em auto;
}

.product-carousel .jdgm-widget * {
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-carousel .jdgm-widget * .jdgm-prev-badge__stars {
  margin: 0 auto;
  padding-bottom: 10px;
}

.product-carousel .jdgm-widget * .jdgm-prev-badge__stars .jdgm-star {
  font-size: 0.35em;
}

.product-carousel .jdgm-widget * .jdgm-prev-badge__text {
  display: none;
}

.product-carousel .product-carousel__title {
  text-align: center;
  padding-bottom: 0px;
}

.product-carousel .product-carousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90vw;
}

.product-carousel .product-carousel__inner a svg {
  fill: #2d396d;
  display: none;
  margin-top: 145px;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .product-carousel .product-carousel__inner a svg {
    margin-top: 200px;
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .product-carousel .product-carousel__inner a svg {
    display: block;
    cursor: pointer;
  }
}

.product-carousel .product-carousel__slider {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 30px 0;
}

.product-carousel .product-carousel__slider .product-carousel__slider-item {
  position: relative;
  margin: 0 20px;
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-webkit-box-orient: vertical;*/
  /*-webkit-box-direction: normal;*/
      /*-ms-flex-direction: column;*/
          /*flex-direction: column;*/
  width: 30%;
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  background-color: #a7cded;
  border-radius: 10px;
  padding: 30px;
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb img {
  min-width: 60%;
  max-width: 70%;
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__content {
  padding-top: 24px;
  padding-bottom: 124px;
  margin: 0 auto;
  text-align: center;
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__content h3 {
  font-size: 0.9em;
  text-align: center;
  /*min-height: 40px;*/
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__content p {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  /*min-height: 60px;*/
}

.product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__content button {
  position: absolute;
  bottom: 66px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__content p {
    /*min-height: 70px;*/
  }
}

.product-carousel .product-carousel__slider .product-carousel__slider-item a.underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .product-carousel .product-carousel__slider {
    width: 80%;
    overflow: hidden;
  }
  .product-carousel .product-carousel__slider .product-carousel__slider-item {
    width: 100%;
    min-width: 100%;
    margin: 0px;
  }
  .product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb {
    height: 250px;
  }
  .product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb img {
    width: 150px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb {
    height: 350px;
  }
  .product-carousel .product-carousel__slider .product-carousel__slider-item .product-carousel__slider-item__thumb img {
    width: 120px;
  }
}

.gs-time_estimator {
  font-weight: 400;
  padding-top: 1.5em;
  font-size: 0.9em;
}

.gs-time_estimator strong {
  font-weight: 500;
}

.gs-reviews__selector .product--rating .jdgm-star {
  font-size: 0.35em;
}

.gs-reviews__selector .jdgm-prev-badge__text {
  display: none;
}

.gs-reviews__selector .jdgm-widget.jdgm-widget {
  opacity: 0;
}
/*# sourceMappingURL=gs_updates.css.map */
