$primary: #7a76b4;
$gray: #f8f6f6;
$lightblue: #a7cded;
$rose: #f4b6d2;


@mixin mobile-screen {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin mobile-screen-small {
  @media screen and (max-width: 749px) {
    @content;
  }
}

@import 'payment-icons';
@import 'product-carousel';
@import 'time-estimator';
@import 'test-gs';
