$navy: #2D396D;
//$color-bg-light: #F8F6F6;
$color-bg-light: #F8F7F9;
$hero-bg: #D8DCE8;
$charcoal: #353737;
$black: #000000;

$blossom: #F4B6D2;
$sky: #A7CDED;
$mint: #AAD7D4;
$lilac: #8B95DA;

$purple: #7A76B4;
$pink: #F388AF;
$blue: #6CB4DA;
$green: #5FBFB4;

/*================ Typography ================*/

{% assign header_font = settings.type_header_font  %}
{% assign base_font = settings.type_base_font %}

{%- assign base_font_medium = base_font | font_modify: 'weight', '500' -%}
{%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
{%- assign base_font_bold = base_font | font_modify: 'weight', '700' -%}

{%- assign header_font_normal = header_font | font_modify: 'weight', '500' -%}
{%- assign header_font_bold = header_font | font_modify: 'weight', '600' -%}

$font-weight-body--bold: 500;
$font-weight-body--bolder: 700;
$font-weight-header--normal: 500;
$font-weight-header--bold: 600;

$font-stack-header: {{ header_font.family }}, {{ header_font.fallback_families }};
$font-style-header: {{ header_font.style }};
$font-weight-header: {{ header_font.weight }};

$fontPrimary: 'FF Tisa Sans', 'FF Tisa Sans Pro', sans-serif;
$fontSecondary: Montserrat, sans-serif;

$font-stack-body: $fontPrimary;
$font-style-body: {{ base_font.style }};
$font-weight-body: {{ base_font.weight }};

$font-size-header: {{ settings.type_header_base_size }} * 1px;
$font-bold-titles: {{ settings.type_bold_product_titles }};

$font-size-base: {{ settings.type_base_size }}px; // Henceforth known as 1em

$font-stack-cart-notification: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-mobile-input: 16px; // min 16px to prevent zooming

$spacingWide: 0.2em;
$spacingMid: 0.1em;
//$spacingLight: 0.02em;

// responsive breakpoints

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 736px;
$break-tab: 980px;
$break-large: 1280px;
$break-xlarge: 1600px;
$break-max: 1920px;

/*================ GLOBAL ================*/
/*============================================================================
  #Normalize
  Based on normalize.css v3.0.2 | MIT License | git.io/normalize
==============================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
  
  &:hover {
    color: $blue;
  }
}

b,
strong {
  font-weight: $font-weight-body--bold;
}

.em, .italic {
  font-style: italic;
}


small {
  font-size: 80%;
}

sub,
sup, .sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup, .sup {
  top: -0.55em;
}

sub {
  bottom: -0.25em;
}

img {
  //max-width: 100%;
  max-width: none;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
html input {
  &[disabled] {
    cursor: default;
  }
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  &[type="search"],
  &[type="number"],
  &[type="email"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  a {
    border-bottom: none;
  }
}

th {
  
  font-family: $font-stack-body;
  font-style: $font-style-body;
  font-weight: $font-weight-body;
}

td,
th {
  padding: 0;
  border: 0;
  
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

/*==============================================================================*/

body {
  font-family: $font-stack-body;
  color: $navy;
  font-size: 15px;
  line-height: 1.5;
  
  @media only screen and (min-width: $break-tab) {
    font-size: 16px;
  }
  
  @media only screen and (min-width: $break-large) {
    font-size: 18px;
  }
  
  @media only screen and (min-width: $break-xlarge) {
    font-size: 20px;
  }
}

.lp-wrap {
  max-width: 1920px;
  justify-self: center;
  width: 100%;
    
}

.template-landing {
  display: grid;
}

.wrap {
  width: 80%;
}

.desktop {
  display: none;
  
  @media only screen and (min-width: $break-tab) {
    display: initial;
  }
}

.mobile {
  @media only screen and (min-width: $break-tab) {
    display: none;
  }
}

.img-wrap {
  display: grid;
  justify-content: center;
  align-content: stretch;
  overflow: hidden;
}

.btn {
  width: 100%;
  height: 4.5em;
  border-radius: 2.25em;
  display: inline-grid;	
  align-content: center;
  justify-content: center;
  background: $navy;
  color: #fff;
  font-family: $fontSecondary;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0 0.7em;
  text-decoration: none;
  filter: drop-shadow(0 5px 20px rgba($navy, 0.4));
  
  &:hover {
    background: lighten($navy, 10%);
  	color: #fff;
  }
}

svg {
  fill: $navy;
}
/* ================ PRODUCT COLORED MIXINS  ============== */


@mixin colored($c_light_bg, $c_new) {
  .svg-color {
    fill: $c_new;
  }
  
  .svg-light {
    fill: $c_light_bg;
  }
  
  .btn:hover {
    background-color: $c_new;
  }
  
  h3 span {
    color: $c_new;
  }
  
  .jdgm-rev {
    border-bottom: 2px solid $c_new;
  }
  
  .jdgm-star {
    color: $c_new;
  }
}
  
  

.colored-pink {
  @include colored($blossom, $pink);
}

.colored-blue {
  @include colored($sky, $blue);
}

.colored-green {
  @include colored($mint, $green);
}

.colored-purple {
  @include colored($lilac, $purple);
}

/*==============================================================================*/

.lp-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: grid;
  background: $color-bg-light;
}

.hero-text {
  display: grid;
  
  .btn {
    margin-top: 2em;
    max-width: 16em;
  }
  
  @media only screen and (min-width: $break-tab) {
    position: absolute;
    left: 7vw;
    top: 2em;
    width: 45vw;
    
    .btn {
      margin: 0;
      max-width: 18em;
    }
  }
  
  @media only screen and (min-width: $break-large) {
    width: 40vw;
  }

  @media only screen and (min-width: $break-xlarge) {
    left: 10vw;
    max-width: 30em;
    align-content: center;
    top: 0;
    bottom: 0;
    padding-bottom: 2em;
  }
  
  @media only screen and (min-width: $break-max) {
    left: 10.5em;
  }
}

.hero-text-wrap {
  display: grid;
  padding: 1em 9vw 0;
  background: linear-gradient(to top, $hero-bg, $color-bg-light);
  
  @media only screen and (min-width: $break-tab) {
    padding: 0;
    background: none;
  }
}

.hero-image.desktop {
  width: auto;
  height: 30%;
  min-height: 40em;
  aspect-ratio: 32/15;
  
  @media only screen and (min-width: $break-xlarge) {
    min-height: 45em;
  }
}

.mobile .hero-image {
  width: 100%;
  height: auto;
  aspect-ratio: 5/4;
  display: grid;
}



.logo {
  margin-bottom: 1em;
  
  svg {
    width: 10em;
    max-width: 60%;
    height: auto;
  }
  
  @media only screen and (min-width: $break-medium) {
    margin-bottom: 2em;
    
    svg {
      width: 13em;
    }
  }
}

.sup-header {
  font-family: $fontSecondary;
  font-weight: 600;
  margin-bottom: 0.8em;
  font-size: 0.8em;
  letter-spacing: 0.02em;
  
  @media only screen and (min-width: $break-medium) {
    font-size: 0.9em;
  }
  
}

h1 {
  font-family: $fontSecondary;
  font-size: 2.2em;
  letter-spacing: 0.04em;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 0.5em 0;
  
  @media only screen and (min-width: $break-medium) {
    font-size: 3em;
  }
    
}

h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  
  @media only screen and (min-width: $break-medium) {
    font-size: 1.1em;
  }
}

h3 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 0 1.5em 0;
  
  @media only screen and (min-width: $break-medium) {
    font-size: 2em;
  }
}

.hero-benefits {
  display: grid;
  grid-template-columns: auto 1fr;
  background: $navy;
  color: #fff;
  padding: 2em 5vw 2em 9vw;
  
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
    align-items: center;
  }
  
  span {
    font-family: $fontSecondary;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 0.85;
  }
  
  p {
    font-size: 0.8em;
    max-width: 10em;
    font-weight: 500;
    line-height: 1.3;
  }
  
  @media only screen and (min-width: $break-tab) {
    background: none;
    margin: 2.5em 0;
    color: $navy;
    padding: 0;
    grid-gap: 2em;
  }
}

.lp-benefits {
  background: $color-bg-light;
  display: grid;
  justify-items: center;
  padding: 5em 0;
  
  .wrap {
    max-width: 45em;
    text-align: center;
  }
}

.lp-product-benefits {
  display: grid;
  grid-row-gap: 2em;
  margin-top: 4em;
  
  svg {
    width: 3.6em;
    height: auto;
  }
  
  li {
    display: grid;
    grid-template-columns: 3.6em 13em;
    grid-gap: 1.5em;
    align-items: center;
    text-align: left;
    font-weight: 500;
  }
  
  @media only screen and (min-width: $break-tab) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
  }
}

.lp-ingredients {
  background: $color-bg-light;
  display: grid;
  justify-items: center;
  position: relative;
  
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6em;
    background: #fff;
  }
  
  .wrap {
    display: grid;
    width: 90%;
    background: #fff;
    min-height: 32.5em;
    filter: drop-shadow(0px 2px 30px rgba($navy, 0.4));
  }
  
  img {
    width: auto;
    height: 100%;
  }
  
  @media only screen and (min-width: $break-tab) {
    .wrap {
      grid-template-columns: 50% 1fr;
      max-width: 1500px;
    }
  }
}

.lp-ingredients-text {
    padding: 2em 3em;
  
  h3 {
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }
  
  p {
    font-size: 0.8em;
    margin-bottom: 1.5em;
  }
  
  strong {
    display: block;
    font-size: 1.25em;
  }
  
  @media only screen and (min-width: $break-xlarge) {
    align-self: center;
  }
}

.lp-product-ingredients {
  display: grid;
  grid-row-gap: 1em;
  padding-top: 2em;
  
  li {
    display: grid;
    grid-template-columns: 2.5em 7.5em;
    grid-gap: 0.7em;
    align-items: center;
  }
  
  p {
    line-height: 1.3;
    margin-bottom: 0;
  }
  
  svg {
    width: 2.5em;
    height: auto;
  }
  
  @media only screen and (min-width: $break-medium) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media only screen and (min-width: $break-max) {
    grid-template-columns: 1fr 1fr 1fr;
  	grid-row-gap: 2em;
    
    li {
      grid-template-columns: 2.5em 6em;
    }
  }
}

.lp-testimonials {
  position: relative;
  justify-self: center;
  margin: 4em 0;
  
  @media only screen and (min-width: $break-medium) {
    margin: 6em 0;
  }
}

.jdgm-rev-widg__header, .jdgm-paginate, .jdgm-rev__timestamp, .jdgm-rev__icon, .jdgm-rev__buyer-badge-wrapper, .jdgm-rev__actions, .jdgm-rev__reply {
  display: none;
}

.jdgm-rev-widg {
  padding: 0 5vw !important;
  
  @media only screen and (min-width: $break-medium) {
    padding: 0 5em !important;
  }
}

.jdgm-widget .jdgm-star {
  font-family: 'happyv-iconfont';
  letter-spacing: 0.1em;
  font-size: 0.7em;
}

.jdgm-rev-widg__body {
  position: relative;
  overflow: hidden;
  padding: 0 1em;
}

.jdgm-rev-widg__reviews {
  position: relative;
}



.jdgm-rev {
  background: $color-bg-light;
  height: 20em;
  float: left;
  width: 70vw;
  position: relative;
  
  &::after {
    content: '';
    background: url({{ 'quote-lp.svg' | asset_url }}) no-repeat;
    width: 3em;
    height: 3em;
    position: absolute;
    top: -0.7em;
    left: -0.5em;
  }
  
  @media only screen and (min-width: $break-medium) {
    width: 24em;
    margin-right: 80px !important;
  }
}

.jdgm-rev__header {
  padding: 1.5em 1.5em 0 0.5em;
  
  @media only screen and (min-width: $break-medium) {
    padding: 1.5em 2.5em 0;
  }
}

.jdgm-rev__author-wrapper {
  font-size: 0.8em;
}

.jdgm-rev__author, .jdgm-rev__location {
  font-weight: 400;
  font-style: italic;
}

.jdgm-rev__title {
  padding: 1em 0 0.2em;
}

.jdgm-rev__body {
  font-size: 0.8em;
}

.jdgm-rev__content {
  height: 14em;
  overflow: hidden;
  position: relative;
  padding: 0 1.5em 0 0.5em;
  
  @media only screen and (min-width: $break-medium) {
    padding: 0 2.5em;
  }
}

.jdgm-rev__content:before {
  content: '';
  height: 2em;    
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(transparent, $color-bg-light);
}


.reviews-arrows {
  position: absolute;
  top: 10em;
  left: -1em;
  right: -1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  svg {
    fill: $navy;
	width: auto;
	height: 2em;
  }
  
  @media only screen and (min-width: $break-tab) {
    left: 0;
    right: 0;
  }
}


a.control_prev, a.control_next {
	cursor: pointer;
	height: 2em;
}


a.control_prev {
  	justify-self: start;
	transform: rotate(180deg);
}

a.control_next {
  	justify-self: end;
}

.lp-suppfacts-wrap {
  background: $navy;
  color: #fff;
  display: grid;
  justify-items: center;
  padding: 4em 0;
}

.lp-suppfacts {
  width: 80%;
  max-width: 52em;
  
  h6 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    margin: 0 0 0.5em 0;
  }
  
  p {
    font-size: 0.9em;
    
    &:first-of-type {
      font-weight: 500;
      margin-bottom: 1em;
    }
  }
  
  table {
    border-bottom: 6px solid #fff;
  }
  
  p.text--small {
    font-size: 0.7em;
    margin-top: 1em;
  }
  
  table + p {
    margin: 1em 0 3em;
    font-size: 0.7em;
  }
  
  th {
    font-size: 0.7em;
    font-weight: 500;
    border-bottom: 6px solid #fff;
    text-align: right;
    padding: 0 0 0.5em 2em;
    
    &:last-child {
      width: 5em;
    }
  }
  
  td {
    text-align: right;
    font-size: 0.9em;
    line-height: 1.3;
    padding: 0.6em 0 0.6em 1em;
    border-top: 2px solid #fff;
    
    &:first-child {
      padding-left: 0;
      text-align: left;
    }
  }
  
  .l--1 td {
    font-weight: 500;
  }
  
  .l--2 {
    td {
      border-top-color: rgba(#fff, 0.5);
      
      &:first-child {
        padding-left: 1em;
      }
    }
  }
}


.lp-footer-wrap {
  display: grid;
  justify-items: center;
  padding: 1em 0;
  
  &.border {
    border-top: 1px solid $color-bg-light;
  }
}

.lp-copyright {
  font-size: 0.8em;
  
  a {
    margin-left: 1em;
    font-weight: 500;
  }
}

.lp-footer {
  width: 80%;
  display: grid;
  grid-row-gap: 1em;
  
  @media only screen and (min-width: $break-medium) {
    max-width: 52em;
    grid-template-columns: 1fr 52%;
    align-items: center;
  }
}

.lp-disclaimer {
  font-size: 0.8em;
  font-size: 0.7em;
  padding: 0.5em 1em;
  border: 2px solid $navy;
}