/* UPLOAD COMPILED CSS TO RECHARGE CP SETTINGS */

$navy: #2D396D;
$color-bg-light: #F8F6F6;
$pink: #F388AF;
$sky: #A7CDED;
$blue: #6CB4DA;
$blossom: #F4B6D2;

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 736px;
$break-tab: 980px;
$break-large: 1280px;
$break-xlarge: 1600px;
$break-max: 1920px;

$fontSecondary: Montserrat,sans-serif;
$fontPrimary: "FF Tisa Sans",sans-serif;

@mixin round($n) {
	-webkit-border-radius:$n;
	-moz-border-radius:$n;
	border-radius: $n;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

/* RECHARGE CUSTOMER PORTAL */

.recharge-te .wrapper {
  width: 80%;
  max-width: 1500px;
  display: grid;
  margin: 2em auto 6em;
  
  @media only screen and (min-width: $break-medium) {
    width: 90%;
    grid-template-columns: 16em 1fr;
    grid-column-gap: 4em;
    grid-template-areas: "navigation content";
  }
    
  @media only screen and (min-width: $break-tab) {
    width: 80%;
    grid-template-columns: 19.5em 1fr;
    grid-column-gap: 7em;
  }
}

.recharge-te .rct_navigation__desktop {
  font-family: $fontSecondary;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 3em;
  
  li {
    line-height: 3.15em;
  }
}

.account-menu--link {
  display: block;
  margin-bottom: 2em;
  width: 80%;
  margin: 1em auto 0;
  max-width: 1500px;
  
  span {
    position: relative;
    top: .15em;
    margin-right: .5em;
  }
  
  svg {
    fill: $navy;
    width: auto;
    height: 0.8em;
  }
}

.recharge-te .rct_navigation {
  background: none;
  border: none;
  display: block;
  height: auto;
  
  @media only screen and (max-width: 767px) {
    padding: 20px 0;
    margin-bottom: 2em;
  }
}

.recharge-te {
  background: none;
  
  h1, h2, h3, h4, h5, strong, a {
    color: $navy;
  }
}

.recharge-te .rct_navigation__desktop {
  @media only screen and (min-width: 768px) {
    display: block;
  }
}

body.slideout-panel {
  will-change: unset;
}

.recharge-te *, .rct_sidebar * {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

a.rct_navigation__item__link--active {
  font-weight: inherit;
  background: $color-bg-light;
  @include round(10px);
}

a.rct_navigation__item__link {
  padding: 0 1.2em;
  color: $navy;
  
  &:hover {
    background: $navy;
    @include round(10px);
    color: #fff;
  }
}

.recharge-te .rct_navigation__desktop li.rct_navigation__item {
  margin: 0;
  text-align: left;
  display: block;
  padding: 0;
}

.rct_card {
  box-shadow: none;
  font-family: $fontSecondary;
  font-weight: 500;
  background: $color-bg-light;
  @include round(10px);
  padding: 1em;
  color: $navy;
  
  @media only screen and (min-width: $break-medium) {
    padding: 1.6em 2em;
  }
}

.rct_card--address, .rct_card--billing-info {
  background: none;
  border: 1px solid $navy;
  font-family: $fontSecondary;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.55em;
  
  p, strong + .rct_text--small {
    margin: 0;
    line-height: inherit;
  }
  
  strong {
    font-weight: 500;
    font-size: inherit;
  }
  
  .rct_address__product-count {
    margin-top: 1em;
    font-weight: 600;
  }

  @media only screen and (max-width: $break-medium) {
    overflow-x: auto;
    max-width: 80vw;
  }
}

.rct_notice {
  padding: 1em 1.5em;
  background-color: $blossom;
  color: $navy;
  border: none;
  @include round(5px);
  
  &:before {
    content: none;
  }
}

#associated-products-container {
  margin-bottom: 1em;
}

.rct_address-products {
  margin: 1em 0;
}

.rct_address-products__title {
  strong {
    font-weight: 600;
    font-size: 1em;
  }
  
  &::after {
    content: '';
    background: url("{{'arr-down.svg' | asset_url }}") no-repeat center center;
    width: 16px;
    height: 10px;
  }
}

.rct_address-products--open .rct_address-products__title:after {
  content: '';
  @include rotate(180deg);
}

.rct_address-products__list {
  
  strong {
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }
  .rct_text--small {
    font-size: 0.75em;
    line-height: inherit;
    margin: 0;
    
    &:first-of-type {
      display: none;
    }
  }
}

.rct_address-product__image__container img {
  max-height: 80px;
  max-width: 80px;
  min-width: 80px;
}

.rct_billing-info__title, .rct_address__title {
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

.rct_card--action {
  padding-right: 1.5em;
  
  &:after {
    content: '';
    background: url({{"arr.svg" | asset_url }}) no-repeat left center;
    width: 12px;
    height: 21px;
    right: 1em;
  }
  
  @media only screen and (min-width: $break-medium) {
    padding-right: 2.5em;
    
    &:after {
      right: 2em;
    }
  }
}


.rct_form__label, .rct_form, .rct_choices__list--single .rct_choices__item {
  color: $navy;
}

.rct_choices__list--single .rct_choices__item {
  font-size: 1.2em;
}

.rct_form__input, .rct_form__select, .rct_form__number {
  border-color: rgba($navy, 0.5);
  font-weight: 500;
  @include round(5px);
  font-size: 1.2em;
  height: auto;
  padding: .5em 0.75em;
}

.rct_choices__inner {
  @include round(5px);
  border-color: rgba($navy, 0.5);
  min-height: 2.7em;
  padding: .5em 0.75em;
}

.rct_button {
  border: none;
  box-shadow: none;
  transition: none;
  
  &.rct_button--link {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: $navy;
    border-bottom: 2px solid $navy;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1.5em;
    border-radius: 0;
  }
}

.rct_button--secondary {
  width: 100%;
  height: 4.5em;
  @include round(2.5em);
  display: grid;	
  align-content: center;
  justify-content: center;
  border: 1px solid $navy;
  color: $navy;
  font-family: $fontSecondary;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0 2em;
  
  &:hover:not(:disabled) {
    background: none;
    border-color: $blue;
    color: $blue;
    box-shadow: none !important;
  }
  
  @media only screen and (min-width: $break-medium) {
    max-width: 18em;
    min-width: 12em;
    width: auto;
  }
}

.rct_button--primary, .rct_content-header__actions .rct_button--secondary {  
  height: 4.5em;
  width: 100%;
  @include round(2.5em);
  display: grid;	
  align-content: center;
  justify-content: center;
  background: $navy;
  color: #fff;
  font-family: $fontSecondary;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0 2em;
  
  &:hover:not(:disabled) {
    background: lighten($navy, 10%);
  	color: #fff;
    box-shadow: none;
  }
  
  @media only screen and (min-width: $break-medium) {
    max-width: 18em;
    min-width: 12em;
    width: auto;
  }
}

.rct_content {
  margin: 0;
  padding: 0 0 4em 0;
  
  h1 {
    font-size: 2.25em;
    line-height: 1em;
  }
  
  h3 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25em;
    margin-bottom: 0.5em;
    
    strong {
      font-weight: inherit;
    }
  }
  
  .rct_home__section h3 {
    font-size: 1.5em;
  }
}

a.rct_return-link {
  color: $navy !important;
  font-weight: 500 !important;
  border-bottom: 2px solid $navy;
    
  &:before {
  content: 'Back to ';
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  }
}

.recharge-te hr, .rct_sidebar hr {
  border-color: rgba($navy, 0.5);
}

.rct_sidebar {
  max-width: 380px;
  width: 100%;
  font-family: $fontPrimary;
  color: $navy;
  
  strong {
    font-size: inherit;
    font-weight: 600;
  }
}

.rct_sidebar__header {
  border-color: $navy;
  justify-content: start;
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 20px;
}

.rct_order-details {
  font-family: $fontSecondary;
  font-weight: 500;
}

.rct_order-details__row + .rct_order-details__row {
  border-color: rgba($navy, 0.5);
}

.rct_order__details {
  strong.rct_order__date {
    font-size: 1.5em;
    font-weight: 500;
  }
  
  .rct_order__number {
    margin: 1em 0 0 0;
    font-weight: 600;
  }
}

.rct_card--order {
  .rct_order__total {
    margin: 0 1.5em 0 0;
    font-size: 1.5em;
    font-weight: 600;
  }
}

.rct_delivery-schedule__date-group {
  font-family: $fontSecondary;
  
  h3 {
    font-size: 1.5em;
  }
  
  .rct_delivery-order__info {
    strong {
      font-weight: 500;
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 0.12em; 
    }
    
    p.rct_text--small {
      font-size: 0.9em;
      font-weight: 600;
      
      &:first-of-type::before {
        content: 'Size: ';
      }
    }
  }
}

p.rct_delivery-schedule__address-group__title {
  color: $navy;
  font-weight: 600;
  margin: 0 0 1.5em 0;
  font-size: 0.9em;
}


.rct_card--charge-summary .rct_order-details, .rct_datepicker, .rct_datepicker .pika-table th, .rct_datepicker .pika-button {
  color: $navy;
}

.rct_datepicker .is-selected .pika-button {
  background: $navy;
  color: #fff;
}

.rct_datepicker .pika-next, .rct_datepicker .pika-prev {
  color: $navy;
  border-color: $navy;
}

.rct_charge__products, .rct_card--subscription {
  .rct_card__media__container img {
    max-height: 120px;
    max-width: 90px;
    min-width: 90px;
  }
  
  .rct_card__content {
    strong {
      font-weight: 500;
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 0.12em; 
    }
  }
}

.rct_charge__products, .rct_card--subscription, .rct_products__list {
  p.rct_text--small {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0;
      
    &:first-of-type {
      margin-top: 0.5em;
      
      &::before {
        content: 'Size: ';
      }
    }
  }
}

.rct_subscription, .rct_card--subscription {
  p.rct_chip {
    background: $pink;
    font-size: 0.75em;
    margin-top: 1em;
    font-family: $fontSecondary;
  }
}

.rct_card--charge-date {
  .rct_card__label {
    font-weight: 600;
    font-size: 0.9em;
  }
  
  strong {
    font-size: 1.3em;
    font-weight: 500;
  }
}

.rct_card--charge-summary {
  .rct_card__label {
    font-weight: 600;
    font-size: 0.9em;
  }
  
  .rct_order-details {
    font-size: 1.3em;
  }
  
  .rct_order-details__row {
    align-items: start;
    padding: 0.5em 0;
    
    strong {
      font-weight: 600;
    }
    
    &:first-child {
      
      p:first-child {
        margin: 0 0 0.5em 0;
      }
    }
  }
}

.rct_card--charge-summary .rct_order-details__row--total {
  
  .rct_order-details__row__left {
    color: $navy;
    font-weight: 600;
  }
  
  .rct_order-details__row__right strong {
    font-size: inherit;
    font-weight: 600;
  }
}

.rct_charge__actions:last-of-type, .rct_form__actions:last-of-type {
  text-align: center;
  margin-top: 2em;
}

.rct_sidebar h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 500;
  margin: 1em 0;
}

.rct_shipping-address {
  font-family: $fontSecondary;
  color: $navy;
  font-weight: 500;
  padding-bottom: 1em;
  
  strong, p.rct_text--small {
    font-size: 1.3em;
    line-height: 1.6em;
  }
  
  p.rct_text--small {
    margin: 0;
  }
  
  .rct_shipping-address__title {
    color: $navy;
  }
}

a.rct_button--secondary, a.rct_button--primary {
  font-weight: 600;
}

.rct_card--variant strong::before {
  content: 'Size: ';
}

.rct_subscription__title h3 {
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.12em; 
  font-family: $fontSecondary;
}

.rct_subscription__info {
  font-family: $fontSecondary;
  color: inherit;
  font-size: 1em;
  font-weight: 600;
}

.rct_product-search__list__item .rct_card__content strong:first-child, .rct_products__list .rct_product .rct_product__info strong:first-child, .rct_order-details__row--product .rct_order-details__row__left__description strong:first-child {
  font-weight: 500;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.12em; 
  font-family: $fontSecondary;
}

.rct_subscription__actions {
  align-items: center; 
  
  &:not(:last-child) {
    margin: 1em 0 2em 0;
  }
  
  .rct_button.rct_button--secondary {
    display: grid;
  }
}

.rct_subscription__actions .rct_button + .rct_button {
  margin-top: 1.5em;
}
  
.rct_home__section .rct_button.rct_button--secondary {
  display: grid;
}

.recharge-te p, .rct_sidebar p {
  line-height: inherit;
}

.rct_order-details__row--product .rct_order-details__row__left:first-child p:nth-child(2)::before, .rct_products__list .rct_product .rct_product__info p.rct_text--small:first-of-type::before, .rct_order-details__row--product .rct_order-details__row__left__description span:first-of-type::before {
  content: 'Size: ';
}

.rct_subscription__cards .rct_card--address {
  margin-bottom: 1.5em;
}

.rct_pagination, .rct_pagination__prev, .rct_pagination__next, .rct_pagination__page--current {
  color: $navy;
  border-color: $navy;
}