/*================ RTE headings ================*/
.rte {
  color: $color-body-text;
  margin-bottom: $section-spacing-small;

  // If an .rte div is the last element in its parent,
  // make it flush with the bottom of the container
  &:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $gutter-site;
    margin-bottom: $gutter-site / 2;

    &:first-child {
      margin-top: 0;
    }
  }

  li {
    margin-bottom: 4px;
    list-style: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// rte setting type to act like a <p> tag
.rte-setting {
  margin-bottom: $section-spacing-small / 1.8; // same as p

  &:last-child {
    margin-bottom: 0;
  }
}


// Prevent zoom on touch devices in active inputs
@include media-query($medium-down) {
  input,
  textarea,
  select,
  button {
    font-size: $font-size-mobile-input;
  }
}




//buttons

.btn-white {
	background-color: #fff;
	
	&:hover {
		background-color: lighten($pink,30%);
	}
}

.btn-dark {
	background-color: $black;
	color: #fff;
	
	&:hover {
		background-color: lighten($black,8%);
	}
}


.p--link {
	@extend %t-caps;
	font-size: 0.8rem;
	line-height: 1.8em;
	letter-spacing: 0.15em;
	border-bottom: 2px solid;
	display: inline-block;
	text-decoration: none;
	position: relative;
	
	&:after {
		content: "";
		background: url({{'arrs.svg' | asset_url }}) no-repeat -999px 0;
		width: 14px;
		height: 14px;
		position: absolute;
		top: 0.45em;
		right: -2.5em;
		@include trans();
	}
			
	&:hover {
		&:after {
			right: -3.5em;
		}
	}
}

.smm-links {
	a {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin-right: 30px;
		
		&.link-fb {
			background: url({{'icon-fb.svg' | asset_url }}) no-repeat center center;
			background-size: 100% auto;
		}
		
		&.link-ig {
			background: url({{'icon-ig.svg' | asset_url }}) no-repeat center center;
			background-size: 100% auto;
		}
		
		&:hover {
			opacity: 0.6;
		}
	}
}

.color-invert {
		color: #fff;
		
		h4>a {
			background: none !important;
		}
		
		a.more {
			color: #fff;
			border-color: rgba(#fff, 0.5);
			
			&:after {
				background-position: 0 -112px;
			}
		}
	}

a {
		color: $blue_link;
		text-decoration: none;
		
		&:hover {
			//opacity: 0.7;
		}
		
		&.more {
			font-weight: 500;
			font-size: 1em;
			//text-decoration: underline;
			border-bottom: 2px solid rgba($blue_link, 0.5);
			line-height: 1.4em;
			position: relative;
				
			
			&:after {
				content: "";
				background: url({{"arrs.svg" | asset_url }}) no-repeat 0 -56px;
				display: inline-block;
				width: 14px;
				height: 14px;
				position: absolute;
				//top: 5px;
				top: 0.25em;
				right: -25px;
				@include trans();
			}
			
			&:hover {
				&:after {
					right: -35px;
				}
			}
		}
		
		&.back {
			font-weight: 500;
			font-size: 1em;
			//border-bottom: 2px solid rgba($blue_link, 0.5);
			line-height: 1.4em;
			position: relative;
			color: $black;
			
			&:before {
				content: "";
              background: url({{"arrs.svg" | asset_url }}) no-repeat 0 0;
				display: inline-block;
				width: 28px;
				height: 14px;
				position: relative;
				top: 2px;
				//right: -25px;
				@include trans();
				margin-right: 10px;
				left: 0;
			}
			
			&:hover {
				&:before {
					left: -15px;
				}
			}
		}
	}

.btn--pink {
  width: 100%;
  height: 40px;
  display: grid;
  align-content: center;
  text-align: center;
  text-decoration: none;
  @extend %t-caps--bold;
  font-size: 0.73rem;
  @include round(20px);
  color: $pink_main;
  border: 1px solid $pink_main; 
  position: relative;
  
  &:before {
    content: '';
    width: 100%;
  	height: 40px;
  	@include round(20px);
    background: rgba($pink_main, 0.1);
    position: absolute;
    top: 3px;
    left: 2px;
  }
  
  &:hover {
    color: #fff !important;
    background: $pink_main;
    
    &:before {
      background: rgba($pink_main, 0.15);
    }
  }
}

.btn--home {
    display: grid;
    width: 100%;
    max-width: 240px;
    height: 60px;
    justify-content: center;
    align-content: center;
    @include round(30px);
    background-color: $pink_main;
    color: #fff;
    @extend %t-caps--bold;
    font-size: 0.93rem;
      
    &:hover {
      background-color: darken($pink_main, 10%);
      color: #fff !important;
    }
  @media only screen and (min-width: $break-tab) {
    -webkit-box-shadow: -13px 18px 30px 0px rgba(31, 25, 29, 0.4);
	  -moz-box-shadow:    -13px 18px 30px 0px rgba(31, 25, 29, 0.4);
      box-shadow:         -13px 18px 30px 0px rgba(31, 25, 29, 0.4);
  }
}
	
  .btn--pink {
    width: 100%;
    max-width: 160px;
    justify-self: center;
    margin-bottom: 50px;
  }


.hp--welcome {
  background: url({{'hp-bg.svg' | asset_url }}) no-repeat -100px top $light_blue;
  background-size: 800px auto;
  padding-top: 3rem;
  margin-top: 3rem;
  
  .w {
    @include wrap(90%);
  }
  
  .g--1 {
  }
  
  .g--2 {
    padding: 10vw 6%;
    
  }
  
  .img-wrap {
    img {
      width: 100%;
      height: auto;
    }
  }
  
  h2 {
    @extend %t-caps--extra;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  @media only screen and (min-width: $break-medium) {
    background-size: 100% auto;
    background-position: center top;
  }
    
    
    
    @media only screen and (min-width: $break-tab) {
      .w {
        grid-template-columns: 1fr 1fr;
        
      }
    
    .img-wrap {
      
      img {
        width: 85%;
        margin-top: 0.5rem;
      }
    }
    
    .g--2 {
      padding: 0 2rem 0;
    }
  }
  
  @media only screen and (min-width: $break-large) {
    
    .w {
      width: 80%;
    }
    
    .g--2 {
      padding-top: 3rem;
    }
    p {
      font-size: 1.125rem;
      margin-bottom: 1em;
      max-width: 400px;
      
      &.text--bigger {
    	font-size: 1.25rem;
    }
  }
  
    
    .img-wrap {
      img {
        width: 90%;
        max-width: 500px;
      }
    }
  }
  
  @media only screen and (min-width: $break-xlarge) {
    padding-top: 8rem;
    margin-top: -1rem;
  }
}

 .hp--content {
  background: $light_blue;
  margin-bottom: 25px;
  padding-top: 4rem;
  
  .w {
    @include wrap($mw:300px);
	padding: 4rem 0;
  }
  
  .hp-content--title {
	margin: 0 auto;
  	@include wrap($mw:800px);
    
    p {
      font-weight: 500;
      font-style: italic;
      font-size: 1.25rem;
      letter-spacing: 0.015em;
      line-height: 1.6;
      margin-left: 0.3rem
    }
  }
  
  h3 {
    @extend %t-caps;
    font-size: 3.375rem;
    font-weight: 300;
    line-height: 1.5;
  	letter-spacing: 0.2em;
    margin-bottom: 0.5em;
      
      span {
        color: $pink_main;
        display: block;
      }
	}
  
  h4 {
	@extend .t-title-xxsmall;
    max-width: 140px;
    width: 90%;
    margin-bottom: 0.5em;
  }
  
  a {
      color: inherit;
      
      &:hover {
        color: $blue_link;
        text-decoration: underline;
      }
	}
  
  ul {
      display: grid;
      grid-gap: 3.125rem;
	}
  
  li:before {
	  content: '';
	  display: block;
	  width: 70px;
	  height: 70px;
	  background-image: url({{ 'hp-icons.svg' | asset_url }});
      background-size: 70px auto;
      margin: 0 0 1em;
	}
	
	li:first-child:before {
		background-position: 0 0;
	}
	
	li:nth-child(2):before {
		background-position: 0 -73px;
	}
	
	li:nth-child(3):before {
		background-position: 0 -140px;
	}
  
  li:nth-child(4):before {
		background-position: 0 -210px;
	}
  
  @media only screen and (min-width: $break-medium) {
    h3 {
      font-size: 4.375rem;
    }
    
    .hp-content--title p {
      font-size: 1.5rem;
    }
  }
	
	@media only screen and (min-width: $break-tab) {
      
      .w {
		max-width: 1300px;
      }
		
		ul {
          grid-template-columns: repeat(4, 1fr);
          max-width: 950px;
          justify-self: end;
		}
	}
}

.hp--blog {
  margin: 3rem 0 6rem;
	display: grid;
	justify-content: end;
	
	h4 {
		@extend %t-caps--extra;
	}
	
	.g {
		padding: 5rem 10vw 2rem;
		background: url({{ 'v.svg' | asset_url }}) no-repeat 120px bottom;
		background-size: auto 640px;
	}
	
	.g--1 {
		margin-bottom: 5rem;
	}
	
	
	ul {
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 4rem;
		justify-content: center;
		justify-items: center; 
	}
	
		li {
			max-width: 400px;
		}
	
	.img-wrap {
		display: block;
		margin-bottom: 0.7rem;
		
		img {
			width: 100%;
			height: auto;
			max-width: 400px;
		}
	}
	
	@media only screen and (min-width: $break-medium) {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
		
		h4 {
			max-width: 460px;
			text-align: left;
		}
	}
	
	@media only screen and (min-width: $break-tab) {
      margin: 6rem 0;
	
		ul {
			grid-template-columns: repeat(4, 1fr);
		}
		
		.g {
			//max-width: 1275px;
			width: 80vw;
			padding: 0 0 2rem;
          background-size: auto 100%;
		}
	}
	
	@media only screen and (min-width: $break-xlarge) {
      .g {
        width: 100%;
        max-width: 1600px;
        padding: 0 0 2rem 175px;
        background-position: 260px top;
        
      }
	}
}
  
.hp--bv {
  @include wrap(80%);
  justify-content: center;
  grid-gap: 10vw;
  margin: 6rem auto 0;
  
  .g--1 {
    display: grid;
    overflow: hidden;
  }
  
  .g--2 {
    align-self: center;
  }
  
  .img-wrap {
    img {
      width: 100%;
      height: auto;
    }
  }
  
  h2 {
    @extend %t-caps--extra;
  }
  
  h4 {
    @extend .t-caps--title;
    text-align: left;
    margin-bottom: 3em;
    
    span {
      background-image: url({{"blue-lightlight.png" | asset_url }});
    }
  }
  
  h5 {
    margin-bottom: 1.5em;
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 480px;
  }
  
  p {
    @extend %text--small;
    margin-bottom: 2em;
    max-width: 480px;
  }
  
  @media only screen and (min-width: $break-tab) {
    width: 100%;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
    //padding: 10vw;
    grid-gap: 0;
    
    .img-wrap {
      overflow: hidden;
      display: grid;
      justify-self: center; 
      
      img {
        width: auto;
        height: 100%;
      }
    }
    
    .g--2 {
      padding: 1rem 0 2rem 5vw;
    }
  }
  
  @media only screen and (min-width: $break-large) {
    
    .g--1 {
      align-content: center;
    }
    
    .img-wrap {
      img {
        width: 100%;
        height: auto;
        min-width: 600px;
      }
    }
  }
}  

.hp--dani {
  @include wrap(100%, 1200px);
  
  
  .g--1 {
	display: grid;
	overflow: hidden;
  }
  
  .g--2 {
    background: $blue_light_bg;
    padding: 3rem 10vw 6rem;
    color: $dark_blue;
  }
  
  .img-wrap {
    display: grid;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  h5 {
    @extend %t-caps--extra;
  }
  
  p {
    margin-bottom: 2em;
  }
  
  @media only screen and (min-width: $break-medium) {
    margin-bottom: 6rem;
    .g--2 {
      padding: 5vw;
    }
  }
    
  @media only screen and (min-width: $break-tab) {
		grid-template-columns: 1fr 1fr;
    	grid-gap: 10px;
		min-height: 460px;
		
		.img-wrap {
			overflow: hidden;
			justify-self: center; 
		
			img {
				width: auto;
				height: 100%;
			}
		}
		
		.g--2 {
			display: grid;
			align-content: center;
          padding: 4rem 5rem;
		}
  }
  
  @media only screen and (min-width: $break-large) {
		height: 460px;
		
		.g--1 {
			align-content: center;
		}
		
		.g--2 {
			padding: 4rem 100px;
			min-height: 460px;
		}
		
		.img-wrap {
		
			img {
				width: 100%;
				height: auto;
              min-width: 600px;
            }
	}
  }
}

.ig-feed {
	padding: 5rem 0;
	text-align: center;
	
	.w {
      @include wrap(90%, 1000px);
      display: block;
	}
	
	h3 {
      @extend .t-caps--title;
      margin-bottom: 1em;
      width: 100%;
      max-width: none;
      
      span {
        background-image: url({{"blue-lightlight.png" | asset_url }});
      }
	}
	
	p {
		@extend .t-smallcaps;
		@extend .t-sm;
		letter-spacing: 0.2em;
		line-height: 2em;
			
		
		a {
			color: inherit;
			text-decoration: none;
			margin: 0 1em;
		}
	}
	
}