<div class="error-404 not-found" style="background: url('https://cdn.shopify.com/s/files/1/0063/4529/3909/files/404.webp?v=1588863305') no-repeat right bottom; background-size: contain; min-height: 80vh; display: grid; align-content: center">
	<div class="404-content w" style="max-width: 900px; padding-right: 300px">
		<h1 class="t-title">Oops! We lost this page</h1>
		<h2 class="t-title-small">Maybe you are looking for <a href="/pages/what-is-bv" title="What is Bacterial Vaginosis: The Ultimate Guide" style="background:url({{"blue-light.png"| asset_url }}) repeat-x bottom; background-size: auto 40%; color: inherit">The ultimate guide to Bacterial Vaginosis</a> we created for you to better understanding BV?</h2>
		<h3 class="t-title-small">Check out ultimate <em class="color">women’s health solutions</em> that we created to prevent UTIs, repopulate and maintain a healthy vaginal flora. <a href="/products" title="Shop women’s health products" style="background:url({{"pink-light.png"| asset_url }}) repeat-x bottom; background-size: auto 40%; color: inherit">Shop Happy V<sup>&reg;</sup> products</a></h3>
		<p style="margin-top: 2em;">Or head straight to our <a href="/">home page</a></p>
	</div>
</div>

{% comment %}
<div class="page-width">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
{% endcomment %}