{%- section 'index--hero' -%}
{%- section 'index--top-brands' -%}
{%- section 'index--we-do-title' -%}
{%- section 'index--we-do' -%}
{% comment %}{%- section 'index--collections' -%}{% endcomment %}
{%- section 'index--gs-product_carousel' -%}
{% include 'index--products' %}
{%- section 'index--welcome' -%}	
{%- section 'index--customer-testimonials' -%}
{%- section 'index--dani' -%}
{%- section 'index--facility' -%}
{%- section 'index--experts' -%}

{% comment %}
{%- assign blog = blogs['blog'] -%}
{%- if blog.articles_count > 0 -%}
<div class="hp--blog w-90 hp--content-simple">
  {%- section 'index--blog' -%}
  {%- include 'index--blog.liquid'-%}
</div>
{%- endif -%}
{% endcomment %}

<div class="w-90 hp--content-simple">
  <h3>Connect with us @MYHAPPYV<!--br><a href="https://www.instagram.com/explore/tags/happyv/" target="_blank">#HAPPYV</a--></h3>
  <div id="insta-feed"></div>
  <a class="btn--secondary" href="https://www.instagram.com/myhappyv/" target="_blank" rel="noopener">Follow us</a>
</div>

{%- comment -%}
{%  include 'judgeme_widgets', widget_type: '', concierge_install: true, auto_install: true %}
{%- endcomment -%}