<div class="w-80">
  {% case page.handle %}
  {% when 'freebottle' %}
  	{% section 'form-freebottle' %}
  {% when 'press' %}
    {% section 'press' %}
  {% else %}
  	{{ page.content }}
  {% endcase %}
</div>
