{% if handle == 'help' %}
<div id="help-hq-manual"></div>
<script type="text/javascript">window.HELPHQ_DOMAIN = '{{ shop.permanent_domain }}'; window.HELPHQ_SHOP = '{{ shop.name }}'; (function() { var url = 'https://cdn.jsdelivr.net/gh/apphq/helphq-dist@master/helphq.js?' + new Date().getTime(); var s = document.createElement('script'); s.type = 'text/javascript'; s.src = url; var x = document.querySelector('body'); x.appendChild(s); })()</script>

<div class="help--faq g">
  <p>Have a question about specific product?</p>
  <a href="/pages/faq" class="underline" title="Product FAQs">Product FAQs</a>
</div>

{% elsif handle == 'faq' %}
{% section 'faq-top' %}

{% else %}
{{ page.content }}
{% endif %}
  
{% section 'faq-bottom' %}
