{% assign i_slug = page.metafields.custom_fields["i-slug"] %}
{% assign i_product = all_products[page.metafields.custom_fields["i_product_obj"]] %}
{% for image in i_product.images %}
    {% if image contains 'with-capsules' %}
    {% assign image_caps = forloop.index | minus: 1 %}
  	{% elsif image contains '-gallery-main'%}
    {% assign image_index = forloop.index | minus: 1 %}  
    {% endif %}
{% endfor %}

<div class="g colored-{{ all_products[i_product.handle].metafields.custom_fields["p-color"] }}">
<div class="p-content grid-image w-90 g i-header">
	<div class="g--1">
        <a href="/pages/ingredients" class="underline" title="All Ingredients">All Ingredients</a>
		<h1>{{ page.title }}</h1>
          {% if page.metafields.custom_fields["i_logo"] or page.metafields.custom_fields["i_tagline"] %}  
			<div class="i-header--top{% if page.metafields.custom_fields["i_logo"] %} i--logo{% endif %}">
			{% if page.metafields.custom_fields["i_logo"] %}<img src="{{page.metafields.custom_fields["i_logo"]}}" alt="{{page.title}}"/>{% endif %}
			{% if page.metafields.custom_fields["i_tagline"] %}<div>{{page.metafields.custom_fields["i_tagline"]}}</div>{% endif %}
			</div>
          {% endif %}

		{% if page.metafields.custom_fields["i_description"] %}<p>{{ page.metafields.custom_fields["i_description"] }}</p>{% endif %}
		
		<ol class="i--links">
			{% if page.metafields.custom_fields["i_role_text"] %}<li><a href="#role" class="underline" title="The role of {{ page.metafields.custom_fields['i_name'] }}">{% if page.metafields.custom_fields["i_role_q"] %}{{ page.metafields.custom_fields["i_role_q"] }}{% else %}What is the role of {{ page.metafields.custom_fields['i_name'] }}?{% endif %}</a></li>{% endif %}
			{% if page.metafields.custom_fields['i_benefits_text'] %}<li><a href="#benefits" class="underline" title="The benefits of {{ page.metafields.custom_fields['i_name'] }}">{% if page.metafields.custom_fields["i_benefits_q"] %}{{ page.metafields.custom_fields["i_benefits_q"] }}{% else %}What are the benefits of {{ page.metafields.custom_fields['i_name'] }}?{% endif %}</a></li>{% endif %}
			{% if page.metafields.custom_fields['i_works_text'] %}<li><a href="#how" class="underline" title="How does {{ page.metafields.custom_fields['i_name'] }} work?">{% if page.metafields.custom_fields["i_works_q"] %}{{ page.metafields.custom_fields["i_works_q"] }}{% else %}How does {{ page.metafields.custom_fields['i_name'] }} work?{% endif %}</a></li>{% endif %}
		</ol>
	</div>
	<div class="g--2">
		<div class="img-wrap">{% if page.metafields.custom_fields["i_hero_img"] %}<img src="{{ page.metafields.custom_fields["i_hero_img"] }}" alt="{{ page.title}}"/>{% endif %}</div>
	</div>
</div>	
  
{% if page.metafields.custom_fields["i_key"] %}
<div class="i-text">
	{{ page.metafields.custom_fields["i_key"] }}
</div>	
{% endif %}
  
{% if page.metafields.custom_fields["i_facts"] %}
<div class="p-content grid-image w-90 g">
	<div class="g--2"><div class="img-wrap">{% if page.metafields.custom_fields["i_img"] %}<img src="{{ page.metafields.custom_fields["i_img"] }}" alt="{{ page.title}}" />{% endif %}</div></div>
	<div class="g--1 i-facts"><h2>Because Transparency Matters:</h2>{{ page.metafields.custom_fields["i_facts"] }}</div>
</div>	
{% endif %}	
	
{% if page.metafields.custom_fields["i_role_text"] %}<a name="role"></a>
<div class="i-text">
	<h2>{% if page.metafields.custom_fields["i_role_title"] %}{{ page.metafields.custom_fields["i_role_title"] }}{% else %}The Role of {{ page.metafields.custom_fields["i_name"] }}{% endif %}</h2>
	<div class="i-role--text">{{ page.metafields.custom_fields["i_role_text"] }}</div>
</div>	
{% endif %}	
  
 
	
<div class="i-cta">
	<div class="g--1">
		<p>{{ page.metafields.custom_fields['i_name'] }} found in</p>
		<h3 class="product-title"><a href="{{ i_product.url }}">{{ all_products[i_product.handle].metafields.custom_fields["p_name_short"] }}</a></h3>
		<p>{{ all_products[i_product.handle].metafields.custom_fields["menu_txt"] }}</p>
		<a href="{{ i_product.url }}" class="btn--smaller" title="Shop {{ all_products[i_product.handle].metafields.custom_fields["p_name"] }}">Shop Now</a>	
	</div>
	<div class="g--2 img-wrap">
		<a href="{{ i_product.url }}"><img src="{{ i_product | img_url: '300x', scale: 2 }}" class="img" alt="{{ i_product.title }}"></a>
	</div>
</div>	
  
 
	
{% if page.metafields.custom_fields['i_benefits_text'] %}<a name="benefits"></a>
<div class="i-benefits">
  <div class="w">
	<h2>{% if page.metafields.custom_fields['i_benefits_title'] %}{{ page.metafields.custom_fields['i_benefits_title'] }}{% else %}Benefits of {{ page.metafields.custom_fields['i_name'] }}{% endif %}</h2>
	{{ page.metafields.custom_fields['i_benefits_text'] }}
  </div>
</div>	
{% endif %}		
	
{% if page.metafields.custom_fields['i_how_list'] %}
<div class="i-text i-how">
  {% if page.metafields.custom_fields['i_how_title'] %}<h3>{{ page.metafields.custom_fields['i_how_title'] }}</h3>{% endif %}
  {% if page.metafields.custom_fields['i_how_text'] %}<div>{{ page.metafields.custom_fields['i_how_text'] }}</div>{% endif %}
  {{ page.metafields.custom_fields['i_how_list'] }}
</div>	
{% endif %}
	
{% if page.metafields.custom_fields['i_works_text'] %}<a name="how"></a>
<div class="p-content grid-image w-90 g">
	<div class="g--2">{% if page.metafields.custom_fields['i_works_img'] %}<img src="{{ page.metafields.custom_fields['i_works_img'] }}" alt="{{ page.title}}"/>{% endif %}</div>
	<div class="g--1">
		<h2>{% if page.metafields.custom_fields['i_works_title'] %}{{ page.metafields.custom_fields['i_works_title'] }}{% else %}How {{ page.metafields.custom_fields['i_name'] }} works{% endif %}</h2>
		{{ page.metafields.custom_fields['i_works_text']}}
		<a href="{{ i_product.url }}" class="underline" title="Shop {{ all_products[i_product.handle].metafields.custom_fields["p_name"] }}">Found in: {{ i_product.title }}</a>	
	</div>
</div>	
{% endif %}	
	
  
  {% assign page_p = pages[page.metafields.custom_fields['i_paring_link']] %}
  {% if page_p.metafields.custom_fields['i_paring_img'] %}
  	{% assign i_p_img = page_p.metafields.custom_fields['i_paring_img'] %}
  {% else %}
  	{% assign i_p_img = page_p.metafields.custom_fields['i_img'] %}
  {% endif %}
  
  {% if page.metafields.custom_fields['i_paring_text'] %}
	<div class="i-paring">
	<div class="w">
		<h4><span>Synergistic Pairing</span></h4>
		<p>{{ page.metafields.custom_fields['i_paring_text'] }}</p>
		<div class="tri-1"><span style="background-image: url({{ i_p_img }})"></span></div>
		<div class="tri-2"><span>&amp;</span></div>
		<div class="tri-3"><a href="{{ page_p.url }}"><span>{{ page_p.metafields.custom_fields['i_name'] }}</span></a></div>
	</div>
</div>	
{% endif %}
  
{% if page.content.size > 0 %} 
<div class="i-text i-science">
 <h2>What science shows</h2>
 {{ page.content }}
</div>	
{% endif %}
  
{% if page.metafields.custom_fields['i_why_text'] %}   
<div class="i-why--1">
	<div class="w">
		<div class="g--1">
			<h2>{% if page.metafields.custom_fields['i_why_title'] %}{{ page.metafields.custom_fields['i_why_title'] }}{% else %}Why we chose {{ page.metafields.custom_fields['i_name_2'] }}{% endif %}</h2>
			{% if page.metafields.custom_fields['i_why_text'] %}{{ page.metafields.custom_fields['i_why_text'] }}{% endif %}
		</div>
		
		<div class="g--2">
			<div class="i-cta--why">
				<div class="img-wrap">
					<a href="{{ i_product.url }}" title="{{ i_product.title }}"><img src="{{ i_product | img_url: 'x300', scale: 2 }}" class="img" alt="{{ i_product.title }}"></a>
				</div>
				<div>
					<p>{{ page.metafields.custom_fields['i_name_2'] }} in action</p>
					<h3 class="product-title"><a href="{{ i_product.url }}">{{ all_products[i_product.handle].metafields.custom_fields["p_name_short"] }}</a></h3>
					<a href="{{ i_product.url }}" class="btn--smaller" title="Shop {{ all_products[i_product.handle].metafields.custom_fields["p_name"] }}">Shop Now</a>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if page.metafields.custom_fields['i_why_list_g'] %}
<ul class="i-why i-text">
  {% assign separator = "|###|" %}
  {% assign item_array = page.metafields.custom_fields["item"] | split: separator %}
  {% assign fc_keys = page.metafields.custom_fields["i_why_list_g"] | split: "," %}
  {% for i in fc_keys %}
  {% assign index = i | plus: 0 %}
  <li class="i-why--item">
    <span class="number">{{ index | plus : 1 }}</span><div>{{ item_array[index] }}</div>
  </li>
  {% endfor %}
</ul>
{% endif %}

	
{% if page.metafields.custom_fields['studies_list'] %}	
  <div class="i-studies i-text">
	<h3>Only clinically proven ingredients</h3>
    {{ page.metafields.custom_fields['studies_list'] }}
  </div>	
{% endif %}
{% if page.metafields.custom_fields['studies_num'] and page.metafields.custom_fields['studies_link'] %}
<div class="i-text"><h3>Check out the <a href="{{ page.metafields.custom_fields['studies_link'] }}" target="_blank">{{ page.metafields.custom_fields['studies_num'] }} studies</a> <nobr>on {{ page.metafields.custom_fields['studies_name'] }}</nobr></h3></div>
{% endif %}

{% if page.metafields.custom_fields['i_whitepapers_text'] or page.metafields.custom_fields["i_whitepapers_files"] %}		
<div class="i-whatepapers">
  <div class="i-text">
	<h3>Read the ingredient Whitepapers!</h3>
    <p>{{ page.metafields.custom_fields['i_whitepapers_text'] }}</p>
	<ul>
      {% assign separator = "|###|" %}
      {% assign file_array = page.metafields.custom_fields["file"] | split: separator %}
      {% assign file_name_array = page.metafields.custom_fields["file_name"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["i_whitepapers_files"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
      		<li><a href="{{ file_array[index] }}" class="underline">{% if file_name_array[index] != blank %}{{ file_name_array[index] }}{% else %}File{% endif %}</a></li>
      {% endfor %}
	</ul>
  </div>
</div>	
{% endif %}  
  
{% if page.metafields.custom_fields['i_myth'] %}	
<div class="i-text">
	<h3><span>Common Myth Busted:</span></h3>
	<div>{{ page.metafields.custom_fields['i_myth'] }}</div>
</div>	
{% endif %}	

<div class="p-content grid-image w-90 g">
	<div class="g--1">
		<div><h3>Check out {{ all_products[i_product.handle].metafields.custom_fields["p_name_short"] }} which has {{ page.metafields.custom_fields['i_name_2']}} inside!</h3>
		{{ page.metafields.custom_fields['i_product_text'] }}
		<a href="{{ i_product.url}}" class="btn">Shop now</a>
		</div>	
	</div>
	<div class="g--2">
      <a href="{{ i_product.url}}" title="Shop {{ all_products[i_product.handle].metafields.custom_fields["p_name"] }}" class="img-wrap">
      <img class="lazyload"
  			src="{{ i_product.images[image_index] | img_url: '650x' }}"
  			data-src="{{ i_product.images[image_index] | img_url: '300x' }}"
  			data-srcset="{{ i_product.images[image_index] | img_url: '650x' }} 1x, {{ i_product.images[image_index] | img_url: '1300x' }} 2x"
  			data-sizes="auto"
  			data-parent-fit="cover"
  			alt="{{ i_product.title }}"></a>
      </div>
</div>	

{% comment %}
{% assign blog = blogs[i_slug] %}
{% unless blog == blank %}
<div class="p-narrow">
  <h4><a href="http://blog.happyv.com" target="_blank">More about {{ page.metafields.custom_fields["i_name"] }} in our blog</a></h4>
  <ul class="p-blog g">
    {%- for article in blog.articles limit: 2 -%}
    <li>
      {% assign a_url_all = article.excerpt | split: '|' %}
      <a href="{{ a_url_all[1] }}" title="{{ article.title }}" target="_blank">
        <div class="img-wrap"><img src="{{ a_url_all[0] }}" alt="{{ article.title }}"></div>
        <p>{{ article.title }}</p>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <a href="http://blog.happyv.com" target="_blank" class="btn--secondary" aria-label="Happy V Blog">More articles</a>
</div>
{% endunless %}
{% endcomment %}

</div>


