{% if page.metafields.custom_fields["product"] != blank %}
{% assign product_ref = all_products[page.metafields.custom_fields["product"]] %}

<div class="w-80 g">
<div class="p-reviews">
  <h1>Write a review for {{product_ref.title}}</h1>
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product_ref %}
</div>
</div>


{% endif %}
