{% section 'about-banner' %}
{% section 'about-image-with-text' %}
{% section 'about-text-icons' %}
{% section 'about-image-with-text-1' %}
{% section 'about-vision'%}
{% section 'about-image-with-text-2' %}
{% section 'about-team-section' %}
{% section 'medical' %}