{%- section 'facility-video' -%}
{%- section 'facility-mission' -%}
{%- section 'facility-design' -%}
{%- section 'facility-materials' -%}
{%- section 'facility-people' -%}
{%- section 'facility-checkpoint-1' -%}
{%- section 'facility-production' -%}
{%- section 'facility-checkpoint-2' -%}
{%- section 'facility-packaging' -%}
{%- section 'facility-checkpoint-3' -%}
{%- section 'facility-shipping' -%}
{%- section 'facility-promise' -%}
