<div class="shopify-policy__container">
  <div class="shopify-policy__title">
	<h1>{{ page.title }}</h1>
  </div>
  <div class="shopify-policy__body">
	<div class="rte">
	{{ page.content }}
	</div>
  </div>
</div>