<div class="page-static">
  <div class="i-all">
	<div class="i-all--text">
		{{ page.content }}
	</div>
	
    {% assign ingredients = "probiotics-for-women, lactospore-lactic-acid-production-for-bv, pacran-cranberry-pills-for-bv, vitamin-c-for-bv, cannabidiol-cbd-for-premenstrual-syndrome, chasteberry, cuvitus-cucumber-for-pms-cramps, bialoe-aloe-vera-for-bv, chlorella-health-benefits, chlorophyllin-bv-odor-remedy" | split: ', ' %}
    <div class="i-all--list w">
      {% for item in ingredients %}
        {% assign i_page = pages[item] %}
      
        {% if i_page.metafields.custom_fields["i_all_img"] %}
      		{% assign menu_img = i_page.metafields.custom_fields["i_all_img"] %}
      	{% else %}
      		{% assign menu_img = i_page.metafields.custom_fields["i_paring_img"] %}
        {% endif %}
      
      	{% if i_page.metafields.custom_fields["i_all_title"] %}
      		{% assign menu_title = i_page.metafields.custom_fields["i_all_title"] %}
      	{% else %}
      		{% assign menu_title = i_page.metafields.custom_fields["i_name"] %}
        {% endif %}
      
      {% if i_page.metafields.custom_fields["i_all_subtitle"] %}
      		{% assign menu_subtitle = i_page.metafields.custom_fields["i_all_subtitle"] %}
      	{% else %}
      		{% assign menu_subtitle = i_page.metafields.custom_fields["i_short_name"] %}
        {% endif %}
     
      <div class="i-all--item list-{{ i_page.metafields.custom_fields["i-slug"] }}" style="background-image: url({{ menu_img }})">
        <h4><a href="{{ i_page.url }}" title="{{ i_page.title }}">{{ menu_title }}</a> <span>&#151; {{ menu_subtitle }}</span></h4>	
			<p>{{ i_page.metafields.custom_fields["i_all_description"] }}</p>	
			<a href="{{ i_page.url }}" class="underline">Learn more</a>
		</div>
      
      {% endfor %}
	</div>
  </div>
</div>
  
{% comment %}
  {% assign ingredients = "lactospore, probiotics, chlorophyllin, pacran, chlorella, vitaminc, aloe, cannabidiol, chasteberry, cucumber" | split: ', ' %}
      
$menu_img = get_field('i-all-img');

 
      {% assign i_slug = page.metafields.custom_fields["i-slug"] %}
{% assign i_product = all_products[page.metafields.custom_fields["i_product_obj"]] %}
      
      {% assign page_p = pages[page.metafields.custom_fields['i_paring_link']] %}
  {% if page_p.metafields.custom_fields['i_paring_img'] %}
  	{% assign i_p_img = page_p.metafields.custom_fields['i_paring_img'] %}
  {% else %}
  	{% assign i_p_img = page_p.metafields.custom_fields['i_img'] %}
  {% endif %}

{% assign page_p = pages[page.metafields.custom_fields['i_paring_link']] %}
      
	<?php 
	if($stati_children->have_posts()) :
	while($stati_children->have_posts()): $stati_children->the_post();
	
	?>

{% endcomment %} 