<style>
  @media (max-width: 768px) {
    .VueCarousel {
      max-width: 100vw !important;
    }
  }
</style>

<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/4WrLz_KTEp6tAsIWpJGjSg" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="123503"></div>