
<div class="page-product colored-blue page-simple" data-enable-history-state="true">
  {%- section 'product--simple' -%}
</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
[
  {
  "@context": "http://schema.org",
  "@type": "Organization",
	"name": {{ shop.name | json }},
    "url": {{ shop.url | append: page.url | json }},
    {% if section.settings.logo %}
    	{% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
    	"https://www.instagram.com/myhappyv/",
    	"https://www.facebook.com/myhappyv"
  	]
  },
{
"@context": "http://schema.org",
"@type": "Product",
"@id": {{ canonical_url | append: '#product' | json }},
  "brand": {
    "@type": "Brand",
    "name": "Happy V"
  },
  "description": {{ product.metafields.custom_fields["p_short"] | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_image.src | img_url: image_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        "url" : {{ shop.url | append: variant.url | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "seller": {
        	"@type": "Organization",
            "name": "Happy V"
        }
        {% comment %}{%- if variant.sku != blank -%}"sku": {{ variant.sku | json }},{%- endif -%}{% endcomment %}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
]
</script>

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>


